openapi: 3.2.0
info:
  title: 3vjia Open Platform Dedicated Services API
  version: '2026-09-05'
  summary: Home-furnishing 3D cloud design, quotation, order, manufacturing (AIMES/MOS/DMS) and AI operations exposed by the 3vjia (三维家) Open Platform.
  description: Machine-readable description of the 3vjia (三维家 / AiHouse) Open Platform, DERIVED — not published by the provider in this form.
  contact:
    name: 3vjia Open Platform
    url: https://dev.3vjia.com/
servers:
- url: https://open-gateway.3vjia.com
  description: 3vjia Open Platform gateway (current)
- url: https://open.3vjia.com
  description: Legacy open gateway — takes ?sysCode=external&access_token=
security:
- oauth2ClientCredentials: []
tags:
- name: Dedicated Services
  description: 专属服务
paths:
  /api/building/roommodel/v1/predict:
    post:
      operationId: apiBuildingRoommodelV1Predict
      summary: 识别户型
      tags:
      - Dedicated Services
      x-source-documentation: https://dev.3vjia.com/document?apiId=713058818141077606
      x-documentation-category: 专属服务 / C11476529
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                base64String:
                  type: string
                  description: base64加密串
                extendName:
                  type: string
                  description: 图片扩展名称
                imageMd5:
                  type: string
                  description: 图片md5
                scale:
                  type: string
                  description: 比列尺
                type:
                  type: string
                  description: AI生成户型的类型，例如：undoor 不要门
              required:
              - base64String
              - extendName
              - imageMd5
              - scale
            example:
              imageMd5: ''
              extendName: ''
              base64String: ''
              scale: ''
              type: ''
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
                    properties:
                      content:
                        type: string
                        description: xml内容
                      isSuccess:
                        type: boolean
                        description: 成功或失败状态
              example:
                msg: ''
                code: 0
                data:
                  content: ''
                  isSuccess: false
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/building/roommodel/v1/scale/point:
    post:
      operationId: apiBuildingRoommodelV1ScalePoint
      summary: 获取比例尺坐标信息
      tags:
      - Dedicated Services
      x-source-documentation: https://dev.3vjia.com/document?apiId=713058818141077585
      x-documentation-category: 专属服务 / C11476529
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                base64String:
                  type: string
                  description: base64加密串
              required:
              - base64String
            example:
              base64String: ''
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
                    properties:
                      content:
                        type: string
                        description: json字符串
                      isSuccess:
                        type: boolean
                        description: 成功或失败状态
              example:
                msg: ''
                code: 0
                data:
                  content: ''
                  isSuccess: false
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/calculation/quote_solution/sync_sale_price:
    post:
      operationId: apiCalculationQuotesolutionSyncsaleprice
      summary: 价格信息同步
      tags:
      - Dedicated Services
      x-source-documentation: https://dev.3vjia.com/document?apiId=791618173400137763
      x-documentation-category: 专属服务 / C00005461
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                salePrice:
                  type: object
                  properties:
                    isSyncSuccess:
                      type: integer
                      format: int32
                      description: 是否同步完成
                    salePriceId:
                      type: integer
                      format: int32
                      description: 销售方案id
                    endDate:
                      type: string
                      format: date-time
                      description: 有效期结束时间
                    remark:
                      type: string
                      description: 备注
                    salePriceName:
                      type: string
                      description: 销售方案名称
                    saleVersion:
                      type: integer
                      format: int32
                      description: 销售版本
                    startDate:
                      type: string
                      format: date-time
                      description: 有效期起始时间
                    startSyncDateTime:
                      type: string
                      format: date-time
                      description: 开始同步时间
                salePriceDetail:
                  type: array
                  items:
                    type: object
                    properties:
                      isSyncSuccess:
                        type: integer
                        format: int32
                        description: 是否同步完成
                      saleCode:
                        type: string
                        description: 品号
                      saleName:
                        type: string
                        description: 品名
                      salePrice:
                        type: number
                        format: bigdecimal
                        description: 销售单价
                      salePriceDetailId:
                        type: integer
                        format: int32
                        description: 销售方案明细ID
                      salePriceId:
                        type: integer
                        format: int32
                        description: 销售方案id
                  description: 销售方案明细信息
            example:
              salePrice:
                startSyncDateTime: ''
                saleVersion: 0
                endDate: ''
                remark: ''
                salePriceId: 0
                isSyncSuccess: 0
                salePriceName: ''
                startDate: ''
              salePriceDetail:
              - salePrice: 0
                salePriceDetailId: 0
                saleCode: ''
                salePriceId: 0
                isSyncSuccess: 0
                saleName: ''
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
              example:
                msg: ''
                code: 0
                data: false
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/casaprodesign/project/add:
    post:
      operationId: apiCasaprodesignProjectAdd
      summary: 添加项目
      tags:
      - Dedicated Services
      x-source-documentation: https://dev.3vjia.com/document?apiId=769625759609405570
      x-documentation-category: 专属服务 / C12684110
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                address:
                  type: string
                  description: 地址
                externalUserId:
                  type: string
                  description: 外部用户ID
                name:
                  type: string
                  description: 项目名称
                organId:
                  type: string
                  description: 组织ID
                projectId:
                  type: string
                  description: 外部项目ID
                userId:
                  type: integer
                  format: int64
                  description: 用户ID
            example:
              address: ''
              userId: 0
              externalUserId: ''
              name: ''
              organId: ''
              projectId: ''
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
              example:
                msg: ''
                code: 0
                data: 0
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/casaprodesign/project/getByProjectId:
    post:
      operationId: apiCasaprodesignProjectGetByProjectId
      summary: 根据主键查询项目信息
      tags:
      - Dedicated Services
      x-source-documentation: https://dev.3vjia.com/document?apiId=769625759609405589
      x-documentation-category: 专属服务 / C12684110
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
              required:
              - id
            example:
              id: ''
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
                    properties:
                      address:
                        type: string
                        description: 地址
                      createTime:
                        type: string
                        format: date-time
                        description: 创建时间
                      creatorId:
                        type: string
                        description: 创建人标识
                      id:
                        type: integer
                        format: int64
                        description: 唯一主键
                      modifierId:
                        type: string
                        description: 修改人标识
                      modifyTime:
                        type: string
                        format: date-time
                        description: 修改时间
                      name:
                        type: string
                        description: 项目名称
                      organId:
                        type: string
                        description: 组织ID
                      projectId:
                        type: string
                        description: 外部项目ID
                      schemeCount:
                        type: integer
                        format: int32
                        description: 方案数
                      schemeList:
                        type: array
                        items:
                          type: object
                          properties:
                            budget:
                              type: number
                              format: bigdecimal
                              description: 预算
                            createTime:
                              type: string
                              format: date-time
                              description: 创建时间
                            creatorId:
                              type: string
                              description: 创建人标识
                            floor:
                              type: string
                              description: 楼层
                            id:
                              type: integer
                              format: int64
                              description: 唯一主键
                            json:
                              type: string
                              description: 方案JSON数据
                            jsonEstimate:
                              type: string
                              description: 方案报价用量数据
                            modifierId:
                              type: string
                              description: 修改人标识
                            modifyTime:
                              type: string
                              format: date-time
                              description: 修改时间
                            previewImgVec2:
                              type: string
                              description: 2D预览图
                            previewImgVec3:
                              type: string
                              description: 3D预览图
                            projectId:
                              type: integer
                              format: int64
                              description: 项目ID
                            roomList:
                              type: array
                              items:
                                type: object
                                properties:
                                  createTime:
                                    type: string
                                    format: date-time
                                    description: 创建时间
                                  creatorId:
                                    type: string
                                    description: 创建人标识
                                  id:
                                    type: integer
                                    format: int64
                                    description: 唯一主键
                                  img:
                                    type: string
                                    description: 预览图
                                  modifierId:
                                    type: string
                                    description: 修改人标识
                                  modifyTime:
                                    type: string
                                    format: date-time
                                    description: 修改时间
                                  name:
                                    type: string
                                    description: 空间名称
                                  schemeId:
                                    type: integer
                                    format: int64
                                    description: 方案ID
                              description: 方案空间查询结果
                            style:
                              type: string
                              description: 风格套系
                        description: 方案查询结果
                      userId:
                        type: integer
                        format: int64
                        description: 用户ID
              example:
                msg: ''
                code: 0
                data:
                  schemeCount: 0
                  address: ''
                  creatorId: ''
                  modifierId: ''
                  userId: 0
                  modifyTime: ''
                  schemeList:
                  - jsonEstimate: ''
                    creatorId: ''
                    modifierId: ''
                    previewImgVec2: ''
                    previewImgVec3: ''
                    modifyTime: ''
                    createTime: ''
                    json: ''
                    style: ''
                    id: 0
                    floor: ''
                    projectId: 0
                    roomList:
                    - img: ''
                      creatorId: ''
                      modifierId: ''
                      schemeId: 0
                      modifyTime: ''
                      createTime: ''
                      name: ''
                      id: 0
                    budget: 0
                  createTime: ''
                  name: ''
                  organId: ''
                  id: 0
                  projectId: ''
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/casaprodesign/project/listByExternalUserId:
    post:
      operationId: apiCasaprodesignProjectListByExternalUserId
      summary: 根据外部用户id查询项目
      tags:
      - Dedicated Services
      x-source-documentation: https://dev.3vjia.com/document?apiId=769626514634461221
      x-documentation-category: 专属服务 / C12684110
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                address:
                  type: string
                  description: 地址
                address_lLike:
                  type: string
                  description: 地址左模糊
                address_like:
                  type: string
                  description: 地址全模糊
                address_rLike:
                  type: string
                  description: 地址右模糊
                createTime_ge:
                  type: string
                  format: date-time
                  description: 创建时间开始
                createTime_le:
                  type: string
                  format: date-time
                  description: 创建时间结束
                externalUserId:
                  type: string
                  description: 外部用户ID
                id:
                  type: integer
                  format: int64
                  description: 唯一主键
                id_in:
                  type: array
                  items: {}
                  description: 唯一主键列表
                modifyTime_ge:
                  type: string
                  format: date-time
                  description: 修改时间开始
                modifyTime_le:
                  type: string
                  format: date-time
                  description: 修改时间结束
                name:
                  type: string
                  description: 项目名称
                name_lLike:
                  type: string
                  description: 项目名称左模糊
                name_like:
                  type: string
                  description: 项目名称全模糊
                name_rLike:
                  type: string
                  description: 项目名称右模糊
                organId:
                  type: string
                  description: 组织ID
                organId_in:
                  type: array
                  items: {}
                  description: 组织ID列表
                projectId:
                  type: string
                  description: 外部项目ID
                projectId_in:
                  type: array
                  items: {}
                  description: 外部项目ID列表
                userId:
                  type: integer
                  format: int64
                  description: 用户ID
                userId_in:
                  type: array
                  items: {}
                  description: 用户ID列表
            example:
              userId_in: []
              address_lLike: ''
              createTime_ge: ''
              address: ''
              modifyTime_ge: ''
              name_lLike: ''
              name_like: ''
              name_rLike: ''
              userId: 0
              modifyTime_le: ''
              address_rLike: ''
              projectId_in: []
              externalUserId: ''
              organId_in: []
              name: ''
              createTime_le: ''
              organId: ''
              id: 0
              projectId: ''
              address_like: ''
              id_in: []
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
                    properties:
                      address:
                        type: string
                        description: 地址
                      createTime:
                        type: string
                        format: date-time
                        description: 创建时间
                      creatorId:
                        type: string
                        description: 创建人标识
                      id:
                        type: integer
                        format: int64
                        description: 唯一主键
                      modifierId:
                        type: string
                        description: 修改人标识
                      modifyTime:
                        type: string
                        format: date-time
                        description: 修改时间
                      name:
                        type: string
                        description: 项目名称
                      organId:
                        type: string
                        description: 组织ID
                      projectId:
                        type: string
                        description: 外部项目ID
                      schemeCount:
                        type: integer
                        format: int32
                        description: 方案数
                      schemeList:
                        type: array
                        items:
                          type: object
                          properties:
                            budget:
                              type: number
                              format: bigdecimal
                              description: 预算
                            createTime:
                              type: string
                              format: date-time
                              description: 创建时间
                            creatorId:
                              type: string
                              description: 创建人标识
                            floor:
                              type: string
                              description: 楼层
                            id:
                              type: integer
                              format: int64
                              description: 唯一主键
                            json:
                              type: string
                              description: 方案JSON数据
                            jsonEstimate:
                              type: string
                              description: 方案报价用量数据
                            modifierId:
                              type: string
                              description: 修改人标识
                            modifyTime:
                              type: string
                              format: date-time
                              description: 修改时间
                            previewImgVec2:
                              type: string
                              description: 2D预览图
                            previewImgVec3:
                              type: string
                              description: 3D预览图
                            projectId:
                              type: integer
                              format: int64
                              description: 项目ID
                            roomList:
                              type: array
                              items:
                                type: object
                                properties:
                                  createTime:
                                    type: string
                                    format: date-time
                                    description: 创建时间
                                  creatorId:
                                    type: string
                                    description: 创建人标识
                                  id:
                                    type: integer
                                    format: int64
                                    description: 唯一主键
                                  img:
                                    type: string
                                    description: 预览图
                                  modifierId:
                                    type: string
                                    description: 修改人标识
                                  modifyTime:
                                    type: string
                                    format: date-time
                                    description: 修改时间
                                  name:
                                    type: string
                                    description: 空间名称
                                  schemeId:
                                    type: integer
                                    format: int64
                                    description: 方案ID
                              description: 方案空间查询结果
                            style:
                              type: string
                              description: 风格套系
                        description: 方案查询结果
                      userId:
                        type: integer
                        format: int64
                        description: 用户ID
              example:
                msg: ''
                code: 0
                data:
                - schemeCount: 0
                  address: ''
                  creatorId: ''
                  modifierId: ''
                  userId: 0
                  modifyTime: ''
                  schemeList:
                  - jsonEstimate: ''
                    creatorId: ''
                    modifierId: ''
                    previewImgVec2: ''
                    previewImgVec3: ''
                    modifyTime: ''
                    createTime: ''
                    json: ''
                    style: ''
                    id: 0
                    floor: ''
                    projectId: 0
                    roomList:
                    - img: ''
                      creatorId: ''
                      modifierId: ''
                      schemeId: 0
                      modifyTime: ''
                      createTime: ''
                      name: ''
                      id: 0
                    budget: 0
                  createTime: ''
                  name: ''
                  organId: ''
                  id: 0
                  projectId: ''
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/casaprodesign/project/removeByProjectIds:
    post:
      operationId: apiCasaprodesignProjectRemoveByProjectIds
      summary: 删除项目
      tags:
      - Dedicated Services
      x-source-documentation: https://dev.3vjia.com/document?apiId=769626514634461240
      x-documentation-category: 专属服务 / C12684110
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items: {}
            example:
              ids: []
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
              example:
                msg: ''
                code: 0
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/casaprodesign/project/update:
    post:
      operationId: apiCasaprodesignProjectUpdate
      summary: 修改项目
      tags:
      - Dedicated Services
      x-source-documentation: https://dev.3vjia.com/document?apiId=769626514634461242
      x-documentation-category: 专属服务 / C12684110
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                address:
                  type: string
                  description: 地址
                externalUserId:
                  type: string
                  description: 外部用户ID
                id:
                  type: integer
                  format: int64
                  description: 唯一主键
                name:
                  type: string
                  description: 项目名称
                organId:
                  type: string
                  description: 组织ID
                projectId:
                  type: string
                  description: 外部项目ID
                userId:
                  type: integer
                  format: int64
                  description: 用户ID
            example:
              address: ''
              userId: 0
              externalUserId: ''
              name: ''
              organId: ''
              id: 0
              projectId: ''
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
              example:
                msg: ''
                code: 0
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/casaprodesign/user/getToken:
    post:
      operationId: apiCasaprodesignUserGetToken
      summary: 获取token
      tags:
      - Dedicated Services
      x-source-documentation: https://dev.3vjia.com/document?apiId=765885111592964194
      x-documentation-category: 专属服务 / C12684110
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                externalUserId:
                  type: string
                  description: 外部用户ID
              required:
              - externalUserId
            example:
              externalUserId: ''
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
              example:
                msg: ''
                code: 0
                data: ''
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/casaprodesign/user/register:
    post:
      operationId: apiCasaprodesignUserRegister
      summary: 注册用户
      tags:
      - Dedicated Services
      x-source-documentation: https://dev.3vjia.com/document?apiId=765885111592964192
      x-documentation-category: 专属服务 / C12684110
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                channelCode:
                  type: string
                  description: 渠道编码
                companyId:
                  type: integer
                  format: int32
                country:
                  type: string
                  description: 国家
                currentPageUrl:
                  type: string
                  description: 当前页面地址
                email:
                  type: string
                  description: 邮箱
                externalUserId:
                  type: string
                  description: 外部用户ID
                gclid:
                  type: string
                hasResend:
                  type: string
                industry:
                  type: string
                  description: 行业
                ivtCode:
                  type: string
                  description: 注册邀请码
                mobile:
                  type: string
                  description: 手机
                nickName:
                  type: string
                  description: 昵称
                oauth2LoginCode:
                  type: string
                  description: oauth2授权登录code
                openId:
                  type: string
                organId:
                  type: string
                  description: 组织ID
                owner:
                  type: string
                  description: 注册用户所有者
                ownerCode:
                  type: string
                password:
                  type: string
                  description: 密码
                prevPageUrl:
                  type: string
                  description: 前一个页面地址
                profession:
                  type: boolean
                  description: 职业
                province:
                  type: string
                  description: 省份
                regionCode:
                  type: string
                  description: 地区编码
                src:
                  type: string
              required:
              - country
              - email
              - externalUserId
              - organId
            example:
              owner: ''
              profession: false
              country: ''
              oauth2LoginCode: ''
              ownerCode: ''
              src: ''
              nickName: ''
              openId: ''
              mobile: ''
              industry: ''
              hasResend: ''
              prevPageUrl: ''
              currentPageUrl: ''
              gclid: ''
              companyId: 0
              password: ''
              regionCode: ''
              province: ''
              externalUserId: ''
              ivtCode: ''
              organId: ''
              email: ''
              channelCode: ''
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
              example:
                msg: ''
                code: 0
                data: false
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/factoryOrderOp/batchReturnCompletedFactoryOrderToShop:
    post:
      operationId: apiFactoryOrderOpBatchReturnCompletedFactoryOrderToShop
      summary: 已完成工厂订单批量退回门店
      tags:
      - Dedicated Services
      x-source-documentation: https://dev.3vjia.com/document?apiId=878213521912012905
      x-documentation-category: 专属服务 / C13044572
      description: 支持已完成的工厂订单执行批量退回到门店的操作，指定退回到门店，不提供选择退回到工厂的功能。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                factoryOrderIds:
                  type: array
                  items: {}
                  description: 工厂订单ID列表
                returnReason:
                  type: string
                  description: 退回原因
              required:
              - factoryOrderIds
              - returnReason
            example:
              factoryOrderIds: []
              returnReason: ''
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
                    properties:
                      returned:
                        type: integer
                        format: int32
                        description: 本次实际退回数量
                      skipped:
                        type: integer
                        format: int32
                        description: 已退回、按幂等规则跳过的数量
                      total:
                        type: integer
                        format: int32
                        description: 请求中去重后的工厂订单总数
              example:
                msg: ''
                code: 0
                data:
                  skipped: 0
                  total: 0
                  returned: 0
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/factoryOrderOp/batchUpdateQyCustomInformation:
    post:
      operationId: apiFactoryOrderOpBatchUpdateQyCustomInformation
      summary: 批量修改自定义信息
      tags:
      - Dedicated Services
      x-source-documentation: https://dev.3vjia.com/document?apiId=815156020069421127
      x-documentation-category: 专属服务 / C11876880
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                customOrderNo:
                  type: string
                  description: 自定义单号
                orderCode:
                  type: string
                  description: 订单号
                orderID:
                  type: integer
                  format: int64
                  description: 订单ID
                reviewInformation:
                  type: string
                  description: 属性Json
            example:
            - customOrderNo: ''
              orderCode: ''
              orderID: 0
              reviewInformation: ''
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
              example:
                msg: ''
                code: 0
                data: false
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/factoryOrderOp/invalidateFactoryOrdersBySaleOrder:
    post:
      operationId: apiFactoryOrderOpInvalidateFactoryOrdersBySaleOrder
      summary: 按销售单作废全部关联工厂单
      tags:
      - Dedicated Services
      x-source-documentation: https://dev.3vjia.com/document?apiId=878215050547052614
      x-documentation-category: 专属服务 / C13044572
      description: 该接口允许作废销售单下已完成的工厂单，但若工厂单中已有已退回订单，则作废失败。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  description: 作废原因，最大255个字符
                saleOrderId:
                  type: integer
                  format: int64
                  description: 销售单ID
              required:
              - reason
              - saleOrderId
            example:
              reason: ''
              saleOrderId: 0
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
                    properties:
                      invalidated:
                        type: integer
                        format: int32
                        description: 本次作废数量
                      skipped:
                        type: integer
                        format: int32
                        description: 已作废跳过数量
                      total:
                        type: integer
                        format: int32
                        description: 关联工厂单总数
              example:
                msg: ''
                code: 0
                data:
                  skipped: 0
                  total: 0
                  invalidated: 0
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/factoryOrderOp/listShoppingCartBySchemeId:
    post:
      operationId: apiFactoryOrderOpListShoppingCartBySchemeId
      summary: 通过方案ID查询购物车订单列表（全友）
      tags:
      - Dedicated Services
      x-source-documentation: https://dev.3vjia.com/document?apiId=790979449532338237
      x-documentation-category: 专属服务 / C11876880
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                schemeId:
                  type: string
                  description: 方案ID
            example:
              schemeId: ''
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
                    properties:
                      bomXmlUrl:
                        type: string
                        description: 工厂订单BOM XML文件URL
                      buildingId:
                        type: string
                        description: 楼栋ID
                      buildingName:
                        type: string
                        description: 楼栋名称
                      channelId:
                        type: string
                        description: 渠道ID
                      channelName:
                        type: string
                        description: 渠道名称
                      communityId:
                        type: string
                        description: 小区ID
                      communityName:
                        type: string
                        description: 小区名称
                      confirmRemark:
                        type: string
                        description: 确认备注
                      createTime:
                        type: string
                        format: date-time
                        description: 创建时间
                      discountBeforePrice:
                        type: number
                        format: bigdecimal
                        description: 折前金额
                      doorWindowType:
                        type: integer
                        format: int32
                        description: 整木类型，1-板式，2-实木
                      floorId:
                        type: string
                        description: 楼层ID
                      floorName:
                        type: string
                        description: 楼层名称
                      id:
                        type: integer
                        format: int64
                        description: 主键id
                      imagepath:
                        type: string
                        description: 3D方案图片路径
                      installPosition:
                        type: string
                        description: 安装位置
                      isConfirm:
                        type: integer
                        format: int32
                        description: 是否确认
                      isDesignDrawing:
                        type: integer
                        format: int32
                        description: 是否设计出图进行分配:1-是;0-否
                      isEngineeringOrder:
                        type: integer
                        format: int32
                        description: 是否工程单（0否，1是）
                      isTempOrder:
                        type: integer
                        format: int32
                        description: 是否临时订单
                      material:
                        type: string
                        description: 主材
                      moduleCode:
                        type: string
                        description: 模块代码 cupboard 橱柜,wardrobe 衣柜,systemCabinet 系统柜,furnitureType 成品,ceilingAll 顶墙,doorWindow 门窗,bathRoom 淋浴房,aluminum 铝门窗
                      orderCategoryDictKey:
                        type: string
                        description: 订单品类Code
                      orderCategoryDictVal:
                        type: string
                        description: 订单品类
                      orderName:
                        type: string
                        description: 订单名称
                      orderSuit:
                        type: integer
                        format: int32
                        description: 订单套数（默认1，最大999）
                      productionSize:
                        type: string
                        description: 尺寸
                      projectId:
                        type: string
                        description: 项目id
                      remarks:
                        type: string
                        description: 备注
                      salesPrice:
                        type: number
                        format: bigdecimal
                        description: 销售价
                      schemeId:
                        type: string
                        description: 3D方案号
                      schemeName:
                        type: string
                        description: 3D方案名称
                      summaryRemarks:
                        type: string
                        description: 备注汇总
                      totalPrice:
                        type: number
                        format: bigdecimal
                        description: 订单总价（原价）
                      classificationList:
                        type: array
                        items:
                          type: object
                          properties:
                            classificationCode:
                              type: integer
                              format: int32
                              description: 库id
                            classificationName:
                              type: string
                              description: 库名称
                            qyChannel:
                              type: string
                              description: 渠道
                        description: 从属库
                      fdocumentStatus:
                        type: string
                        description: 购物车状态
                      flowNodeStatusName:
                        type: string
                        description: 当前订单状态节点名称
                      orderCode:
                        type: string
                        description: 订单编号
                      shoppingCartId:
                        type: integer
                        format: int64
                        description: 购物车id
                      reviewOrderName:
                        type: string
                        description: 审核单名称
                    required:
                    - id
              example:
                msg: ''
                code: 0
                data:
                - bomXmlUrl: ''
                  productionSize: ''
                  totalPrice: 0
                  salesPrice: 0
                  schemeId: ''
                  shoppingCartId: 0
                  floorId: ''
                  orderCategoryDictKey: ''
                  orderCategoryDictVal: ''
                  orderSuit: 0
                  isConfirm: 0
                  isEngineeringOrder: 0
                  communityName: ''
                  isTempOrder: 0
                  floorName: ''
                  id: 0
                  communityId: ''
                  channelId: ''
                  isDesignDrawing: 0
                  orderName: ''
                  classificationList:
                  - classificationCode: 0
                    classificationName: ''
                    qyChannel: ''
                  moduleCode: ''
                  summaryRemarks: ''
                  confirmRemark: ''
                  schemeName: ''
                  flowNodeStatusName: ''
                  buildingId: ''
                  reviewOrderName: ''
                  fdocumentStatus: ''
                  buildingName: ''
                  installPosition: ''
                  discountBeforePrice: 0
                  imagepath: ''
                  material: ''
                  createTime: ''
                  channelName: ''
                  orderCode: ''
                  projectId: ''
                  remarks: ''
                  doorWindowType: 0
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/factoryOrderOp/setAutoSplitOrderPriority:
    post:
      operationId: apiFactoryOrderOpSetAutoSplitOrderPriority
      summary: 设置自动拆单优先级
      tags:
      - Dedicated Services
      x-source-documentation: https://dev.3vjia.com/document?apiId=815251902123102324
      x-documentation-category: 专属服务 / C11876880
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                extend1:
                  type: string
                  description: 扩展字段1
                extend2:
                  type: string
                  description: 扩展字段2
                extend3:
                  type: string
                  description: 扩展字段3
                extend4:
                  type: string
                  description: 扩展字段4
                extend5:
                  type: string
                  description: 扩展字段5
                orderType:
                  type: string
                  description: 产品类型
                productNo:
                  type: string
                  description: 产品编码(全友的订单号)
                splitLevel:
                  type: string
                  description: 拆单优先级
                splitType:
                  type: string
                  description: 拆单类别
            example:
              orderType: ''
              splitLevel: ''
              splitType: ''
              extend3: ''
              extend2: ''
              extend5: ''
              extend4: ''
              extend1: ''
              productNo: ''
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
              example:
                msg: ''
                code: 0
                data: false
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/factoryOrderOp/submitShopOrder:
    post:
      operationId: apiFactoryOrderOpSubmitShopOrder
      summary: 订单状态变更
      tags:
      - Dedicated Services
      x-source-documentation: https://dev.3vjia.com/document?apiId=790978206617456735
      x-documentation-category: 专属服务 / C11876880
      description: 下销售单
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items: {}
                  description: 工厂订单IDS
            example:
              ids: []
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
              example:
                msg: ''
                code: 0
                data: false
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/factoryOrderXHXNew/getFactoryOrderDataOss:
    post:
      operationId: apiFactoryOrderXHXNewGetFactoryOrderDataOss
      summary: 获取工厂订单数据
      tags:
      - Dedicated Services
      x-source-documentation: https://dev.3vjia.com/document?apiId=857625361431810135
      x-documentation-category: 专属服务 / C10506333
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  format: int64
                  description: 工厂订单id
              required:
              - id
            example:
              id: 0
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
              example:
                msg: ''
                code: 0
                data: ''
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/factoryOrderXHXNew/getFactoryOrderList:
    post:
      operationId: apiFactoryOrderXHXNewGetFactoryOrderList
      summary: 获取销售单ID工厂订单列表
      tags:
      - Dedicated Services
      x-source-documentation: https://dev.3vjia.com/document?apiId=857624103111250046
      x-documentation-category: 专属服务 / C10506333
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  format: int64
                  description: 销售单ID
              required:
              - id
            example:
              id: 0
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
                    properties:
                      createOrderUserName:
                        type: string
                      createTime:
                        type: string
                        format: date-time
                        description: 创建时间
                      id:
                        type: integer
                        format: int64
                        description: 主键id
                      orderCode:
                        type: string
                        description: 订单编号
                      orderName:
                        type: string
                        description: 订单名称
                      schemeId:
                        type: string
                        description: 3D方案号
                      schemeName:
                        type: string
                        description: 方案名称
                      shopDeptId:
                        type: string
                        description: 经销商所在部门id
                      shopId:
                        type: string
                        description: 经销商ID
                      shopName:
                        type: string
                        description: 经销商名称
                      shopOrderCode:
                        type: string
                        description: 门店订单Code
                      shopOrderId:
                        type: integer
                        format: int64
                        description: 门店订单ID
                      shopOrderName:
                        type: string
                        description: 销售订单名称
                      totalPrice:
                        type: number
                        format: bigdecimal
                        description: 订单总价（原价）
                      urlParam:
                        type: string
                        description: 外部参数
                    required:
                    - createTime
                    - id
              example:
                msg: ''
                code: 0
                data:
                - shopOrderCode: ''
                  shopDeptId: ''
                  totalPrice: 0
                  schemeName: ''
                  shopName: ''
                  shopOrderName: ''
                  schemeId: ''
                  urlParam: ''
                  createOrderUserName: ''
                  shopOrderId: 0
                  createTime: ''
                  orderCode: ''
                  id: 0
                  shopId: ''
                  orderName: ''
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/musi/upSaleOrderFlow:
    post:
      operationId: apiMusiUpSaleOrderFlow
      summary: 修改售后订单流程到下单节点
      tags:
      - Dedicated Services
      x-source-documentation: https://dev.3vjia.com/document?apiId=663065859396358172
      x-documentation-category: 专属服务 / C10495030
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                orderCode:
                  type: string
                  description: 订单号
                orderID:
                  type: integer
                  format: int64
                  description: 订单ID
            example:
              orderID: 0
              orderCode: ''
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
              example:
                msg: ''
                code: 0
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/omni/material/deleteBySerialNumbers:
    post:
      operationId: apiOmniMaterialDeleteBySerialNumbers
      summary: 根据序列号删除数据
      tags:
      - Dedicated Services
      x-source-documentation: https://dev.3vjia.com/document?apiId=776899277749370951
      x-documentation-category: 专属服务 / C00063204
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                dataType:
                  type: integer
                  format: int32
                  description: 数据类型, 1：门板， 2：柜体板， 3：防水板
                serialNumbers:
                  type: array
                  items: {}
                  description: 序列号列表
            example:
              dataType: 0
              serialNumbers: []
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
                    properties:
                      msg:
                        type: string
                        description: 失败原因
                      notFoundSerialNumbers:
                        type: array
                        items: {}
                        description: 未找到序列号
                      result:
                        type: boolean
                        description: 删除结果
              example:
                msg: ''
                code: 0
                data:
                  msg: ''
                  notFoundSerialNumbers: []
                  result: false
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/omni/material/materialCabinetBoard/getBySerialNumbers:
    post:
      operationId: apiOmniMaterialMaterialCabinetBoardGetBySerialNumbers
      summary: 根据序列号获取柜体板数据
      tags:
      - Dedicated Services
      x-source-documentation: https://dev.3vjia.com/document?apiId=772116924552335464
      x-documentation-category: 专属服务 / C00063204
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                serialNumbers:
                  type: array
                  items: {}
                  description: 列号列表
              required:
              - serialNumbers
            example:
              serialNumbers: []
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
                    properties:
                      activated:
                        type: integer
                        format: int32
                        description: 启用状态, 0-禁用, 1-启用
                      baseMaterialCode:
                        type: string
                        description: 基材物料编码
                      baseMaterialName:
                        type: string
                        description: 基材名称
                      edge:
                        type: string
                        description: 封边
                      edgeCode:
                        type: string
                        description: 封边编码
                      edgeThickness:
                        type: number
                        format: bigdecimal
                        description: 封边厚度
                      height:
                        type: number
                        format: bigdecimal
                        description: 高度
                      materialCode:
                        type: string
                        description: 材质编码
                      materialName:
                        type: string
                        description: 材质名称
                      serialNumber:
                        type: string
                        description: 序列号
                      specialEdge:
                        type: string
                        description: 封边（特殊）
                      specialEdgeCode:
                        type: string
                        description: 封边编码（特殊）
                      specialEdgeThickness:
                        type: number
                        format: bigdecimal
                        description: 特殊封边厚度
                      thickness:
                        type: number
                        format: bigdecimal
                        description: 板厚
              example:
                msg: ''
                code: 0
                data:
                - edgeThickness: 0
                  specialEdgeThickness: 0
                  serialNumber: ''
                  thickness: 0
                  materialCode: ''
                  specialEdge: ''
                  materialName: ''
                  baseMaterialCode: ''
                  edge: ''
                  edgeCode: ''
                  specialEdgeCode: ''
                  activated: 0
                  baseMaterialName: ''
                  height: 0
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/omni/material/materialCabinetBoard/update:
    post:
      operationId: apiOmniMaterialMaterialCabinetBoardUpdate
      summary: 更新柜体板数据
      tags:
      - Dedicated Services
      x-source-documentation: https://dev.3vjia.com/document?apiId=772117176231546988
      x-documentation-category: 专属服务 / C00063204
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                activated:
                  type: integer
                  format: int32
                  description: 启用状态, 0-禁用, 1-启用
                baseMaterialCode:
                  type: string
                  description: 基材物料编码
                baseMaterialName:
                  type: string
                  description: 基材名称
                edge:
                  type: string
                  description: 封边
                edgeCode:
                  type: string
                  description: 封边编码
                edgeThickness:
                  type: number
                  format: bigdecimal
                  description: 封边厚度
                height:
                  type: number
                  format: bigdecimal
                  description: 高度
                materialCode:
                  type: string
                  description: 材质编码
                materialName:
                  type: string
                  description: 材质名称
                serialNumber:
                  type: string
                  description: 序列号
                specialEdge:
                  type: string
                  description: 封边（特殊）
                specialEdgeCode:
                  type: string
                  description: 封边编码（特殊）
                specialEdgeThickness:
                  type: number
                  format: bigdecimal
                  description: 特殊封边厚度
                thickness:
                  type: number
                  format: bigdecimal
                  description: 板厚
              required:
              - serialNumber
            example:
            - activated: 0
              baseMaterialCode: ''
              baseMaterialName: ''
              edge: ''
              edgeCode: ''
              edgeThickness: 0
              height: 0
              materialCode: ''
              materialName: ''
              serialNumber: ''
              specialEdge: ''
              specialEdgeCode: ''
              specialEdgeThickness: 0
              thickness: 0
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
                    properties:
                      addDatas:
                        type: array
                        items:
                          type: object
                          properties:
                            activated:
                              type: integer
                              format: int32
                              description: 启用状态, 0-禁用, 1-启用
                            baseMaterialCode:
                              type: string
                              description: 基材物料编码
                            baseMaterialName:
                              type: string
                              description: 基材名称
                            edge:
                              type: string
                              description: 封边
                            edgeCode:
                              type: string
                              description: 封边编码
                            edgeThickness:
                              type: number
                              format: bigdecimal
                              description: 封边厚度
                            height:
                              type: number
                              format: bigdecimal
                              description: 高度
                            materialCode:
                              type: string
                              description: 材质编码
                            materialName:
                              type: string
                              description: 材质名称
                            serialNumber:
                              type: string
                              description: 序列号
                            specialEdge:
                              type: string
                              description: 封边（特殊）
                            specialEdgeCode:
                              type: string
                              description: 封边编码（特殊）
                            specialEdgeThickness:
                              type: number
                              format: bigdecimal
                              description: 特殊封边厚度
                            thickness:
                              type: number
                              format: bigdecimal
                              description: 板厚
                        description: 新增的数据
                      result:
                        type: boolean
                        description: 是否更新成功
                      updateDatas:
                        type: array
                        items:
                          type: object
                          properties:
                            activated:
                              type: integer
                              format: int32
                              description: 启用状态, 0-禁用, 1-启用
                            baseMaterialCode:
                              type: string
                              description: 基材物料编码
                            baseMaterialName:
                              type: string
                              description: 基材名称
                            edge:
                              type: string
                              description: 封边
                            edgeCode:
                              type: string
                              description: 封边编码
                            edgeThickness:
                              type: number
                              format: bigdecimal
                              description: 封边厚度
                            height:
                              type: number
                              format: bigdecimal
                              description: 高度
                            materialCode:
                              type: string
                              description: 材质编码
                            materialName:
                              type: string
                              description: 材质名称
                            serialNumber:
                              type: string
                              description: 序列号
                            specialEdge:
                              type: string
                              description: 封边（特殊）
                            specialEdgeCode:
                              type: string
                              description: 封边编码（特殊）
                            specialEdgeThickness:
                              type: number
                              format: bigdecimal
                              description: 特殊封边厚度
                            thickness:
                              type: number
                              format: bigdecimal
                              description: 板厚
                        description: 更新的数据
              example:
                msg: ''
                code: 0
                data:
                  updateDatas:
                  - edgeThickness: 0
                    specialEdgeThickness: 0
                    serialNumber: ''
                    thickness: 0
                    materialCode: ''
                    specialEdge: ''
                    materialName: ''
                    baseMaterialCode: ''
                    edge: ''
                    edgeCode: ''
                    specialEdgeCode: ''
                    activated: 0
                    baseMaterialName: ''
                    height: 0
                  result: false
                  addDatas:
                  - edgeThickness: 0
                    specialEdgeThickness: 0
                    serialNumber: ''
                    thickness: 0
                    materialCode: ''
                    specialEdge: ''
                    materialName: ''
                    baseMaterialCode: ''
                    edge: ''
                    edgeCode: ''
                    specialEdgeCode: ''
                    activated: 0
                    baseMaterialName: ''
                    height: 0
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/omni/material/materialDoorPanel/getBySerialNumbers:
    post:
      operationId: apiOmniMaterialMaterialDoorPanelGetBySerialNumbers
      summary: 根据序列号获取门板数据
      tags:
      - Dedicated Services
      x-source-documentation: https://dev.3vjia.com/document?apiId=772118182889672777
      x-documentation-category: 专属服务 / C00063204
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                serialNumbers:
                  type: array
                  items: {}
                  description: 列号列表
              required:
              - serialNumbers
            example:
              serialNumbers: []
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
                    properties:
                      activated:
                        type: integer
                        format: int32
                        description: 启用状态, 0-禁用, 1-启用
                      doorModelCode:
                        type: string
                        description: 门型编码
                      doorModelName:
                        type: string
                        description: 门型名称
                      edge1Code:
                        type: string
                        description: 封边1编码
                      edge1Name:
                        type: string
                        description: 封边1名称（厚）
                      edge1Thickness:
                        type: number
                        format: bigdecimal
                        description: 封边1厚度
                      edge2Code:
                        type: string
                        description: 封边2编码
                      edge2Name:
                        type: string
                        description: 封边2名称（特殊）
                      edge2Thickness:
                        type: number
                        format: bigdecimal
                        description: 封边2厚度
                      environmentalGrade:
                        type: string
                        description: 环保等级
                      height:
                        type: number
                        format: bigdecimal
                        description: 高度
                      materialCode:
                        type: string
                        description: 材质编码
                      materialName:
                        type: string
                        description: 材质名称
                      regularBaseMaterialCode:
                        type: string
                        description: 常规基材物料编码
                      regularBaseMaterialName:
                        type: string
                        description: 常规基材名称
                      serialNumber:
                        type: string
                        description: 序列号
                      surfaceMaterialCode:
                        type: string
                        description: 面材编码
                      surfaceMaterialName:
                        type: string
                        description: 面材名称
                      thickness:
                        type: number
                        format: bigdecimal
                        description: 板厚
                      typeCode:
                        type: string
                        description: 类型编码
                      typeName:
                        type: string
                        description: 类型名称
              example:
                msg: ''
                code: 0
                data:
                - edge2Thickness: 0
                  edge1Code: ''
                  regularBaseMaterialCode: ''
                  serialNumber: ''
                  thickness: 0
                  environmentalGrade: ''
                  typeName: ''
                  materialCode: ''
                  doorModelName: ''
                  doorModelCode: ''
                  typeCode: ''
                  materialName: ''
                  edge2Code: ''
                  edge1Thickness: 0
                  edge2Name: ''
                  edge1Name: ''
                  regularBaseMaterialName: ''
                  surfaceMaterialCode: ''
                  surfaceMaterialName: ''
                  activated: 0
                  height: 0
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/omni/material/materialDoorPanel/update:
    post:
      operationId: apiOmniMaterialMaterialDoorPanelUpdate
      summary: 更新门板数据
      tags:
      - Dedicated Services
      x-source-documentation: https://dev.3vjia.com/document?apiId=772118182889672757
      x-documentation-category: 专属服务 / C00063204
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                activated:
                  type: integer
                  format: int32
                  description: 启用状态, 0-禁用, 1-启用
                doorModelCode:
                  type: string
                  description: 门型编码
                doorModelName:
                  type: string
                  description: 门型名称
                edge1Code:
                  type: string
                  description: 封边1编码
                edge1Name:
                  type: string
                  description: 封边1名称（厚）
                edge1Thickness:
                  type: number
                  format: bigdecimal
                  description: 封边1厚度
                edge2Code:
                  type: string
                  description: 封边2编码
                edge2Name:
                  type: string
                  description: 封边2名称（特殊）
                edge2Thickness:
                  type: number
                  format: bigdecimal
                  description: 封边2厚度
                environmentalGrade:
                  type: string
                  description: 环保等级
                height:
                  type: number
                  format: bigdecimal
                  description: 高度
                materialCode:
                  type: string
                  description: 材质编码
                materialName:
                  type: string
                  description: 材质名称
                regularBaseMaterialCode:
                  type: string
                  description: 常规基材物料编码
                regularBaseMaterialName:
                  type: string
                  description: 常规基材名称
                serialNumber:
                  type: string
                  description: 序列号
                surfaceMaterialCode:
                  type: string
                  description: 面材编码
                surfaceMaterialName:
                  type: string
                  description: 面材名称
                thickness:
                  type: number
                  format: bigdecimal
                  description: 板厚
                typeCode:
                  type: string
                  description: 类型编码
                typeName:
                  type: string
                  description: 类型名称
              required:
              - serialNumber
            example:
            - activated: 0
              doorModelCode: ''
              doorModelName: ''
              edge1Code: ''
              edge1Name: ''
              edge1Thickness: 0
              edge2Code: ''
              edge2Name: ''
              edge2Thickness: 0
              environmentalGrade: ''
              height: 0
              materialCode: ''
              materialName: ''
              regularBaseMaterialCode: ''
              regularBaseMaterialName: ''
              serialNumber: ''
              surfaceMaterialCode: ''
              surfaceMaterialName: ''
              thickness: 0
              typeCode: ''
              typeName: ''
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
                    properties:
                      addDatas:
                        type: array
                        items:
                          type: object
                          properties:
                            activated:
                              type: integer
                              format: int32
                              description: 启用状态, 0-禁用, 1-启用
                            doorModelCode:
                              type: string
                              description: 门型编码
                            doorModelName:
                              type: string
                              description: 门型名称
                            edge1Code:
                              type: string
                              description: 封边1编码
                            edge1Name:
                              type: string
                              description: 封边1名称（厚）
                            edge1Thickness:
                              type: number
                              format: bigdecimal
                              description: 封边1厚度
                            edge2Code:
                              type: string
                              description: 封边2编码
                            edge2Name:
                              type: string
                              description: 封边2名称（特殊）
                            edge2Thickness:
                              type: number
                              format: bigdecimal
                              description: 封边2厚度
                            environmentalGrade:
                              type: string
                              description: 环保等级
                            height:
                              type: number
                              format: bigdecimal
                              description: 高度
                            materialCode:
                              type: string
                              description: 材质编码
                            materialName:
                              type: string
                              description: 材质名称
                            regularBaseMaterialCode:
                              type: string
                              description: 常规基材物料编码
                            regularBaseMaterialName:
                              type: string
                              description: 常规基材名称
                            serialNumber:
                              type: string
                              description: 序列号
                            surfaceMaterialCode:
                              type: string
                              description: 面材编码
                            surfaceMaterialName:
                              type: string
                              description: 面材名称
                            thickness:
                              type: number
                              format: bigdecimal
                              description: 板厚
                            typeCode:
                              type: string
                              description: 类型编码
                            typeName:
                              type: string
                              description: 类型名称
                        description: 新增的数据
                      result:
                        type: boolean
                        description: 是否更新成功
                      updateDatas:
                        type: array
                        items:
                          type: object
                          properties:
                            activated:
                              type: integer
                              format: int32
                              description: 启用状态, 0-禁用, 1-启用
                            doorModelCode:
                              type: string
                              description: 门型编码
                            doorModelName:
                              type: string
                              description: 门型名称
                            edge1Code:
                              type: string
                              description: 封边1编码
                            edge1Name:
                              type: string
                              description: 封边1名称（厚）
                            edge1Thickness:
                              type: number
                              format: bigdecimal
                              description: 封边1厚度
                            edge2Code:
                              type: string
                              description: 封边2编码
                            edge2Name:
                              type: string
                              description: 封边2名称（特殊）
                            edge2Thickness:
                              type: number
                              format: bigdecimal
                              description: 封边2厚度
                            environmentalGrade:
                              type: string
                              description: 环保等级
                            height:
                              type: number
                              format: bigdecimal
                              description: 高度
                            materialCode:
                              type: string
                              description: 材质编码
                            materialName:
                              type: string
                              description: 材质名称
                            regularBaseMaterialCode:
                              type: string
                              description: 常规基材物料编码
                            regularBaseMaterialName:
                              type: string
                              description: 常规基材名称
                            serialNumber:
                              type: string
                              description: 序列号
                            surfaceMaterialCode:
                              type: string
                              description: 面材编码
                            surfaceMaterialName:
                              type: string
                              description: 面材名称
                            thickness:
                              type: number
                              format: bigdecimal
                              description: 板厚
                            typeCode:
                              type: string
                              description: 类型编码
                            typeName:
                              type: string
                              description: 类型名称
                        description: 修改的数据
              example:
                msg: ''
                code: 0
                data:
                  updateDatas:
                  - edge2Thickness: 0
                    edge1Code: ''
                    regularBaseMaterialCode: ''
                    serialNumber: ''
                    thickness: 0
                    environmentalGrade: ''
                    typeName: ''
                    materialCode: ''
                    doorModelName: ''
                    doorModelCode: ''
                    typeCode: ''
                    materialName: ''
                    edge2Code: ''
                    edge1Thickness: 0
                    edge2Name: ''
                    edge1Name: ''
                    regularBaseMaterialName: ''
                    surfaceMaterialCode: ''
                    surfaceMaterialName: ''
                    activated: 0
                    height: 0
                  result: false
                  addDatas:
                  - edge2Thickness: 0
                    edge1Code: ''
                    regularBaseMaterialCode: ''
                    serialNumber: ''
                    thickness: 0
                    environmentalGrade: ''
                    typeName: ''
                    materialCode: ''
                    doorModelName: ''
                    doorModelCode: ''
                    typeCode: ''
                    materialName: ''
                    edge2Code: ''
                    edge1Thickness: 0
                    edge2Name: ''
                    edge1Name: ''
                    regularBaseMaterialName: ''
                    surfaceMaterialCode: ''
                    surfaceMaterialName: ''
                    activated: 0
                    height: 0
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/omni/material/materialWaterproofBoard/getBySerialNumbers:
    post:
      operationId: apiOmniMaterialMaterialWaterproofBoardGetBySerialNumbers
      summary: 根据序列号获取防水板数据
      tags:
      - Dedicated Services
      x-source-documentation: https://dev.3vjia.com/document?apiId=772125320928182344
      x-documentation-category: 专属服务 / C00063204
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                serialNumbers:
                  type: array
                  items: {}
                  description: 列号列表
              required:
              - serialNumbers
            example:
              serialNumbers: []
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
                    properties:
                      activated:
                        type: integer
                        format: int32
                        description: 是否停用,
                      baseMaterialCode:
                        type: string
                        description: 基材物料编码
                      baseMaterialName:
                        type: string
                        description: 基材名称
                      category:
                        type: string
                        description: 品类
                      categoryCode:
                        type: string
                        description: 品类编码
                      edge:
                        type: string
                        description: 封边
                      edgeCode:
[...]
