openapi: 3.2.0
info:
  title: 3vjia Open Platform MOS API
  version: '2026-09-05'
  summary: Home-furnishing 3D cloud design, quotation, order, manufacturing (AIMES/MOS/DMS) and AI operations exposed by the 3vjia (三维家) Open Platform.
  description: Machine-readable description of the 3vjia (三维家 / AiHouse) Open Platform, DERIVED — not published by the provider in this form.
  contact:
    name: 3vjia Open Platform
    url: https://dev.3vjia.com/
servers:
- url: https://open-gateway.3vjia.com
  description: 3vjia Open Platform gateway (current)
- url: https://open.3vjia.com
  description: Legacy open gateway — takes ?sysCode=external&access_token=
security:
- oauth2ClientCredentials: []
tags:
- name: MOS
  description: MOS系统
paths:
  /api/v1/manufacturing/confirmDisOrder:
    post:
      operationId: apiV1ManufacturingConfirmDisOrder
      summary: 订单拆单确认接口
      tags:
      - MOS
      x-source-documentation: https://dev.3vjia.com/document?apiId=474669617277665340
      x-documentation-category: MOS系统 / 订单管理
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                orderNo:
                  type: string
                  description: 订单号，订单ID、订单号至少传1项，当orderRecordId为空时，orderNo有效
                  examples:
                  - 63CG19120402
                orderRecordId:
                  type: string
                  description: 订单ID，店铺订单、工厂订单通用，同一订单的店铺订单、工厂订单的ID一致，订单ID、订单号至少传1项，当orderRecordId不为空时，将忽略orderNo
                  examples:
                  - F053521B72F34613BEAD2CC8B6279E75
                outUserId:
                  type: string
                  description: 操作人-企业账号绑定时使用的企业用户ID，userId、userName、outUserId三个中，outUserId优先级第三
                  examples:
                  - '123456'
                userId:
                  type: string
                  description: 操作人-三维家用户ID，userId、userName、outUserId三个中，userId优先级最高
                  examples:
                  - '1000122456'
                userName:
                  type: string
                  description: 操作人-三维家账号，userId、userName、outUserId三个中，userName优先级第二
                  examples:
                  - 3vj123456
            example:
              orderNo: 63CG19120402
              outUserId: '123456'
              userName: 3vj123456
              userId: '1000122456'
              orderRecordId: F053521B72F34613BEAD2CC8B6279E75
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
              example:
                msg: 成功
                code: 0
                data: true
                success: true
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/v1/manufacturing/createOrderBatch:
    post:
      operationId: apiV1ManufacturingCreateOrderBatch
      summary: 生成批次接口
      tags:
      - MOS
      x-source-documentation: https://dev.3vjia.com/document?apiId=474672016889319474
      x-documentation-category: MOS系统 / 生产批次
      description: 指定订单进行生成批次
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                operatorOutUserId:
                  type: string
                  description: 操作生成批次的企业系统用户ID（需绑定过三维家账号），operatorUserId、operatorUserName、operatorOutUserId三项至少传一项，当operatorUserId、operatorUserName为空时，operatorOutUserId有效
                operatorUserId:
                  type: string
                  description: 操作生成批次的三维家用户ID，operatorUserId、operatorUserName、operatorOutUserId三项至少传一项，若传了operatorUserId，当忽略operatorUserName、operatorOutUserId字段
                operatorUserName:
                  type: string
                  description: 操作生成批次的三维家账号，operatorUserId、operatorUserName、operatorOutUserId三项至少传一项，当operatorUserId为空时，operatorUserName有效，传了operatorUserName将忽略operatorOutUserId字段
                orderNoList:
                  type: array
                  items: {}
                  description: 要生成批次的订单号列表，外协订单无法使用此字段，orderRecordIdList和orderNoList至少传一项，当orderRecordIdList为空时，此字段有效
                orderRecordIdList:
                  type: array
                  items: {}
                  description: 要生成批次的订单ID列表，orderRecordIdList和orderNoList至少传一项，当orderRecordIdList有值时会忽略orderNoList
            example:
              operatorOutUserId: ''
              operatorUserId: ''
              orderRecordIdList: []
              operatorUserName: ''
              orderNoList: []
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
              example:
                msg: 成功
                code: 0
                data: xxx
                success: true
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/v1/manufacturing/getBatchOrderList:
    post:
      operationId: apiV1ManufacturingGetBatchOrderList
      summary: 获取已生成批次订单列表接口
      tags:
      - MOS
      x-source-documentation: https://dev.3vjia.com/document?apiId=475027993060782088
      x-documentation-category: MOS系统 / 生产批次
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                batchNo:
                  type: string
                  description: 批次号,batchNo和createBatchBeginTime不能同时为空
                  examples:
                  - 63-191210-235
                createBatchBeginTime:
                  type: string
                  description: 创建批次开始时间，格式yyyy-MM-ddHH:mm:ss,createBatchBeginTime和batchNo不能同时为空，createBatchBeginTime和createBatchEndTime时间差不能超过7天
                  examples:
                  - '2020-05-01 00:00:00'
                createBatchEndTime:
                  type: string
                  description: 创建批次结束时间，格式yyyy-MM-ddHH:mm:ss，当createBatchBeginTime有值时，有默认值为当前时间
                  examples:
                  - '2020-05-07 00:00:00'
            example:
              batchNo: 63-191210-235
              createBatchEndTime: '2020-05-07 00:00:00'
              createBatchBeginTime: '2020-05-01 00:00:00'
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
                    properties:
                      batchDate:
                        type: string
                        description: 生成批次的时间，格式yyyy-MM-ddHH:mm:ss
                      batchNo:
                        type: string
                        description: 批次号
                      consigneeAddress:
                        type: string
                        description: 收货地址
                      contactName:
                        type: string
                        description: 联系人
                      contactWay:
                        type: string
                        description: 联系方式
                      createBatchUser:
                        type: object
                        properties:
                          avatar:
                            type: string
                            description: 设计师头像
                          mobile:
                            type: string
                            description: 手机号码
                          name:
                            type: string
                            description: 姓名
                          nickName:
                            type: string
                            description: 昵称
                          outUserId:
                            type: string
                            description: 账号绑定的企业系统用户ID
                          userId:
                            type: string
                            description: 三维家用户ID
                          userName:
                            type: string
                            description: 三维家账号
                        description: 操作用户
                      customer:
                        type: object
                        properties:
                          customerAddress:
                            type: string
                            description: 客户地址
                          customerCode:
                            type: string
                            description: 客户编码
                          customerId:
                            type: string
                            description: 客户ID
                          customerMobile:
                            type: string
                            description: 客户手机
                          customerName:
                            type: string
                            description: 客户名称
                        description: 客户信息
                      deliveryDate:
                        type: string
                        description: 发货日期，格式yyyy-MM-dd
                      diyOrderNo:
                        type: string
                        description: 自定义订单号
                      factoryOrgan:
                        type: object
                        properties:
                          organId:
                            type: string
                            description: 企业ID
                          organName:
                            type: string
                            description: 企业名称
                        description: 部门所属机构信息
                      mainColor:
                        type: string
                        description: 主材颜色
                      orderName:
                        type: string
                        description: 订单名称
                      orderNo:
                        type: string
                        description: 订单号
                      orderRecordId:
                        type: string
                        description: 订单ID
                      orderType:
                        type: string
                        description: 订单类型（衣柜、橱柜、系统柜...）
                      orderVersion:
                        type: string
                        description: 订单版本号
                      partVersion:
                        type: string
                        description: 拆单版本号
                      remark:
                        type: string
                        description: 备注
                      shopDept:
                        type: object
                        properties:
                          customerCode:
                            type: string
                            description: 部门对应客户部门编码
                          deptId:
                            type: string
                            description: 部门ID
                          deptName:
                            type: string
                            description: 部门名称
                          outDeptId:
                            type: string
                            description: 部门所绑定企业系统部门ID，绑定过才有值
                          storeType:
                            type: integer
                            format: int32
                            description: 类型0=门店，1=部门
                        description: 上级部门信息
                      shopOrgan:
                        type: object
                        properties:
                          organId:
                            type: string
                            description: 企业ID
                          organName:
                            type: string
                            description: 企业名称
                        description: 部门所属机构信息
              example:
                msg: ''
                code: 0
                data:
                - orderType: ''
                  batchNo: ''
                  shopOrgan:
                    organName: ''
                    organId: ''
                  orderNo: ''
                  contactName: ''
                  batchDate: ''
                  remark: ''
                  orderVersion: ''
                  factoryOrgan:
                    organName: ''
                    organId: ''
                  diyOrderNo: ''
                  orderRecordId: ''
                  partVersion: ''
                  mainColor: ''
                  shopDept:
                    deptName: ''
                    storeType: 0
                    deptId: ''
                    customerCode: ''
                    outDeptId: ''
                  contactWay: ''
                  deliveryDate: ''
                  createBatchUser:
                    nickName: ''
                    mobile: ''
                    avatar: ''
                    outUserId: ''
                    userName: ''
                    userId: ''
                    name: ''
                  consigneeAddress: ''
                  customer:
                    customerAddress: ''
                    customerCode: ''
                    customerName: ''
                    customerId: ''
                    customerMobile: ''
                  orderName: ''
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/v1/manufacturing/getBatchProductionXml:
    post:
      operationId: apiV1ManufacturingGetBatchProductionXml
      summary: 获取批次拆单XML接口
      tags:
      - MOS
      x-source-documentation: https://dev.3vjia.com/document?apiId=475021823252181021
      x-documentation-category: MOS系统 / 生产批次
      description: 获取批次拆单XML
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                batchNo:
                  type: string
                  description: 批次号
                  examples:
                  - 22-161013-01
            example:
              batchNo: 22-161013-01
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
                    properties:
                      batchNo:
                        type: string
                        description: 批次号
                      batchXmlContent:
                        type: string
                        description: 批次拆单xml的Base64字符串
                      createTime:
                        type: string
                        description: 创建批次时间，格式yyyy-MM-ddHH:mm:ss
                      createUser:
                        type: object
                        properties:
                          avatar:
                            type: string
                            description: 设计师头像
                          mobile:
                            type: string
                            description: 手机号码
                          name:
                            type: string
                            description: 姓名
                          nickName:
                            type: string
                            description: 昵称
                          outUserId:
                            type: string
                            description: 账号绑定的企业系统用户ID
                          userId:
                            type: string
                            description: 三维家用户ID
                          userName:
                            type: string
                            description: 三维家账号
                        description: 操作用户
                      orderList:
                        type: array
                        items:
                          type: object
                          properties:
                            diyOrderNo:
                              type: string
                              description: 自定义订单号
                            orderName:
                              type: string
                              description: 订单名称
                            orderNo:
                              type: string
                              description: 订单编号
                            orderRecordId:
                              type: string
                              description: 订单的通用ID，同一订单下店铺订单、工厂订单此值是相同的
                        description: 通用的生产订单结构
                      recordId:
                        type: string
                        description: 批次ID
              example:
                msg: ''
                code: 0
                data:
                  batchNo: ''
                  orderList:
                  - orderNo: ''
                    diyOrderNo: ''
                    orderRecordId: ''
                    orderName: ''
                  batchXmlContent: ''
                  recordId: ''
                  createTime: ''
                  createUser:
                    nickName: ''
                    mobile: ''
                    avatar: ''
                    outUserId: ''
                    userName: ''
                    userId: ''
                    name: ''
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/v1/manufacturing/getFactorySupplementOrderListByPage:
    post:
      operationId: apiV1ManufacturingGetFactorySupplementOrderListByPage
      summary: 获取工厂补单列表接口
      tags:
      - MOS
      x-source-documentation: https://dev.3vjia.com/document?apiId=475006971230105648
      x-documentation-category: MOS系统 / 订单数据
      description: 分页获取门店补单列表
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                createBeginTime:
                  type: string
                  description: 订单创建开始时间，格式yyyy-MM-ddHH:mm:ss
                createEndTime:
                  type: string
                  description: 订单创建结束时间，格式yyyy-MM-ddHH:mm:ss，当createBeginTime有值时，此值有默认值为当前时间
                customerInfo:
                  type: string
                  description: 客户信息
                orderNo:
                  type: string
                  description: 补单号
                pageIndex:
                  type: integer
                  format: int32
                  description: 页码，最小值为1，默认值为1
                pageSize:
                  type: integer
                  format: int32
                  description: 分页大小，最小值1，最大值500，默认值50
            example:
              createBeginTime: ''
              orderNo: ''
              customerInfo: ''
              pageSize: 0
              pageIndex: 0
              createEndTime: ''
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
                    properties:
                      pageIndex:
                        type: integer
                        format: int32
                      pageSize:
                        type: integer
                        format: int32
                      recordCount:
                        type: integer
                        format: int32
                      result:
                        type: array
                        items:
                          type: object
                          properties:
                            createTime:
                              type: string
                              description: 订单创建开始时间，格式yyyy-MM-ddHH:mm:ss
                            createUser:
                              type: string
                              description: 创建订单用户
                            factoryStateName:
                              type: string
                              description: 工厂订单状态名称
                            factoryStatus:
                              type: string
                              description: 工厂订单状态值
                            orderName:
                              type: string
                              description: 补单名称
                            orderNo:
                              type: string
                              description: 补单编号
                            recordId:
                              type: string
                              description: 补单ID
                            shopStateName:
                              type: string
                              description: 门店订单状态名称
                            shopStatus:
                              type: string
                              description: 门店订单状态值
                        description: 获取补单信息返参
              example:
                msg: ''
                code: 0
                data:
                  recordCount: 0
                  pageSize: 0
                  result:
                  - orderNo: ''
                    factoryStateName: ''
                    shopStateName: ''
                    factoryStatus: ''
                    recordId: ''
                    shopStatus: ''
                    createTime: ''
                    createUser: ''
                    orderName: ''
                  pageIndex: 0
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/v1/manufacturing/getManufacturingOrderPartList:
    post:
      operationId: apiV1ManufacturingGetManufacturingOrderPartList
      summary: 获取订单部件列表接口
      tags:
      - MOS
      x-source-documentation: https://dev.3vjia.com/document?apiId=474672016889319472
      x-documentation-category: MOS系统 / 订单数据
      description: 获取订单部件列表，可以按照订单ID、订单号
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                orderNo:
                  type: string
                  description: 订单号，订单ID、订单号至少传1项，当orderRecordId为空时，orderNo有效，外协订单无法使用orderNo查询
                  examples:
                  - 63CG19120402
                orderRecordId:
                  type: string
                  description: 订单ID，店铺订单、工厂订单通用，同一订单的店铺订单、工厂订单的ID一致，订单ID、订单号至少传1项，当orderRecordId不为空时，将忽略orderNo
                  examples:
                  - F053521B72F34613BEAD2CC8B6279E75
            example:
              orderNo: 63CG19120402
              orderRecordId: F053521B72F34613BEAD2CC8B6279E75
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
                    properties:
                      createUser:
                        type: object
                        properties:
                          avatar:
                            type: string
                            description: 设计师头像
                          mobile:
                            type: string
                            description: 手机号码
                          name:
                            type: string
                            description: 姓名
                          nickName:
                            type: string
                            description: 昵称
                          outUserId:
                            type: string
                            description: 账号绑定的企业系统用户ID
                          userId:
                            type: string
                            description: 三维家用户ID
                          userName:
                            type: string
                            description: 三维家账号
                        description: 操作用户
                      diyOrderNo:
                        type: string
                        description: 自定义订单号
                      orderName:
                        type: string
                        description: 订单名称
                      orderNo:
                        type: string
                        description: 订单编号
                      orderPartList:
                        type: array
                        items:
                          type: object
                          properties:
                            actualLength:
                              type: object
                            actualWidth:
                              type: object
                            barcode:
                              type: string
                              description: 条码，板件或门板才有值
                            basicMaterial:
                              type: string
                              description: 板件基材
                            cabinetName:
                              type: string
                              description: 所属柜子名称
                            cabinetNo:
                              type: string
                              description: 柜体编号
                            cabinetPanelNo:
                              type: string
                              description: 部件在柜子内的编号，板件、门板才有值
                            category:
                              type: string
                              description: 部件类型，Board=板件，Door=门板，Metal=五金
                            craftMark:
                              type: string
                              description: 工艺备注
                            doorDirection:
                              type: string
                              description: 门板的开门方向
                            hasHorizontalHole:
                              type: string
                              description: 是否打孔0=不打孔1=打孔
                            isAccurate:
                              type: string
                              description: 是否异形,1=异形0=常规
                            length:
                              type: object
                            material:
                              type: string
                              description: 板件材质
                            num:
                              type: integer
                              format: int32
                              description: 数量，五金才有值
                            partId:
                              type: string
                              description: 部件ID,此字段每次请求时值都可能产生变化，建议每次调接口前先清除订单的历史数据
                            partName:
                              type: string
                              description: 部件名称
                            partNumber:
                              type: string
                              description: 部件编码
                            pkgNo:
                              type: string
                              description: 包号
                            roomName:
                              type: string
                              description: 所属空间名称
                            series:
                              type: string
                              description: 系列
                            spec:
                              type: string
                              description: 规格，五金才有值
                            standardCategory:
                              type: string
                              description: 板件标准生成类型（判别五金安装用）
                            thickness:
                              type: object
                            unit:
                              type: string
                              description: 单位，五金才有值
                            width:
                              type: object
                        description: 部件结构
                      orderRecordId:
                        type: string
                        description: 订单的通用ID，同一订单下店铺订单、工厂订单此值是相同的
              example:
                msg: ''
                code: 0
                data:
                  orderPartList:
                  - craftMark: ''
                    partId: ''
                    thickness: ''
                    num: 0
                    basicMaterial: ''
                    partName: ''
                    spec: ''
                    doorDirection: ''
                    isAccurate: ''
                    barcode: ''
                    actualLength: ''
                    cabinetName: ''
                    actualWidth: ''
                    length: ''
                    cabinetPanelNo: ''
                    roomName: ''
                    cabinetNo: ''
                    pkgNo: ''
                    hasHorizontalHole: ''
                    unit: ''
                    material: ''
                    series: ''
                    width: ''
                    standardCategory: ''
                    partNumber: ''
                    category: ''
                  orderNo: ''
                  diyOrderNo: ''
                  orderRecordId: ''
                  createUser:
                    nickName: ''
                    mobile: ''
                    avatar: ''
                    outUserId: ''
                    userName: ''
                    userId: ''
                    name: ''
                  orderName: ''
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/v1/manufacturing/getOrder:
    post:
      operationId: apiV1ManufacturingGetOrder
      summary: 获取订单信息接口
      tags:
      - MOS
      x-source-documentation: https://dev.3vjia.com/document?apiId=474639795637813299
      x-documentation-category: MOS系统 / 订单数据
      description: 根据订单ID或订单号获取订单信息，使用订单号时不支持外协订单
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                orderNo:
                  type: string
                  description: 订单编号，orderRecordId和orderNo至少传一个，orderRecordId为空时orderNo有效，外协订单不支持使用订单号查询
                  examples:
                  - EMS-63CG19120402
                orderRecordId:
                  type: string
                  description: 订单的通用ID，同一订单下店铺订单、工厂订单此值是相同的，orderRecordId和orderNo至少传一个，传了orderRecordId将忽略orderNo
                  examples:
                  - F053521B72F34613BEAD2CC8B6279E75
            example:
              orderNo: EMS-63CG19120402
              orderRecordId: F053521B72F34613BEAD2CC8B6279E75
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
                    properties:
                      batchNo:
                        type: string
                        description: 批次号
                      cause:
                        type: string
                        description: 补单/售后原因
                      city:
                        type: string
                        description: 市
                      color:
                        type: string
                        description: 主材颜色（橡木、白枫....）
                      colorRecordId:
                        type: string
                        description: 主材颜色（橡木、白枫....）的Id
                      colorSeries:
                        type: string
                        description: 颜色系列
                      consigneeAddress:
                        type: string
                        description: 收货地址
                      contactRealName:
                        type: string
                        description: 联系人
                      contactWay:
                        type: string
                        description: 联系方式
                      contractCategory:
                        type: string
                        description: 丽博-合同类别
                      contractCategoryName:
                        type: string
                        description: 丽博-合同类别名称
                      createTime:
                        type: string
                        description: 创建订单时间，格式yyyy-MM-ddHH:mm:ss
                      createUser:
                        type: object
                        properties:
                          avatar:
                            type: string
                            description: 设计师头像
                          mobile:
                            type: string
                            description: 手机号码
                          name:
                            type: string
                            description: 姓名
                          nickName:
                            type: string
                            description: 昵称
                          outUserId:
                            type: string
                            description: 账号绑定的企业系统用户ID
                          userId:
                            type: string
                            description: 三维家用户ID
                          userName:
                            type: string
                            description: 三维家账号
                        description: 操作用户
                      customer:
                        type: object
                        properties:
                          customerAddress:
                            type: string
                            description: 客户地址
                          customerCode:
                            type: string
                            description: 客户编码
                          customerId:
                            type: string
                            description: 客户ID
                          customerMobile:
                            type: string
                            description: 客户手机
                          customerName:
                            type: string
                            description: 客户名称
                        description: 客户信息
                      deliveryTime:
                        type: string
                        description: 生产发货时间，格式yyyy-MM-ddHH:mm:ss
                      disOrderId:
                        type: string
                        description: 订单方案主键ID
                      district:
                        type: string
                        description: 区
                      diyOrderNo:
                        type: string
                        description: 自定义订单号
                      expand1:
                        type: string
                      expand2:
                        type: string
                      expand3Name:
                        type: string
                        description: 拓展字段4
                      expand4Name:
                        type: string
                        description: 拓展字段4
                      houseType:
                        type: string
                        description: 楼盘户型
                      isOnlyFile:
                        type: string
                        description: 只有附件的订单0-否1-是，只有附件的订单没有3D文件
                      isWaiXie:
                        type: string
                        description: 是否外协订单标识，1=是，0=否，空=未设置，仅个别企业可以使用.
                      itemNo:
                        type: string
                        description: 项目号
                      orderCateCode:
                        type: string
                        description: 订单类别(常规单、样品单、材料单....)的代码
                      orderCateName:
                        type: string
                        description: 订单类别(常规单、样品单、材料单....)
                      orderCategory:
                        type: string
                        description: 丽博-订单类别
                      orderCategoryName:
                        type: string
                        description: 丽博-订单类别名称
                      orderCount:
                        type: string
                        description: 工程单数量
                      orderCoverImage:
                        type: string
                        description: 订单主图URL
                      orderName:
                        type: string
                        description: 订单名称
                      orderNature:
                        type: string
                        description: 丽博-订单性质
                      orderNatureName:
                        type: string
                        description: 丽博-订单性质名称
                      orderNo:
                        type: string
                        description: 订单编号
                      orderRecordId:
                        type: string
                        description: 订单的通用ID，同一订单下店铺订单、工厂订单此值是相同的
                      orderSeries:
                        type: string
                        description: 产品系列
                      orderSeriesName:
                        type: string
                        description: 丽博-订单系列名称
                      orderSquare:
                        type: string
                        description: 订单用量
                      orderTypeCode:
                        type: string
                        description: 订单类型code（YG，CG，XTG....）
                      orderTypeId:
                        type: string
                        description: 订单类型（衣柜，橱柜，系统柜....）的ID
                      orderTypeName:
                        type: string
                        description: 订单类型（衣柜，橱柜，系统柜....）
                      packNum:
                        type: string
                        description: 订单包数
                      planDeliveryDate:
                        type: string
                        description: 计划交货日期，格式yyyy-MM-ddHH:mm:ss
                      planSetupTime:
                        type: string
                        description: 预约安装时间，格式yyyy-MM-ddHH:mm:ss
                      platformOrderId:
                        type: string
                        description: 工厂订单的ID，如果需要单点登录到三维家订单系统工厂订单详情页时，使用此字段
                      platformOrderStateCode:
                        type: string
                        description: 工厂订单状态的代码
                      platformOrderStateName:
                        type: string
                        description: 工厂订单状态
                      productNature:
                        type: string
                        description: 丽博-产品性质
                      productNatureName:
                        type: string
                        description: 丽博-产品性质名称
                      productTypeCode:
                        type: string
                        description: 产品类型代码(Board=板式，Wood=实木，MoveDoor=移门，CloseDoor掩门)
                      productTypeName:
                        type: string
                        description: 产品类型(板式，实木，移门，掩门)
                      promotionCode:
                        type: string
                        description: 丽博-促销方案编码
                      province:
                        type: string
                        description: 省
                      remark:
                        type: string
                        description: 备注
                      saleMoney:
                        type: object
                        examples:
                        - '2000.00'
                      scheme:
                        type: object
                        properties:
                          createTime:
                            type: string
                            description: 方案创建时间，格式yyyy-MM-ddHH:mm:ss
                          imagePath:
                            type: string
                            description: 方案主图路径
                          modifyTime:
                            type: string
                            description: 方案最后修改时间，格式yyyy-MM-ddHH:mm:ss
                          schemeId:
                            type: string
                            description: 方案ID
                          schemeName:
                            type: string
                            description: 方案名称
                          totalArea:
                            type: number
                            format: double
                            description: 方案总面积
                        description: 订单所关联的方案，从3D创建的订单此字段有值
                      shopDept:
                        type: object
                        properties:
                          customerCode:
                            type: string
                            description: 部门对应客户部门编码
                          deptId:
                            type: string
                            description: 部门ID
                          deptName:
                            type: string
                            description: 部门名称
                          outDeptId:
                            type: string
                            description: 部门所绑定企业系统部门ID，绑定过才有值
                          storeType:
                            type: integer
                            format: int32
                            description: 类型0=门店，1=部门
                        description: 上级部门信息
                      shopOrderId:
                        type: string
                        description: 店铺订单的ID，如果需要单点登录到三维家订单系统店铺订单详情页时，使用此字段
                      shopOrderStateCode:
                        type: string
                        description: 店铺订单状态的代码
                      shopOrderStateName:
                        type: string
                        description: 店铺订单状态
                      shopOrgan:
                        type: object
                        properties:
                          organId:
                            type: string
                            description: 企业ID
                          organName:
                            type: string
                            description: 企业名称
                        description: 部门所属机构信息
                      signOrgan:
                        type: object
                        properties:
                          organId:
                            type: string
                            description: 企业ID
                          organName:
                            type: string
                            description: 企业名称
                        description: 部门所属机构信息
                      signTime:
                        type: string
                        description: 签收时间，格式yyyy-MM-ddHH:mm:ss
                      signUser:
                        type: object
                        properties:
                          avatar:
                            type: string
                            description: 设计师头像
                          mobile:
                            type: string
                            description: 手机号码
                          name:
                            type: string
                            description: 姓名
                          nickName:
                            type: string
                            description: 昵称
                          outUserId:
                            type: string
                            description: 账号绑定的企业系统用户ID
                          userId:
                            type: string
                            description: 三维家用户ID
                          userName:
                            type: string
                            description: 三维家账号
                        description: 操作用户
                      spart:
                        type: string
                        description: 新岩素定制-产品组分类id
                      spartName:
                        type: string
                        description: 新岩素定制-产品组分类名称
                      spatialName:
                        type: string
                        description: 空间信息
                      submitTime:
                        type: string
                        description: 提交订单时间，格式yyyy-MM-ddHH:mm:ss
                      submitUser:
                        type: object
                        properties:
                          avatar:
                            type: string
                            description: 设计师头像
                          mobile:
                            type: string
                            description: 手机号码
                          name:
                            type: string
                            description: 姓名
                          nickName:
                            type: string
                            description: 昵称
                          outUserId:
                            type: string
                            description: 账号绑定的企业系统用户ID
                          userId:
                            type: string
                            description: 三维家用户ID
                          userName:
                            type: string
                            description: 三维家账号
                        description: 操作用户
                      thirdOrderInfo:
                        type: string
                        description: 第三方下单数据
                      urgent:
                        type: string
                        description: 加急等级
                      urgentRecordId:
                        type: string
                        description: 加急等级代码，0=普通，1=加急
                      urlParameter:
                        type: string
                        description: 3D下单带过来的业务参数
                      vkbur:
                        type: string
                        description: 新岩素定制-销售办事处分类id
                      vkburName:
                        type: string
                        description: 新岩素定制-销售办事处分类名称
                      vkgrp:
                        type: string
                        description: 新岩素定制-销售组分类id
                      vkgrpName:
                        type: string
                        description: 新岩素定制-销售组分类名称
                      vkorg:
                        type: string
                        description: 新岩素定制-销售组织分类id
                      vkorgName:
                        type: string
                        description: 新岩素定制-销售组织分类名称
                      vtweg:
                        type: string
                        description: 新岩素定制-分销渠道分类id
                      vtwegName:
                        type: string
                        description: 新岩素定制-分销渠道分类名称
                      vuart:
                        type: string
                        description: 新岩素定制-SAP订单类型分类id
                      vuartName:
                        type: string
                        description: 新岩素定制-SAP订单类型分类名称
              example:
                msg: 用户不存在
                code: 500001
                data:
                  orderTypeCode: ''
                  shopOrgan:
                    organName: ''
                    organId: ''
                  orderNature: ''
                  itemNo: ''
                  vkburName: ''
                  orderSquare: ''
                  planSetupTime: ''
                  colorSeries: ''
                  diyOrderNo: ''
                  urlParameter: ''
                  orderNatureName: ''
                  platformOrderStateName: ''
                  province: ''
                  productTypeName: ''
                  vkgrpName: ''
                  orderCoverImage: ''
                  vkbur: ''
                  spartName: ''
                  consigneeAddress: ''
                  urgentRecordId: ''
                  vkgrp: ''
                  batchNo: ''
                  orderNo: ''
                  signTime: ''
                  expand1: ''
                  shopOrderStateName: ''
                  signUser:
                    nickName: ''
                    mobile: ''
                    avatar: ''
                    outUserId: ''
                    userName: ''
                    userId: ''
                    name: ''
                  promotionCode: ''
                  expand2: ''
                  planDeliveryDate: ''
                  signOrgan:
                    organName: ''
                    organId: ''
                  vuartName: ''
                  platformOrderStateCode: ''
                  productNatureName: ''
                  submitTime: ''
                  shopOrderId: ''
                  disOrderId: ''
                  submitUser:
                    nickName: ''
                    mobile: ''
                    avatar: ''
                    outUserId: ''
                    userName: ''
                    userId: ''
                    name: ''
                  district: ''
                  orderSeries: ''
                  shopDept:
                    deptName: ''
                    storeType: 0
                    deptId: ''
                    customerCode: ''
                    outDeptId: ''
                  isWaiXie: ''
                  productTypeCode: ''
                  vkorg: ''
                  thirdOrderInfo: ''
                  saleMoney: ''
                  color: ''
                  deliveryTime: ''
                  scheme:
                    imagePath: ''
                    schemeName: ''
                    schemeId: ''
                    modifyTime: ''
                    createTime: ''
                  vtwegName: ''
                  city: ''
                  cause: ''
                  orderSeriesName: ''
                  orderTypeId: ''
                  packNum: ''
                  remark: ''
                  orderCateCode: ''
                  orderCategoryName: ''
                  isOnlyFile: ''
                  contractCategoryName: ''
                  orderRecordId: ''
                  platformOrderId: ''
                  urgent: ''
                  orderName: ''
                  houseType: ''
                  orderCount: ''
                  expand3Name: ''
                  productNature: ''
                  orderCateName: ''
                  spart: ''
                  vtweg: ''
                  orderTypeName: ''
                  vkorgName: ''
                  spatialName: ''
                  contractCategory: ''
                  vuart: ''
                  createTime: ''
                  expand4Name: ''
                  colorRecordId: ''
                  contactWay: ''
                  contactRealName: ''
                  createUser:
                    nickName: ''
                    mobile: ''
                    avatar: ''
                    outUserId: ''
                    userName: ''
                    userId: ''
                    name: ''
                  shopOrderStateCode: ''
                  orderCategory: ''
                  customer:
                    customerAddress: ''
                    customerCode: ''
                    customerName: ''
                    customerId: ''
                    customerMobile: ''
                success: true
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/v1/manufacturing/getOrder3dFileUrl:
    post:
      operationId: apiV1ManufacturingGetOrder3dFileUrl
      summary: 获取订单3D文件地址接口
      tags:
      - MOS
      x-source-documentation: https://dev.3vjia.com/document?apiId=474662783372329035
      x-documentation-category: MOS系统 / 订单数据
      description: 获取三维家生产订单的3D设计文件地址，3D审核文件地址，用于单点登录直接打开对应文件。
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                orderNo:
                  type: string
                  description: 订单编号，orderRecordId和orderNo至少传一个，orderRecordId为空时orderNo有效
                  examples:
                  - EMS-63CG19120402
                orderRecordId:
                  type: string
                  description: 订单的通用ID，同一订单下店铺订单、工厂订单此值是相同的，orderRecordId和orderNo至少传一个，传了orderRecordId将忽略orderNo
                  examples:
                  - F053521B72F34613BEAD2CC8B6279E75
            example:
              orderNo: EMS-63CG19120402
              orderRecordId: F053521B72F34613BEAD2CC8B6279E75
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
                    properties:
                      orderCheckFileReadOnlyRedirectUrl:
                        type: string
                        description: 订单审核文件只读模式单点登录重定向地址
                        examples:
                        - https://admin.3vjia.com/3DLoading?IsRemoveFurniture=1&OpenModel=1&SaveModel=readOnly&SchemeId=50011044&DisOrderId=63210a45bae6406596e0f67743b02865&SubOrderId=70ab1ce72a9e4b809be4b4f43c504dd7
                      orderCheckFileRedirectUrl:
                        type: string
                        description: 订单审核文件单点登录重定向地址
                        examples:
                        - https://admin.3vjia.com/3DLoading?IsRemoveFurniture=1&OpenModel=2&SaveModel=Modify&SchemeId=50011044&DisOrderId=63210a45bae6406596e0f67743b02865&SubOrderId=70ab1ce72a9e4b809be4b4f43c504dd7
                      orderDesignFileRedirectUrl:
                        type: string
                        description: 订单设计文件单点登录重定向地址
                        examples:
                        - https://admin.3vjia.com/3DLoading?IsRemoveFurniture=1&OpenModel=1&SaveModel=readOnly&SchemeId=50011044&DisOrderId=63210a45bae6406596e0f67743b02865&SubOrderId=70ab1ce72a9e4b809be4b4f43c504dd7
                      orderName:
                        type: string
                        description: 订单名称
                        examples:
                        - 测试订单
                      orderNo:
                        type: string
                        description: 订单号
                        examples:
                        - EMS-3838YG2005051312
                      orderRecordId:
                        type: string
                        description: 订单ID
                        examples:
                        - 70ab1ce72a9e4b809be4b4f43c504dd7
              example:
                msg: 成功
                code: 0
                data:
                  orderNo: EMS-3838YG2005051312
                  orderCheckFileReadOnlyRedirectUrl: https://admin.3vjia.com/3DLoading?IsRemoveFurniture=1&OpenModel=1&SaveModel=readOnly&SchemeId=50011044&DisOrderId=63210a45bae6406596e0f67743b02865&SubOrderId=70ab1ce72a9e4b809be4b4f43c504dd7
                  orderCheckFileRedirectUrl: https://admin.3vjia.com/3DLoading?IsRemoveFurniture=1&OpenModel=2&SaveModel=Modify&SchemeId=50011044&DisOrderId=63210a45bae6406596e0f67743b02865&SubOrderId=70ab1ce72a9e4b809be4b4f43c504dd7
                  orderDesignFileRedirectUrl: https://admin.3vjia.com/3DLoading?IsRemoveFurniture=1&OpenModel=1&SaveModel=readOnly&SchemeId=50011044&DisOrderId=63210a45bae6406596e0f67743b02865&SubOrderId=70ab1ce72a9e4b809be4b4f43c504dd7
                  orderRecordId: 70ab1ce72a9e4b809be4b4f43c504dd7
                  orderName: 测试订单
                success: true
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/v1/manufacturing/getOrderAttachment:
    post:
      operationId: apiV1ManufacturingGetOrderAttachment
      summary: 获取订单附件接口
      tags:
      - MOS
      x-source-documentation: https://dev.3vjia.com/document?apiId=474666800987082758
      x-documentation-category: MOS系统 / 订单数据
      description: 获取三维家生产订单的附件
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                orderNo:
                  type: string
                  description: 订单编号，orderRecordId和orderNo至少传一个，orderRecordId为空时orderNo有效
                  examples:
                  - EMS-63CG19120402
                orderRecordId:
                  type: string
                  description: 订单的通用ID，同一订单下店铺订单、工厂订单此值是相同的，orderRecordId和orderNo至少传一个，传了orderRecordId将忽略orderNo
                  examples:
                  - F053521B72F34613BEAD2CC8B6279E75
            example:
              orderNo: EMS-63CG19120402
              orderRecordId: F053521B72F34613BEAD2CC8B6279E75
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
                    properties:
                      orderAttachmentList:
                        type: array
                        items:
                          type: object
                          properties:
                            createTime:
                              type: string
                              description: 附件创建时间，格式yyyy-MM-ddHH:mm:ss
                              examples:
                              - '2020-05-05 12:59:00'
                            createUser:
                              type: object
                              properties:
                                avatar:
                                  type: string
                                  description: 设计师头像
                                mobile:
                                  type: string
                                  description: 手机号码
                                name:
                                  type: string
                                  description: 姓名
                                nickName:
                                  type: string
                                  description: 昵称
                                outUserId:
                                  type: string
                                  description: 账号绑定的企业系统用户ID
                                userId:
                                  type: string
                                  description: 三维家用户ID
                                userName:
                                  type: string
                                  description: 三维家账号
                              description: 操作用户
                            fileAddress:
                              type: string
                              description: 附件的Url地址
                              examples:
                              - https://3vj-mos.oss-cn-shenzhen.aliyuncs.com/cpxml/20200408/2004135/测试-运营管理部-练习3838YG20040803_1.zip
                            fileName:
                              type: string
                              description: 附件名称
                              examples:
                              - 测试-运营管理部-练习3838YG20040803_1.zip
                            fileSource:
                              type: string
                              description: 附件的类型，常见的有CustomDesignAttachment=设计附件，CustomAuditAttachment=审核附件，CustomProduceAttachment=生产附件，未具体枚举
                              examples:
                              - CustomProduceAttachment
                            id:
                              type: string
                              description: 附件ID
                              examples:
                              - d4d3a66dc5f6412882d7f29b63372ead
                            remark:
                              type: string
                              description: 备注
                              examples:
                              - 备注
                        description: 订单附件实体，V2
                      orderName:
                        type: string
                        description: 订单名称
                        examples:
                        - 测试订单
                      orderNo:
                        type: string
                        description: 订单号
                        examples:
                        - EMS-3838YG2005051312
                      orderRecordId:
                        type: string
                        description: 订单ID
                        examples:
                        - 70ab1ce72a9e4b809be4b4f43c504dd7
              example:
                msg: 成功
                code: 0
                data:
                  orderAttachmentList:
                  - fileName: 测试-运营管理部-练习3838YG20040803_1.zip
                    fileSource: CustomProduceAttachment
                    remark: 备注
                    createTime: '2020-05-05 12:59:00'
                    createUser:
                      nickName: ''
                      mobile: ''
                      avatar: ''
                      outUserId: ''
                      userName: ''
                      userId: ''
                      name: ''
                    id: d4d3a66dc5f6412882d7f29b63372ead
                    fileAddress: https://3vj-mos.oss-cn-shenzhen.aliyuncs.com/cpxml/20200408/2004135/测试-运营管理部-练习3838YG20040803_1.zip
                  orderNo: EMS-3838YG2005051312
                  orderRecordId: 70ab1ce72a9e4b809be4b4f43c504dd7
                  orderName: 测试订单
                success: true
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/v1/manufacturing/getOrderCadFile:
    post:
      operationId: apiV1ManufacturingGetOrderCadFile
      summary: 获取订单CAD文件接口
      tags:
      - MOS
      x-source-documentation: https://dev.3vjia.com/document?apiId=474672236729569282
      x-documentation-category: MOS系统 / 订单数据
      description: 获取订单CAD文件，需要开通保存订单CAD xml的功能才可使用。
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                contentType:
                  type: integer
                  format: int32
                  description: 文件类型，0=设计文件，1=审核文件
                  examples:
                  - '0'
                orderNo:
                  type: string
                  description: 订单号，订单ID、订单号至少传1项，当orderRecordId为空时，orderNo有效
                  examples:
                  - 63CG19120402
                orderRecordId:
                  type: string
                  description: 订单ID，店铺订单、工厂订单通用，同一订单的店铺订单、工厂订单的ID一致，订单ID、订单号至少传1项，当orderRecordId不为空时，将忽略orderNo
                  examples:
                  - F053521B72F34613BEAD2CC8B6279E75
                outUserId:
                  type: string
                  description: 操作人-企业账号绑定时使用的企业用户ID，userId、userName、outUserId三个中，outUserId优先级第三
                  examples:
                  - '123456'
                userId:
                  type: string
                  description: 操作人-三维家用户ID，userId、userName、outUserId三个中，userId优先级最高
                  examples:
                  - '1000122456'
                userName:
                  type: string
                  description: 操作人-三维家账号，userId、userName、outUserId三个中，userName优先级第二
                  examples:
                  - 3vj123456
            example:
              orderNo: 63CG19120402
              outUserId: '123456'
              userName: 3vj123456
              userId: '1000122456'
              orderRecordId: F053521B72F34613BEAD2CC8B6279E75
              contentType: 0
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
                    properties:
                      fileUrl:
                        type: string
                        description: CAD文件路径,非永久保存，请及时下载
                        examples:
                        - https://3vj-outerapi.3vjia.com/OrderCad/EMS-4768YG20120920.dwg
                      orderName:
                        type: string
                        description: 订单名称
                        examples:
                        - 测试订单
                      orderNo:
                        type: string
                        description: 订单号
                        examples:
                        - EMS-3838YG2005051312
                      orderRecordId:
                        type: string
                        description: 订单ID
                        examples:
                        - 70ab1ce72a9e4b809be4b4f43c504dd7
              example:
                msg: 成功
                code: 0
                data:
                  orderNo: EMS-3838YG2005051312
                  orderRecordId: 70ab1ce72a9e4b809be4b4f43c504dd7
                  fileUrl: https://3vj-outerapi.3vjia.com/OrderCad/EMS-4768YG20120920.dwg
                  orderName: 测试订单
                success: true
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/v1/manufacturing/getOrderCadFileList:
    post:
      operationId: apiV1ManufacturingGetOrderCadFileList
      summary: 获取订单CAD文件列表接口
      tags:
      - MOS
      x-source-documentation: https://dev.3vjia.com/document?apiId=474669617277665344
      x-documentation-category: MOS系统 / 订单数据
      description: 获取订单CAD文件列表，需要开通相关功能才可使用，这里会返回一个文件列表。
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                contentType:
                  type: integer
                  format: int32
                  description: 文件类型，0=设计文件，1=审核文件
                  examples:
                  - '0'
                exportType:
                  type: string
                  description: 导出类型，cad|threeView，cad：表示cad图，threeView：表示三视图，默认是cad
                  examples:
                  - cad
                extType:
                  type: integer
                  format: int32
                  description: 文件扩展类型，默认为1，1：dwg；2：pdf；3：dwg+pdf；8：svg
                  examples:
                  - '1'
                orderNo:
                  type: string
                  description: 订单号，订单ID、订单号至少传1项，当orderRecordId为空时，orderNo有效
                  examples:
                  - 63CG19120402
                orderRecordId:
                  type: string
                  description: 订单ID，店铺订单、工厂订单通用，同一订单的店铺订单、工厂订单的ID一致，订单ID、订单号至少传1项，当orderRecordId不为空时，将忽略orderNo
                  examples:
                  - F053521B72F34613BEAD2CC8B6279E75
                outUserId:
                  type: string
                  description: 操作人-企业账号绑定时使用的企业用户ID，userId、userName、outUserId三个中，outUserId优先级第三
                  examples:
                  - '123456'
                userId:
                  type: string
                  description: 操作人-三维家用户ID，userId、userName、outUserId三个中，userId优先级最高
                  examples:
                  - '1000122456'
                userName:
                  type: string
                  description: 操作人-三维家账号，userId、userName、outUserId三个中，userName优先级第二
                  examples:
                  - 3vj123456
            example:
              orderNo: 63CG19120402
              outUserId: '123456'
              userName: 3vj123456
              userId: '1000122456'
              orderRecordId: F053521B72F34613BEAD2CC8B6279E75
              exportType: cad
              contentType: 0
              extType: 1
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
                    properties:
                      fileList:
                        type: array
                        items:
                          type: object
                          properties:
                            content:
                              type: string
                              description: 文件Url
                              examples:
                              - http://3vj-outerapi.3vjia.com/OrderCad/df153bf4df5d463fa997a801ce051a7b/1625716617457/0b7ce89e1f7249ed96a7fbfab53fba47.dwg
                            extension:
                              type: string
                              description: 文件类型如dwg
                              examples:
                              - dwg
                            type:
                              type: string
                              description: 柜体类型
                              examples:
                              - 衣柜
                        description: '{*\"Extension\":\"文件类型如dwg\",*\"Type\":\"柜体类型\",*\"Content\":\"文件内容zlib压缩后base64加密后的字符串\"*}'
                      orderName:
                        type: string
                        description: 订单名称
                        examples:
                        - 测试订单
                      orderNo:
                        type: string
                        description: 订单号
                        examples:
                        - EMS-3838YG2005051312
                      orderRecordId:
                        type: string
                        description: 订单ID
                        examples:
                        - 70ab1ce72a9e4b809be4b4f43c504dd7
              example:
                msg: 成功
                code: 0
                data:
                  orderNo: EMS-3838YG2005051312
                  orderRecordId: 70ab1ce72a9e4b809be4b4f43c504dd7
                  fileList:
                  - extension: dwg
                    type: 衣柜
                    content: http://3vj-outerapi.3vjia.com/OrderCad/df153bf4df5d463fa997a801ce051a7b/1625716617457/0b7ce89e1f7249ed96a7fbfab53fba47.dwg
                  orderName: 测试订单
                success: true
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/v1/manufacturing/getOrderCommunicationRecord:
    post:
      operationId: apiV1ManufacturingGetOrderCommunicationRecord
      summary: 获取订单交流记录接口
      tags:
      - MOS
      x-source-documentation: https://dev.3vjia.com/document?apiId=474670883894562904
      x-documentation-category: MOS系统 / 订单数据
      description: 根据订单ID或订单号获取订单交流记录，使用订单号时不支持外协订单
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                orderNo:
                  type: string
                  description: 订单号，订单ID、订单号至少传1项，当orderRecordId为空时，orderNo有效，外协订单无法使用orderNo查询
                  examples:
                  - 63CG19120402
                orderRecordId:
                  type: string
                  description: 订单ID，店铺订单、工厂订单通用，同一订单的店铺订单、工厂订单的ID一致，订单ID、订单号至少传1项，当orderRecordId不为空时，将忽略orderNo
                  examples:
                  - F053521B72F34613BEAD2CC8B6279E75
            example:
              orderNo: 63CG19120402
              orderRecordId: F053521B72F34613BEAD2CC8B6279E75
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
                    properties:
                      orderCommunicationRecordList:
                        type: array
                        items:
                          type: object
                          properties:
                            content:
                              type: string
                              description: 操作内容
                            createTime:
                              type: string
                              description: 创建时间，格式yyyy-MM-ddHH:mm:ss
                            createUser:
                              type: object
                              properties:
                                avatar:
                                  type: string
                                  description: 设计师头像
                                mobile:
                                  type: string
                                  description: 手机号码
                                name:
                                  type: string
                                  description: 姓名
                                nickName:
                                  type: string
                                  description: 昵称
                                outUserId:
                                  type: string
                                  description: 账号绑定的企业系统用户ID
                                userId:
                                  type: string
                                  description: 三维家用户ID
                                userName:
                                  type: string
                                  description: 三维家账号
                              description: 操作用户
                            dept:
                              type: object
                              properties:
                                customerCode:
                                  type: string
                                  description: 部门对应客户部门编码
                                deptId:
                                  type: string
                                  description: 部门ID
                                deptName:
                                  type: string
                                  description: 部门名称
                                outDeptId:
                                  type: string
                                  description: 部门所绑定企业系统部门ID，绑定过才有值
                                storeType:
                                  type: integer
                                  format: int32
                                  description: 类型0=门店，1=部门
                              description: 上级部门信息
                            organ:
                              type: object
                              properties:
                                organId:
                                  type: string
                                  description: 企业ID
                                organName:
                                  type: string
                                  description: 企业名称
                              description: 部门所属机构信息
                            recordId:
                              type: string
                              description: 记录ID
                        description: 订单交流记录结构
                      orderName:
                        type: string
                        description: 订单名称
                      orderNo:
                        type: string
                        description: 订单号
                      orderRecordId:
                        type: string
                        description: 订单ID
              example:
                msg: 成功
                code: 0
                data:
                  orderNo: ''
                  orderRecordId: ''
                  orderCommunicationRecordList:
                  - organ:
                      organName: ''
                      organId: ''
                    dept:
                      deptName: ''
                      storeType: 0
                      deptId: ''
                      customerCode: ''
                      outDeptId: ''
                    content: ''
                    recordId: ''
                    createTime: ''
                    createUser:
                      nickName: ''
                      mobile: ''
                      avatar: ''
                      outUserId: ''
                      userName: ''
                      userId: ''
                      name: ''
                  orderName: ''
                success: true
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/v1/manufacturing/getOrderOperationTrace:
    post:
      operationId: apiV1ManufacturingGetOrderOperationTrace
      summary: 获取订单跟进记录接口
      tags:
      - MOS
      x-source-documentation: https://dev.3vjia.com/document?apiId=474669617277665346
      x-documentation-category: MOS系统 / 订单数据
      description: 根据订单ID或订单号获取订单跟进记录，使用订单号时不支持外协订单
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                orderNo:
                  type: string
                  description: 订单号，订单ID、订单号至少传1项，当orderRecordId为空时，orderNo有效，外协订单无法使用orderNo查询
                  examples:
                  - 63CG19120402
                orderRecordId:
                  type: string
                  description: 订单ID，店铺订单、工厂订单通用，同一订单的店铺订单、工厂订单的ID一致，订单ID、订单号至少传1项，当orderRecordId不为空时，将忽略orderNo
                  examples:
                  - F053521B72F34613BEAD2CC8B6279E75
            example:
              orderNo: 63CG19120402
              orderRecordId: F053521B72F34613BEAD2CC8B6279E75
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
                    properties:
                      orderFollowUpRecordList:
                        type: array
                        items:
                          type: object
                          properties:
                            content:
                              type: string
                              description: 操作内容
                              examples:
                              - xxx
                            createTime:
                              type: string
                              description: 创建时间，格式yyyy-MM-ddHH:mm:ss
                              examples:
                              - '2020-05-06 11:11:36'
                            createUser:
                              type: object
                              properties:
                                avatar:
                                  type: string
                                  description: 设计师头像
                                mobile:
                                  type: string
                                  description: 手机号码
                                name:
                                  type: string
                                  description: 姓名
                                nickName:
                                  type: string
                                  description: 昵称
                                outUserId:
                                  type: string
                                  description: 账号绑定的企业系统用户ID
                                userId:
                                  type: string
                                  description: 三维家用户ID
                                userName:
                                  type: string
                                  description: 三维家账号
                              description: 操作用户
                            dept:
                              type: object
                              properties:
                                customerCode:
                                  type: string
                                  description: 部门对应客户部门编码
                                deptId:
                                  type: string
                                  description: 部门ID
                                deptName:
                                  type: string
                                  description: 部门名称
                                outDeptId:
                                  type: string
                                  description: 部门所绑定企业系统部门ID，绑定过才有值
                                storeType:
                                  type: integer
                                  format: int32
                                  description: 类型0=门店，1=部门
                              description: 上级部门信息
                            operationName:
                              type: string
                              description: 操作名称
                              examples:
                              - 收款确认
                            organ:
                              type: object
                              properties:
                                organId:
                                  type: string
                                  description: 企业ID
                                organName:
                                  type: string
                                  description: 企业名称
                              description: 部门所属机构信息
                            recordId:
                              type: string
                              description: 记录ID
                              examples:
                              - F053521B72F34613BEAD2CC8B6279E75
                        description: 跟进记录结构，V2
                      orderName:
                        type: string
                        description: 订单名称
                        examples:
                        - 测试订单
                      orderNo:
                        type: string
                        description: 订单号
                        examples:
                        - EMS-3838YG2005051312
                      orderRecordId:
                        type: string
                        description: 订单ID
                        examples:
                        - 70ab1ce72a9e4b809be4b4f43c504dd7
              example:
                msg: 成功
                code: 0
                data:
                  orderNo: EMS-3838YG2005051312
                  orderFollowUpRecordList:
                  - organ:
                      organName: ''
                      organId: ''
                    operationName: 收款确认
                    dept:
                      deptName: ''
                      storeType: 0
                      deptId: ''
                      customerCode: ''
                      outDeptId: ''
                    content: xxx
                    recordId: F053521B72F34613BEAD2CC8B6279E75
                    createTime: '2020-05-06 11:11:36'
                    createUser:
                      nickName: ''
                      mobile: ''
                      avatar: ''
                      outUserId: ''
                      userName: ''
                      userId: ''
                      name: ''
                  orderRecordId: 70ab1ce72a9e4b809be4b4f43c504dd7
                  orderName: 测试订单
                success: true
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/v1/manufacturing/getOrderPayRecord:
    post:
      operationId: apiV1ManufacturingGetOrderPayRecord
      summary: 获取订单付款记录接口
      tags:
      - MOS
      x-source-documentation: https://dev.3vjia.com/document?apiId=474672016889319476
      x-documentation-category: MOS系统 / 订单数据
      description: 根据订单ID或订单号获取订单付款记录，使用订单号时不支持外协订单
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                orderNo:
                  type: string
                  description: 订单号，订单ID、订单号至少传1项，当orderRecordId为空时，orderNo有效，外协订单无法使用orderNo查询
                  examples:
                  - 63CG19120402
                orderRecordId:
                  type: string
                  description: 订单ID，店铺订单、工厂订单通用，同一订单的店铺订单、工厂订单的ID一致，订单ID、订单号至少传1项，当orderRecordId不为空时，将忽略orderNo
                  examples:
                  - F053521B72F34613BEAD2CC8B6279E75
            example:
              orderNo: 63CG19120402
              orderRecordId: F053521B72F34613BEAD2CC8B6279E75
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
                    properties:
                      orderName:
                        type: string
                        description: 订单名称
                      orderNo:
                        type: string
                        description: 订单号
                      orderPayRecordList:
                        type: array
                        items:
                          type: object
                          properties:
                            createTime:
                              type: string
                              description: 创建时间，格式yyyy-MM-ddHH:mm:ss
                            createUser:
                              type: object
                              properties:
                                avatar:
                                  type: string
                                  description: 设计师头像
                                mobile:
                                  type: string
                                  description: 手机号码
                                name:
                                  type: string
                                  description: 姓名
                                nickName:
                                  type: string
                                  description: 昵称
                                outUserId:
                                  type: string
                                  description: 账号绑定的企业系统用户ID
                                userId:
                                  type: string
                                  description: 三维家用户ID
                                userName:
                                  type: string
                                  description: 三维家账号
                              description: 操作用户
                            dept:
                              type: object
                              properties:
                                customerCode:
                                  type: string
                                  description: 部门对应客户部门编码
                                deptId:
                                  type: string
                                  description: 部门ID
                                deptName:
                                  type: string
                                  description: 部门名称
                                outDeptId:
                                  type: string
                                  description: 部门所绑定企业系统部门ID，绑定过才有值
                                storeType:
                                  type: integer
                                  format: int32
                                  description: 类型0=门店，1=部门
                              description: 上级部门信息
                            fileUrl:
                              type: string
                              description: 附件地址
                            organ:
                              type: object
                              properties:
                                organId:
                                  type: string
                                  description: 企业ID
                                organName:
                                  type: string
                                  description: 企业名称
                              description: 部门所属机构信息
                            payAmount:
                              type: object
                            recordId:
                              type: string
                              description: 记录ID
                            remark:
                              type: string
                              description: 备注
                            sumPayable:
                              type: object
                        description: 订单付款记录结构，V2
                      orderRecordId:
                        type: string
                        description: 订单ID
              example:
                msg: ''
                code: 0
                data:
                  orderPayRecordList:
                  - organ:
                      organName: ''
                      organId: ''
                    sumPayable: ''
                    remark: ''
                    dept:
                      deptName: ''
                      storeType: 0
                      deptId: ''
                      customerCode: ''
                      outDeptId: ''
                    recordId: ''
                    payAmount: ''
                    createTime: ''
                    createUser:
                      nickName: ''
                      mobile: ''
                      avatar: ''
                      outUserId: ''
                      userName: ''
                      userId: ''
                      name: ''
                    fileUrl: ''
                  orderNo: ''
                  orderRecordId: ''
                  orderName: ''
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/v1/manufacturing/getOrderQuoteXml:
    post:
      operationId: apiV1ManufacturingGetOrderQuoteXml
      summary: 获取订单报价XML接口
      tags:
      - MOS
      x-source-documentation: https://dev.3vjia.com/document?apiId=474664926561013852
      x-documentation-category: MOS系统 / 订单数据
      description: 获取订单报价XML,可以按照订单ID、订单号
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                contentType:
                  type: integer
                  format: int32
                  description: 文件类型，0=设计文件报价xml,1=审核文件报价xml
                  examples:
                  - '0'
                orderNo:
                  type: string
                  description: 订单号，订单ID、订单号至少传1项，当orderRecordId为空时，orderNo有效，外协订单无法使用orderNo查询
                  examples:
                  - 63CG19120402
                orderRecordId:
                  type: string
                  description: 订单ID，店铺订单、工厂订单通用，同一订单的店铺订单、工厂订单的ID一致，订单ID、订单号至少传1项，当orderRecordId不为空时，将忽略orderNo
                  examples:
                  - F053521B72F34613BEAD2CC8B6279E75
            example:
              orderNo: 63CG19120402
              orderRecordId: F053521B72F34613BEAD2CC8B6279E75
              contentType: 0
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
                    properties:
                      createUser:
                        type: object
                        properties:
                          avatar:
                            type: string
                            description: 设计师头像
                            examples:
                            - https://img3.admin.3vjia.com/UpFile/C00005842/ADMIN/UserSetting/202005/1001266879/89faef49527140eb883d7a5190c0048a.jpg
                          mobile:
                            type: string
                            description: 手机号码
                            examples:
                            - '13800000000'
                          name:
                            type: string
                            description: 姓名
                            examples:
                            - cc
                          nickName:
                            type: string
                            description: 昵称
                            examples:
                            - cc
                          outUserId:
                            type: string
                            description: 账号绑定的企业系统用户ID
                            examples:
                            - '123456'
                          userId:
                            type: string
                            description: 三维家用户ID
                            examples:
                            - '1000123456'
                          userName:
                            type: string
                            description: 三维家账号
                            examples:
                            - 3vj13800000000
                        description: 操作用户
                      diyOrderNo:
                        type: string
                        description: 自定义订单号
                        examples:
                        - A123456
                      orderName:
                        type: string
                        description: 订单名称
                        examples:
                        - 测试订单20200519
                      orderNo:
                        type: string
                        description: 订单编号
                        examples:
                        - EMS-63CG19120402
                      orderRecordId:
                        type: string
                        description: 订单的通用ID，同一订单下店铺订单、工厂订单此值是相同的
                        examples:
                        - F053521B72F34613BEAD2CC8B6279E75
                      xmlContent:
                        type: string
                        description: 设计文件或审核文件deflate算法压缩之后的Base64字符串,解压参考Demo：https://3vj-outerapi.3vjia.com/CodeDemo/OrderXmlDecodeDemo.java
                        examples:
                        - eNqllFuL00AUgN8F/8Mw7yGXya3QFpqkEWEpuOvio0ybbDtr2qnJROmboCusKLpP4lJZFldYBWXVB6XdxT/Tpt1/4SRpt+1enszD5ORcJ9+cM0Ub10nHZ2u4R2N2L6bMB09wEPslmHz5MT38lBz0k1efR8Pfk1/DyfAAgnXsEVqCsHz7FuBP0Y67FsWhl8c+TtcHuFeCMgTNgDZw4OIGo2GmiFgv8Gu47S/ieYZ1Stsg5EtuSfpfx3tn43dvYKa862WhqbhJuGxWKm7VlGVBNi1JQK6DBFVSkYAcu2DqSK0qElok5+nvhDTuLim4arNDGGC9Lq8WcxGCTlZ5/Pb1+PTZ+fvjcf+E/7eAIIjTkpahm7qlVgVLUR2hoiuO4GqaJSBTq5i2YugOsiFoY+aHBAfZhmVJ1k2kmhB0cchqcbvucwT6hiTbkrourkFAooxYCbIw9jm.....
              example:
                msg: 成功
                code: 0
                data:
                  orderNo: EMS-63CG19120402
                  diyOrderNo: A123456
                  orderRecordId: F053521B72F34613BEAD2CC8B6279E75
                  createUser:
                    nickName: cc
                    mobile: '13800000000'
                    avatar: https://img3.admin.3vjia.com/UpFile/C00005842/ADMIN/UserSetting/202005/1001266879/89faef49527140eb883d7a5190c0048a.jpg
                    outUserId: '123456'
                    userName: 3vj13800000000
                    userId: '1000123456'
                    name: cc
[...]
