openapi: 3.2.0
info:
  title: 3vjia Open Platform Products API
  version: '2026-09-05'
  summary: Home-furnishing 3D cloud design, quotation, order, manufacturing (AIMES/MOS/DMS) and AI operations exposed by the 3vjia (三维家) Open Platform.
  description: Machine-readable description of the 3vjia (三维家 / AiHouse) Open Platform, DERIVED — not published by the provider in this form.
  contact:
    name: 3vjia Open Platform
    url: https://dev.3vjia.com/
servers:
- url: https://open-gateway.3vjia.com
  description: 3vjia Open Platform gateway (current)
- url: https://open.3vjia.com
  description: Legacy open gateway — takes ?sysCode=external&access_token=
security:
- oauth2ClientCredentials: []
tags:
- name: Products
  description: 产品模块
paths:
  /api/v1/channelAdmin/employeeChannelsAdd:
    post:
      operationId: apiV1ChannelAdminEmployeeChannelsAdd
      summary: 添加单员工多个渠道权限接口
      tags:
      - Products
      x-source-documentation: https://dev.3vjia.com/document?apiId=525276161945751580
      x-documentation-category: 产品模块 / 渠道管理
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                addChannelResultList:
                  type: array
                  items:
                    type: object
                    properties:
                      channelId:
                        type: string
                        description: 渠道ID
                      expirationTime:
                        type: string
                        format: date-time
                        description: 权限过期时间，格式：yyyy-MM-dd HH:mm:ss
                    required:
                    - channelId
                    - expirationTime
                  description: 员工渠道信息
                userId:
                  type: string
                  description: 三维家用户ID
              required:
              - userId
            example:
              addChannelResultList:
              - expirationTime: ''
                channelId: ''
              userId: ''
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
              example:
                msg: ''
                code: 0
                data: false
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/v1/channelAdmin/employeeChannelsDel:
    post:
      operationId: apiV1ChannelAdminEmployeeChannelsDel
      summary: 删除单员工多个渠道权限接口
      tags:
      - Products
      x-source-documentation: https://dev.3vjia.com/document?apiId=525277776689872951
      x-documentation-category: 产品模块 / 渠道管理
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                channelIds:
                  type: array
                  items: {}
                  description: 渠道ID列表，为空则移除用户下所有的渠道权限。
                  examples:
                  - '["10008226","10008229"]'
                userId:
                  type: string
                  description: 用户ID
                  examples:
                  - '1101679488'
              required:
              - userId
            example:
              userId: '1101679488'
              channelIds: []
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
              example:
                msg: ''
                code: 0
                data: false
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/v1/designmaterial/getByIds:
    post:
      operationId: apiV1DesignmaterialGetByIds
      summary: 根据素材ID获取素材数据接口
      tags:
      - Products
      x-source-documentation: https://dev.3vjia.com/document?apiId=472780169510203437
      x-documentation-category: 产品模块 / 素材数据
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items: {}
                  description: 素材id数组
              required:
              - ids
            example:
              ids: []
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
                    properties:
                      a3dSource:
                        type: string
                        description: a3d路径
                      author:
                        type: string
                        description: 上传用户
                      belongType:
                        type: integer
                        format: int32
                        description: 所属类型：1门店，2工厂
                      brickId:
                        type: string
                      categoryId:
                        type: integer
                        format: int32
                        description: 类别编号
                      chartletCode:
                        type: string
                        description: 贴图特征码
                      classification:
                        type: integer
                        format: int32
                        description: 素材类别，1-模型，2-贴图，3-线条
                      color:
                        type: string
                        description: 素材颜色
                      contentUrl:
                        type: string
                        description: content路径
                      costPrice:
                        type: number
                        format: double
                        description: 成本价
                      creatorId:
                        type: string
                        description: 创建者id
                      deptId:
                        type: string
                        description: 部门Id
                      depthDefault:
                        type: string
                        description: 橱衣柜深默认值
                      depthMax:
                        type: number
                        format: double
                        description: 橱衣柜深最大值
                      depthMin:
                        type: number
                        format: double
                        description: 橱衣柜深最小值
                      designCode:
                        type: string
                        description: 部件编号(定制专用)
                      doorTypeSetting:
                        type: integer
                        format: int32
                        description: 配置门板开关,0位不选中,1为选中
                      freeCategoryId:
                        type: integer
                        format: int32
                        description: 素材自定义分类
                      heightDefault:
                        type: string
                        description: 橱衣柜高默认值
                      heightMax:
                        type: number
                        format: double
                        description: 橱衣柜高最大值
                      heightMin:
                        type: number
                        format: double
                        description: 橱衣柜高最小值
                      holeLength:
                        type: number
                        format: double
                        description: 开孔尺寸长
                      holeWidth:
                        type: number
                        format: double
                        description: 开孔尺寸宽
                      id:
                        type: string
                        description: 素材关联淘宝企业表的id
                      imagePath:
                        type: string
                        description: 图片路径
                      is3d:
                        type: integer
                        format: int32
                        description: 是否在3d设计软件显示1显示0不显示
                      isA3d:
                        type: string
                        description: 是否A3D
                      isBrandShare:
                        type: integer
                        format: int32
                        description: 素材是否共享品牌馆业务，null，0未上架，1上架，2待审核，3未通过
                      isBumpMap:
                        type: integer
                        format: int32
                        description: 是否凹凸图0否1是
                      isDelete:
                        type: integer
                        format: int32
                        description: 是否删除
                      isHasProduct:
                        type: integer
                        format: int32
                        description: 素材是否有商品
                      isOut:
                        type: integer
                        format: int32
                        description: “淘汰”状态0正常1淘汰
                      isPublic:
                        type: integer
                        format: int32
                        description: 是否公用
                      isQuality:
                        type: string
                        description: 是否优质素材：0优质素材，1普通素材
                      isRelate:
                        type: integer
                        format: int32
                        description: 标识该素材是否有关联到某个分组中，添加关联为1，取消关联为0，默认为0
                      isRender:
                        type: integer
                        format: int32
                        description: 是否可渲染,0不可渲染，1可渲染
                      isShare:
                        type: integer
                        format: int32
                        description: 替换材质
                      isTop:
                        type: integer
                        format: int32
                        description: 是否置顶0:否1:是默认是0
                      isUnit:
                        type: integer
                        format: int32
                        description: 是否单元，3D橱衣柜专用1是，0否
                      isnodes:
                        type: integer
                        format: int32
                        description: 标识是否支持多节点，0-否（默认），1-是
                      item:
                        type: string
                        description: 淘宝商品ID
                      leafType:
                        type: string
                        description: 类型字段包含选项:“掩门”、“翻门”、“抽面”、“假门”、“假抽”、“封板”、“装饰板”
                      lightProperty:
                        type: string
                        description: 灯光属性
                      materialAttribute:
                        type: string
                        description: 属性类别
                      materialBallType:
                        type: integer
                        format: int32
                        description: 是否新材质默认值为1
                      materialCategory:
                        type: string
                        description: 素材分类
                      materialId:
                        type: string
                        description: 素材Id
                      materialName:
                        type: string
                        description: 素材名称
                      materialType:
                        type: string
                        description: 素材类型
                      materialrhId:
                        type: string
                        description: 材质球渲染记录id
                      modelDepth:
                        type: number
                        format: double
                        description: 模型深度
                      modelFlag:
                        type: integer
                        format: int32
                        description: 模型标志1表示摆摆看，2表示贴贴看3表示加加看
                      modifyTime:
                        type: string
                      modifyUserId:
                        type: string
                      openDirection:
                        type: string
                        description: 开门方向分为：左开/右开（对应掩门）、上开/下开（对应翻门）、前开（对应抽面）
                      organId:
                        type: string
                        description: 发布商家
                      orientation:
                        type: integer
                        format: int32
                        description: 朝向左开为1，右开为2
                      parts:
                        type: string
                        description: 部件属性
                      picHeight:
                        type: number
                        format: double
                        description: 高
                      picHeight_Bak:
                        type: number
                        format: double
                        description: 图片高
                      picLength:
                        type: number
                        format: double
                        description: 长
                      picLength_Bak:
                        type: number
                        format: double
                        description: 图片长
                      picSize:
                        type: string
                        description: 素材图片的尺寸大小，例如：806A504
                      picWidth:
                        type: number
                        format: double
                        description: 宽
                      picWidth_Bak:
                        type: number
                        format: double
                        description: 图片宽
                      placeHeight:
                        type: string
                        description: 放置高度
                      placeRule:
                        type: string
                        description: 放置规则
                      postTime:
                        type: string
                        description: 上传时间
                      productId:
                        type: string
                        description: 产品Id
                      property:
                        type: string
                        description: 材质属性
                      publicCategoryId:
                        type: integer
                        format: int32
                        description: 公共库分类ID
                      rawMaterialType:
                        type: string
                        description: 原材料类型
                      remark:
                        type: string
                        description: 备注
                      replaceImg:
                        type: string
                        description: 替换贴图，1是，0否
                      retailPrice:
                        type: number
                        format: double
                        description: 零售价
                      salePrice:
                        type: number
                        format: double
                        description: 售价
                      shareStatus:
                        type: integer
                        format: int32
                        description: 分享状态：0：未分享（默认），1：已分享，2：已下架
                      shareTime:
                        type: string
                        description: 分享时间
                      shareTopTime:
                        type: string
                        description: 分享置顶时间
                      shopId:
                        type: string
                        description: 门店id
                      sku:
                        type: string
                        description: 淘宝skuId
                      sortNumber:
                        type: integer
                        format: int32
                        description: 序号
                      sprungRoofType:
                        type: integer
                        format: int32
                        description: 顶墙上传类型1模型2贴图3收边条
                      subParts:
                        type: string
                        description: 子部件属性
                      taperStatus:
                        type: integer
                        format: int32
                        description: 减面操作状态
                      tenantId:
                        type: string
                        description: 租户id
                      thumbPath:
                        type: string
                        description: '''截面库-解析xmlContent对应的图片路径-缩略图'''
                      useArea:
                        type: string
                        description: 使用区域
                      useCategory:
                        type: string
                        description: 使用分类
                      useStage:
                        type: string
                        description: 使用阶段
                      version:
                        type: integer
                        format: int32
                      version1:
                        type: integer
                        format: int32
                      versionTime:
                        type: string
                        description: content的修改时间
                      wccId:
                        type: string
                        description: 欧派产品编号
                      wholeSalePrice:
                        type: number
                        format: double
                        description: 批发价
                      widthDefault:
                        type: string
                        description: 橱衣柜宽默认值
                      widthMax:
                        type: number
                        format: double
                        description: 橱衣柜宽最大值
                      widthMin:
                        type: number
                        format: double
                        description: 橱衣柜宽最小值
                      xmlContentUrl:
                        type: string
                        description: xmlContent路径
              example:
                msg: ''
                code: 0
                data:
                - imagePath: ''
                  sortNumber: 0
                  modifyUserId: ''
                  is3d: 0
                  xmlContentUrl: ''
                  useArea: ''
                  rawMaterialType: ''
                  postTime: ''
                  modifyTime: ''
                  modelFlag: 0
                  isRender: 0
                  property: ''
                  materialBallType: 0
                  id: ''
                  shopId: ''
                  sku: ''
                  brickId: ''
                  item: ''
                  isHasProduct: 0
                  lightProperty: ''
                  productId: ''
                  author: ''
                  leafType: ''
                  deptId: ''
                  wccId: ''
                  isnodes: 0
                  picSize: ''
                  classification: 0
                  materialId: ''
                  materialAttribute: ''
                  materialCategory: ''
                  version: 0
                  publicCategoryId: 0
                  subParts: ''
                  materialName: ''
                  isTop: 0
                  openDirection: ''
                  isQuality: ''
                  sprungRoofType: 0
                  isShare: 0
                  parts: ''
                  isOut: 0
                  organId: ''
                  useStage: ''
                  widthDefault: ''
                  shareTopTime: ''
                  a3dSource: ''
                  doorTypeSetting: 0
                  color: ''
                  useCategory: ''
                  creatorId: ''
                  isBrandShare: 0
                  remark: ''
                  isBumpMap: 0
                  isA3d: ''
                  isRelate: 0
                  heightDefault: ''
                  taperStatus: 0
                  versionTime: ''
                  isPublic: 0
                  thumbPath: ''
                  belongType: 0
                  orientation: 0
                  chartletCode: ''
                  freeCategoryId: 0
                  isDelete: 0
                  isUnit: 0
                  materialType: ''
                  materialrhId: ''
                  replaceImg: ''
                  placeHeight: ''
                  placeRule: ''
                  contentUrl: ''
                  depthDefault: ''
                  version1: 0
                  shareTime: ''
                  tenantId: ''
                  designCode: ''
                  categoryId: 0
                  shareStatus: 0
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/v1/designmaterial/getByIdsIncludeDel:
    post:
      operationId: apiV1DesignmaterialGetByIdsIncludeDel
      summary: 根据素材ID集合批量获取素材数据接口
      tags:
      - Products
      x-source-documentation: https://dev.3vjia.com/document?apiId=557922168223166473
      x-documentation-category: 产品模块 / 素材数据
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items: {}
                  description: id集合
            example:
              ids: []
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
                    properties:
                      a3dsource:
                        type: string
                        description: a3d路径
                      author:
                        type: string
                        description: 上传用户
                      belongtype:
                        type: integer
                        format: int32
                        description: 所属类型：1门店，2工厂
                      brickid:
                        type: string
                      categoryid:
                        type: integer
                        format: int32
                        description: 类别编号
                      classification:
                        type: integer
                        format: int32
                        description: 素材类别，1-模型，2-贴图，3-线条
                      color:
                        type: string
                        description: 素材颜色
                      content:
                        type: string
                        description: 内容
                      contentCdnUrl:
                        type: string
                        description: 内容CDN url
                      contentCloudUrl:
                        type: string
                        description: 内容云url
                      contentUrl:
                        type: string
                        description: 内容url
                      costprice:
                        type: number
                        format: bigdecimal
                        description: 成本价
                      createTime:
                        type: string
                        format: date-time
                        description: 创建时间
                      creatorId:
                        type: string
                        description: 创建者id
                      depthdefault:
                        type: string
                        description: 橱衣柜深默认值
                      depthmax:
                        type: number
                        format: bigdecimal
                        description: 橱衣柜深最大值
                      depthmin:
                        type: number
                        format: bigdecimal
                        description: 橱衣柜深最小值
                      deptid:
                        type: string
                        description: 部门Id
                      designcode:
                        type: string
                      doortypesetting:
                        type: integer
                        format: int32
                        description: 配置门板开关,0位不选中,1为选中
                      expandattrib:
                        type: string
                        description: 使用XML描述,MYSQL已废弃
                      freecategoryid:
                        type: integer
                        format: int32
                        description: 素材自定义分类
                      heightdefault:
                        type: string
                      heightmax:
                        type: number
                        format: bigdecimal
                        description: 橱衣柜高最大值
                      heightmin:
                        type: number
                        format: bigdecimal
                        description: 橱衣柜高最小值
                      holelength:
                        type: integer
                        format: int32
                        description: 开孔尺寸长
                      holewidth:
                        type: integer
                        format: int32
                        description: 开孔尺寸宽
                      id:
                        type: string
                        description: 主键id
                      imagepath:
                        type: string
                        description: 图片路径
                      is3d:
                        type: integer
                        format: int32
                        description: 是否在3d设计软件显示 1显示 0 不显示
                      isa3d:
                        type: string
                        description: 是否A3D
                      isbrandshare:
                        type: integer
                        format: int32
                      isbumpmap:
                        type: integer
                        format: int32
                        description: 是否凹凸图 0否 1是
                      isdelete:
                        type: integer
                        format: int32
                        description: 是否删除
                      ishasproduct:
                        type: integer
                        format: int32
                        description: 素材是否有商品
                      isnodes:
                        type: integer
                        format: int32
                        description: 标识是否支持多节点，0-否（默认），1-是
                      ispublic:
                        type: integer
                        format: int32
                        description: 是否公用
                      isquality:
                        type: integer
                        format: int32
                      isrelate:
                        type: integer
                        format: int32
                        description: 标识该素材是否有关联到某个分组中，添加关联为1 ，取消关联为0，默认为0
                      isrender:
                        type: integer
                        format: int32
                        description: 是否可渲染,0不可渲染，1可渲染
                      isshare:
                        type: integer
                        format: int32
                        description: 替换材质
                      istop:
                        type: integer
                        format: int32
                        description: 是否置顶 0:否  1:是  默认是0
                      isunit:
                        type: integer
                        format: int32
                        description: 是否单元，3D橱衣柜专用 1是，0否
                      leaftype:
                        type: string
                        description: 类型：0掩门，1 抽面，2翻门，3假门，10假抽，11封板，12装饰板等，可存多值
                      lightproperty:
                        type: string
                        description: 灯光属性
                      materialCategoryName:
                        type: string
                        description: 素材分类名称
                      materialattribute:
                        type: string
                        description: 属性类别
                      materialcategory:
                        type: string
                        description: 素材分类
                      materialname:
                        type: string
                        description: 素材名称
                      materialrhid:
                        type: string
                        description: 材质球渲染记录id
                      materialtype:
                        type: string
                        description: 素材类型
                      modeldepth:
                        type: integer
                        format: int64
                      modelflag:
                        type: integer
                        format: int32
                        description: 模型标志 1表示摆摆看， 2表示贴贴看  3表示加加看
                      modifierId:
                        type: string
                      modifyTime:
                        type: string
                        format: date-time
                      normcategoryid:
                        type: integer
                        format: int32
                        description: 素材确实标签
                      opendirection:
                        type: string
                        description: 开门方向：4左开，6右开，8上开，2下开，5前开
                      organid:
                        type: string
                        description: 发布商家
                      orientation:
                        type: integer
                        format: int32
                        description: 朝向 左开为1，右开为2
                      parts:
                        type: string
                        description: 部件属性
                      picheight:
                        type: number
                        format: bigdecimal
                        description: 高
                      picheightBak:
                        type: integer
                        format: int32
                        description: 图片高
                      piclength:
                        type: number
                        format: bigdecimal
                        description: 长
                      piclengthBak:
                        type: integer
                        format: int32
                        description: 图片长
                      picsize:
                        type: string
                        description: 素材图片的尺寸大小，例如：806A504
                      picwidth:
                        type: number
                        format: bigdecimal
                        description: 宽
                      picwidthBak:
                        type: integer
                        format: int32
                        description: 图片宽
                      placeheight:
                        type: string
                        description: 放置高度
                      placerule:
                        type: string
                        description: 放置规则
                      productid:
                        type: string
                        description: 产品Id
                      property:
                        type: string
                        description: 材质属性
                      rawmaterialtype:
                        type: string
                        description: 原材料类型
                      replaceimg:
                        type: string
                        description: 替换贴图，1是，0否
                      retailprice:
                        type: number
                        format: bigdecimal
                        description: 零售价
                      sharestatus:
                        type: integer
                        format: int32
                        description: 分享状态：0：未分享（默认），1：已分享，2：已下架
                      sharetime:
                        type: string
                        format: date-time
                        description: 分享时间
                      sharetoptime:
                        type: string
                        format: date-time
                        description: 分享置顶时间
                      shopId:
                        type: string
                        description: 门店id
                      sortnumber:
                        type: integer
                        format: int32
                        description: 序号
                      sourceType:
                        type: integer
                        format: int32
                        description: 模型来源：0、其他模型 1、3D++模型
                      sprungrooftype:
                        type: integer
                        format: int32
                        description: 顶墙上传类型 1模型 2贴图 3收边条
                      subparts:
                        type: string
                        description: 子部件属性
                      taperstatus:
                        type: integer
                        format: int32
                        description: 减面操作状态
                      tenantId:
                        type: string
                        description: 租户id
                      thumbpath:
                        type: string
                        description: 截面库-解析xmlContent对应的图片路径-缩略图
                      usearea:
                        type: string
                        description: 使用区域
                      usecategory:
                        type: string
                        description: 使用分类
                      usestage:
                        type: string
                        description: 使用阶段
                      version:
                        type: integer
                        format: int32
                      version1:
                        type: integer
                        format: int32
                      versionTime:
                        type: string
                        format: date-time
                        description: 对应版本记录的创建时间
                      wccid:
                        type: string
                        description: 欧派产品编号
                      wholesaleprice:
                        type: number
                        format: bigdecimal
                        description: 批发价
                      widthdefault:
                        type: string
                        description: 橱衣柜宽默认值
                      widthmax:
                        type: number
                        format: bigdecimal
                        description: 橱衣柜宽最大值
                      widthmin:
                        type: number
                        format: bigdecimal
                        description: 橱衣柜宽最小值
                      xmlContentCdnUrl:
                        type: string
                        description: xml内容CDN url
                      xmlContentCloudUrl:
                        type: string
                        description: xml内容云url
                      xmlContentUrl:
                        type: string
                        description: xml内容url
                      xmlcontent:
                        type: string
                        description: xml内容
                    required:
                    - id
              example:
                msg: ''
                code: 0
                data:
                - usecategory: ''
                  a3dsource: ''
                  picsize: ''
                  productid: ''
                  picwidthBak: 0
                  modifierId: ''
                  is3d: 0
                  heightmin: 0
                  replaceimg: ''
                  isrelate: 0
                  taperstatus: 0
                  materialtype: ''
                  sharetoptime: ''
                  istop: 0
                  isunit: 0
                  heightmax: 0
                  property: ''
                  retailprice: 0
                  piclengthBak: 0
                  widthdefault: ''
                  id: ''
                  doortypesetting: 0
                  sprungrooftype: 0
                  modelflag: 0
                  lightproperty: ''
                  contentCloudUrl: ''
                  isnodes: 0
                  materialcategory: ''
                  classification: 0
                  version: 0
                  wholesaleprice: 0
                  sourceType: 0
                  deptid: ''
                  freecategoryid: 0
                  costprice: 0
                  depthdefault: ''
                  isrender: 0
                  subparts: ''
                  xmlContentCdnUrl: ''
                  placerule: ''
                  materialattribute: ''
                  createTime: ''
                  tenantId: ''
                  materialCategoryName: ''
                  isdelete: 0
                  belongtype: 0
                  contentCdnUrl: ''
                  modeldepth: 0
                  opendirection: ''
                  normcategoryid: 0
                  materialrhid: ''
                  widthmax: 0
                  xmlContentUrl: ''
                  rawmaterialtype: ''
                  modifyTime: ''
                  piclength: 0
                  ispublic: 0
                  shopId: ''
                  isquality: 0
                  widthmin: 0
                  author: ''
                  usearea: ''
                  heightdefault: ''
                  picheightBak: 0
                  ishasproduct: 0
                  holewidth: 0
                  imagepath: ''
                  thumbpath: ''
                  isa3d: ''
                  leaftype: ''
                  parts: ''
                  depthmax: 0
                  picheight: 0
                  brickid: ''
                  holelength: 0
                  materialname: ''
                  color: ''
                  xmlcontent: ''
                  isshare: 0
                  creatorId: ''
                  wccid: ''
                  isbumpmap: 0
                  expandattrib: ''
                  content: ''
                  depthmin: 0
                  versionTime: ''
                  organid: ''
                  categoryid: 0
                  orientation: 0
                  picwidth: 0
                  usestage: ''
                  designcode: ''
                  sharetime: ''
                  contentUrl: ''
                  placeheight: ''
                  version1: 0
                  sharestatus: 0
                  xmlContentCloudUrl: ''
                  isbrandshare: 0
                  sortnumber: 0
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/v1/line/oss/getUploadToken:
    post:
      operationId: apiV1LineOssGetUploadToken
      summary: 获取线条上传签名接口
      tags:
      - Products
      x-source-documentation: https://dev.3vjia.com/document?apiId=644937818719805452
      x-documentation-category: 产品模块 / 线条上传
      description: 注意：上传CAD文件不超过1M，支持格式 dwg、dxf
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                context:
                  type: object
                  description: 文件名变量
                  examples:
                  - '{"fileName":"d2xidz2jifsotegzzrvnahhaxck5y6aw"}'
                fileSuffix:
                  type: string
                  description: 上传的文件后缀，不带'.'，支持格式 dwg、dxf
            example:
              fileSuffix: ''
              context: ''
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
                    properties:
                      accessKeyId:
                        type: string
                        description: 访问密钥标识
                      contentType:
                        type: string
                        description: 华为云和腾讯云都要把 Content-Type 作为表单字段返回（非空的时候带过去，或者指定 prefix 的时候要自己生成并带过去）
                      contentTypePrefix:
                        type: string
                        description: 内容类型前缀
                      expireAt:
                        type: integer
                        format: int64
                        description: 签名过期10位秒级时间戳
                      expireTime:
                        type: string
                        format: date-time
                        description: 签名过期时间
                      formFields:
                        type: object
                        description: 表单字段，用于前端直传时的表单字段填充（这里只考虑用户元数据相关的认证信息）
                      key:
                        type: string
                        description: 约束上传的key
                      ossHost:
                        type: string
                        description: 需要上传到哪个OSS上，值为OSS地址或者CDN域名
                      policy:
                        type: string
                        description: 签名上传的约束策略，比如大小、前缀等
                      readDomain:
                        type: string
                        description: 对于公共读bucket，该值用于拼接完整域名
                      securityToken:
                        type: string
                        description: 安全令牌（当基于STS或者IAM生成签名时前端的表单必须同时携带该参数）
                      signature:
                        type: string
                        description: 签名
                      vendor:
                        type: string
                        description: 本次生成签名对应的厂商
                    required:
                    - expireTime
                    - vendor
              example:
                msg: ''
                code: 0
                data:
                  accessKeyId: ''
                  signature: ''
                  contentTypePrefix: ''
                  expireAt: 0
                  ossHost: ''
                  securityToken: ''
                  expireTime: ''
                  readDomain: ''
                  vendor: ''
                  formFields: ''
                  contentType: ''
                  key: ''
                  policy: ''
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/v1/material/deleteMaterial:
    post:
      operationId: apiV1MaterialDeleteMaterial
      summary: 删除素材接口
      tags:
      - Products
      x-source-documentation: https://dev.3vjia.com/document?apiId=474672016889319484
      x-documentation-category: 产品模块 / 素材管理
      description: 删除素材
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                materialId:
                  type: string
                  description: 要编辑的素材ID
                  examples:
                  - '57978944'
            example:
              materialId: '57978944'
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
              example:
                msg: 成功
                code: 0
                data: true
                success: true
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/v1/material/listByPage:
    post:
      operationId: apiV1MaterialListByPage
      summary: 分页查询素材数据接口
      tags:
      - Products
      x-source-documentation: https://dev.3vjia.com/document?apiId=591308101605548077
      x-documentation-category: 产品模块 / 素材数据
      description: '## 素材类型（modelFlag）传值说明

        | 成品类 | 全屋定制 | 硬装定制 |

        | --- | --- |--- |

        | 1 = 模型 | 10 = 衣柜 | 14 = 铺砖 |

        | 2 = 贴图 |11 = 橱柜 | 18 = 顶墙 |

        | 3 = 门窗 |12 = 系统柜 | 25 = 水电 |

        | 4 = 替换材质 |23 = 浴室柜 | 36 = 涂料 |

        | 15 = 模型组合 |24 = 淋浴房 | |

        | 37 = 自由建模 |13 = 卫浴 | |

        | |17 = 整木 | |

        | |28 = 铝门窗 | |

        | |22 = 定制通用 | |'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                brandId:
                  type: integer
                  format: int32
                  description: 品牌ID
                categoryId:
                  type: integer
                  format: int32
                  description: 分类ID
                categoryIds:
                  type: array
                  items: {}
                  description: 分类ID列表
                current:
                  type: integer
                  format: int64
                  description: 当前查询第几页
                endPostTime:
                  type: string
                  format: date-time
                  description: 上传结束时间
                is3d:
                  type: integer
                  format: int32
                  description: 3D启用状态：0=未启用，1=已启用
                isDelete:
                  type: integer
                  format: int32
                  description: 是否删除：0=否，1=是
                materialId:
                  type: string
                  description: 素材编号
                materialName:
                  type: string
                  description: 素材名称
                materialType:
                  type: integer
                  format: int32
                  description: 模型类别：0=模型，1=贴图，2=线条，3=方案，4=水刀，其中成品类素材无需传值
                modelFlag:
                  type: integer
                  format: int32
                  description: 素材类型，参考上面的说明
                modelFlags:
                  type: array
                  items: {}
                  description: 素材类型集合，参考上面的说明
                name:
                  type: string
                  description: 用户姓名
                organType:
                  type: integer
                  format: int32
                  description: 归属：0=企业素材，1=门店素材，2=个人素材
                size:
                  type: integer
                  format: int64
                  description: 当前查询页记录数
                sort:
                  type: array
                  items:
                    type: object
                    properties:
                      ascending:
                        type: boolean
                        description: 字段排序规则
                      normalized:
                        type: boolean
                        description: 是否已经规范化，即字段名与数据库字段已经一致，false的时候会将驼峰转下划线
                      property:
                        type: string
                        description: 根据哪个字段进行排序
                  description: 排序定义
                startPostTime:
                  type: string
                  format: date-time
                  description: 上传开始时间
                username:
                  type: string
                  description: 账号名称
              required:
              - current
              - organType
              - size
            example:
              isDelete: 0
              materialType: 0
              is3d: 0
              modelFlags: []
              sort:
              - normalized: false
                ascending: false
                property: ''
              materialId: ''
              materialName: ''
              categoryIds: []
              current: 0
              modelFlag: 0
              size: 0
              endPostTime: ''
              brandId: 0
              name: ''
              organType: 0
              startPostTime: ''
              categoryId: 0
              username: ''
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
                    properties:
                      current:
                        type: integer
                        format: int64
                        description: 当前查询第几页
                      records:
                        type: array
                        items:
                          type: object
                          properties:
                            atlasId:
                              type: string
                              description: AI图谱id
                            auditComments:
                              type: string
                              description: 审核意见
                            author:
                              type: string
                              description: 上传用户ID
                            authorName:
                              type: string
                              description: 上传用户真实名称
                            authorUserName:
                              type: string
                              description: 上传用户账号名称
                            brandId:
                              type: integer
                              format: int32
                              description: 品牌ID
                            brandName:
                              type: string
                              description: 品牌名称
                            categoryTree:
                              type: object
                              properties:
                                categoryId:
                                  type: integer
                                  format: int32
                                  description: 分类ID
                                categoryName:
                                  type: string
                                  description: 分类名称
                                child:
                                  type: object
                                  description: 素材分类路径
                                isShow:
                                  type: integer
                                  format: int32
                                  description: 是否显示
                              description: 素材分类路径
                            classification:
                              type: integer
                              format: int32
                            contributeStatus:
                              type: integer
                              format: int32
                              description: 投稿状态：1-待审核，2-已通过，3-不通过
                            designCode:
                              type: string
                            imagePath:
                              type: string
                              description: 主图
                            is3d:
                              type: integer
                              format: int32
                              description: 3D启用状态
                            is3dDesc:
                              type: string
                              description: 3D启用状态描述
                            isCopied:
                              type: integer
                              format: int32
                              description: 复制状态（-1：未复制，0：待复制，1：已复制，2：可更新，3:复制中）
                            isCustomMaterialBall:
                              type: integer
                              format: int32
                              description: 是否企业材质球：0-否，1-是
                            isLock:
                              type: integer
                              format: int32
                              description: 是否锁定：0-否，1-是
                            materialAttribute:
                              type: string
                              description: 素材属性
                            materialAttributeTree:
                              type: object
                              properties:
                                child:
                                  type: object
                                  description: 素材属性关联对象
                                materialAttribute:
                                  type: string
                                  description: 素材属性名称
                                materialAttributeId:
                                  type: string
                                  description: 素材属性id
                              description: 素材属性关联对象
                            materialBallType:
                              type: integer
                              format: int32
                              description: 是否新版材质：1-旧材质，2-新材质
                            materialCategory:
                              type: string
                              description: 材料分类
                            materialCategoryList:
                              type: array
                              items:
                                type: object
                                properties:
                                  categoryId:
                                    type: integer
                                    format: int32
                                    description: 分类id
                                  categoryName:
                                    type: string
                                    description: 分类名称
                                  childNodes:
                                    type: array
                                    items: {}
                                    description: 分类标签出参
                                  isShow:
                                    type: integer
                                    format: int32
                                    description: 是否显示 1显示 0隐藏
                              description: 分类标签出参
                            materialCategoryName:
                              type: string
                              description: 材料分类名称
                            materialId:
                              type: string
                              description: 素材ID
                            materialName:
                              type: string
                              description: 素材名称
                            modifyTime:
                              type: string
                              format: date-time
                              description: 修改时间
                            modifyUserId:
                              type: string
                              description: 修改用户ID
                            modifyUserName:
                              type: string
                              description: 修改用户账号名
                            modifyUserRealName:
                              type: string
                              description: 修改用户真实名称
                            placeRule:
                              type: string
                              description: 放置规则
                            placeRuleName:
                              type: string
                              description: 放置规则名称
                            postTime:
                              type: string
                              format: date-time
                              description: 上传时间
                            property:
                              type: string
                              description: 材质属性
                            propertyName:
                              type: string
                              description: 材质属性名称
                            seriesId:
                              type: string
                              description: 系列ID
                            seriesName:
                              type: string
                              description: 系列名称
                            sortNumber:
                              type: integer
                              format: int32
                              description: 序号
                            tags:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: integer
                                    format: int32
                                    description: 关联ID
                                  tagId:
                                    type: integer
                                    format: int32
                                    description: 标签ID
                                  tagName:
                                    type: string
                                    description: 标签名称
                              description: 标签
                        description: 素材
                      size:
                        type: integer
                        format: int64
                        description: 当前查询页记录数
                      total:
                        type: integer
                        format: int64
                        description: 总数
                    required:
                    - current
                    - size
                    - total
              example:
                msg: ''
                code: 0
                data:
                  records:
                  - imagePath: ''
                    modifyUserRealName: ''
                    sortNumber: 0
                    atlasId: ''
                    modifyUserId: ''
                    is3d: 0
                    materialCategoryList:
                    - childNodes: []
                      categoryName: ''
                      isShow: 0
                      categoryId: 0
                    seriesId: ''
                    auditComments: ''
                    isLock: 0
                    materialAttributeTree:
                      materialAttribute: ''
                      materialAttributeId: ''
                      child: ''
                    modifyUserName: ''
                    postTime: ''
                    modifyTime: ''
                    property: ''
                    materialBallType: 0
                    categoryTree:
                      categoryName: ''
                      isShow: 0
                      categoryId: 0
                      child: ''
                    is3dDesc: ''
                    brandName: ''
                    isCopied: 0
                    placeRuleName: ''
                    author: ''
                    seriesName: ''
                    isCustomMaterialBall: 0
                    contributeStatus: 0
                    classification: 0
                    materialId: ''
                    materialAttribute: ''
                    materialCategory: ''
                    tags:
                    - tagId: 0
                      tagName: ''
                      id: 0
                    materialName: ''
                    placeRule: ''
                    propertyName: ''
                    authorName: ''
                    brandId: 0
                    authorUserName: ''
                    materialCategoryName: ''
                    designCode: ''
                  current: 0
                  total: 0
                  size: 0
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/v1/material/receiveOuterMaterialContent:
    post:
      operationId: apiV1MaterialReceiveOuterMaterialContent
      summary: 接收外网模型文件接口
      tags:
      - Products
      x-source-documentation: https://dev.3vjia.com/document?apiId=513050275490115608
      x-documentation-category: 产品模块 / 素材管理
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                materialFilePath:
                  type: string
                  description: 素材文件路径
                outerMaterialId:
                  type: string
                  description: 第三方素材id
                outerMaterialSource:
                  type: string
                  description: 第三方素材来源，欧模：om
              required:
              - materialFilePath
              - outerMaterialId
              - outerMaterialSource
            example:
              materialFilePath: ''
              outerMaterialId: ''
              outerMaterialSource: ''
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
              example:
                msg: ''
                code: 0
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/v1/material/updateMaterialAndProduct:
    post:
      operationId: apiV1MaterialUpdateMaterialAndProduct
      summary: 编辑素材和商品接口
      tags:
      - Products
      x-source-documentation: https://dev.3vjia.com/document?apiId=475005267981971501
      x-documentation-category: 产品模块 / 素材管理
      description: 编辑素材和商品，只传入需要变更的值
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                categoryId:
                  type: string
                  description: 自定义分类，必填，素材必须有所属分类
                color:
                  type: string
                  description: 颜色,102019=银色,18935=白色,19654=米色,19649=黄色,19651=橘色,19648=红色,19646=粉色,18936=绿色,19653=蓝色,19656=紫色,19658=彩色,19647=黑色,19652=咖啡色,19650=灰色
                detail:
                  type: string
                  description: 详细
                is3d:
                  type: integer
                  format: int32
                  description: 3D是否可见0=不可见，1=可见
                isHasProduct:
                  type: integer
                  format: int32
                  description: 是否有商品，0=没有，1=有
                lightProperty:
                  type: string
                  description: 灯光属性（太阳光类、射灯类、台灯吊灯类的设置，非必须）,BallLight=球灯灯光属性,TableLamp=台灯灯光属性,CeilingLight=吊灯灯光属性,Vertical_NoDecayLight=不衰减面光属性
                materialId:
                  type: string
                  description: 素材ID
                materialName:
                  type: string
                  description: 素材名称
                materialType:
                  type: string
                  description: 素材类别，SingleDoor=单开门，DoubleDoor=双开门，CommonWindow=普通窗，BayWindow=飘窗，LBayWindow=L型飘窗，SlidingDoor=移门，SafetyDoor=防盗门，DoorHole=门洞，Pillar=柱子，Platform=地台，Beam=横梁，SprungRoof=吊顶，Furniture=家具类，SprungRoofPave=吊顶铺贴类，Balcony=阳台类，SunLight=太阳光类，SpotLight=射灯类，FlushToilet=异形开洞类，PlaneWaterJet=平面水刀，ChanDelier=台灯吊灯类，WaterElectric=水电
                model:
                  type: string
                  description: 型号
                placeRule:
                  type: string
                  description: 放置规则，吊顶、家具类、射灯类、异形开洞类、平面水刀、台灯吊灯类、水电需要传,free=自由放置,stickFloor=落地自由移动,floor=落地中央移动,onFloorAdsorb=落地贴墙移动,desktop=叠加放置,top=吸顶,wall=墙上,ceiling=天花
                productName:
                  type: string
                  description: 商品名称
                property:
                  type: string
                  description: 材质属性，枚举值较多，请联系技术支持获取枚举值
                specifications:
                  type: string
                  description: 规格
                status:
                  type: integer
                  format: int32
                  description: 0下架1上架
                style:
                  type: string
                  description: 风格,873421=北欧,15878=现代,15880=中式,7269938=轻奢,15881=欧式,15913=美式,5615919=日式,15879=田园,873422=工业,7269937=新中式,18909=地中海,873425=东南亚,18418=新古典
                unit:
                  type: string
                  description: 计价单位,bag=袋,bucket=桶,dab=盏,doorframe=樘,fan=扇,fu=幅,group=组,juan=卷,kg=公斤,lump=块,meter=米,piece=片,pin=瓶,rise=升,root=根,set=套,single=个,sqm=平米,stage=台,zhang=张
                retailPrice:
                  type: number
                  format: double
                  description: 零售价
                salePrice:
                  type: integer
                  format: int32
                  description: 本网特价
                shopPrice:
                  type: integer
                  format: int32
                  description: 本网最低价
                skuList:
                  type: array
                  items:
                    type: object
                    properties:
                      costPrice:
                        type: object
                        description: 出厂价
                      isDefault:
                        type: integer
                        format: int32
                        description: 是否默认sku
                      price:
                        type: object
                        description: 售价
                      productLevel:
                        type: string
                        description: 产品等级
                      retailPrice:
                        type: object
                        description: 市场价
                      sku:
                        type: string
                        description: sku编码
                  description: 商品sku的结构
            example:
              isHasProduct: 0
              lightProperty: ''
              skuList:
              - costPrice: ''
                isDefault: 0
                productLevel: ''
                price: ''
                sku: ''
                retailPrice: ''
              color: ''
              salePrice: 0
              materialType: ''
              is3d: 0
              materialId: ''
              specifications: ''
              productName: ''
              materialName: ''
              placeRule: ''
              unit: ''
              shopPrice: 0
              property: ''
              model: ''
              style: ''
              detail: ''
              categoryId: ''
              status: 0
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
              example:
                msg: ''
                code: 0
                data: true
                success: true
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/v1/material/updateMaterialImage:
    post:
      operationId: apiV1MaterialUpdateMaterialImage
      summary: 编辑素材主图接口
      tags:
      - Products
      x-source-documentation: https://dev.3vjia.com/document?apiId=475025003306364933
      x-documentation-category: 产品模块 / 素材管理
      description: 编辑素材主图
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                fileContent:
                  type: string
                  description: 图片Base64字符；建议图片比例1:1，大小不超过1M；贴图主图：大小不超过5M
                  examples:
                  - iVBORw0KGgoAAAANSUhEUgAAAMgAAADICAYAAACtWKJggg==
                fileName:
                  type: string
                  description: 文件名
                  examples:
                  - 贴图主图
                materialFlag:
                  type: integer
                  format: int32
                  description: 素材类型，1=模型，2=贴图；
                  examples:
                  - '1'
                materialId:
                  type: string
                  description: 素材ID
                  examples:
                  - '123456'
                suffix:
                  type: string
                  description: 图片格式（JPG,JPEG,PNG）
                  examples:
                  - JPG
            example:
              fileName: 贴图主图
              materialFlag: 1
              materialId: '123456'
              suffix: JPG
              fileContent: iVBORw0KGgoAAAANSUhEUgAAAMgAAADICAYAAACtWKJggg==
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
              example:
                msg: ''
                code: 0
                data: true
                success: true
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/v1/material/updateMaterialStatus:
    post:
      operationId: apiV1MaterialUpdateMaterialStatus
      summary: 编辑素材状态接口
      tags:
      - Products
      x-source-documentation: https://dev.3vjia.com/document?apiId=475005267981971497
      x-documentation-category: 产品模块 / 素材管理
      description: 编辑成品素材3D是否可见状态,仅限于成品素材
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                is3d:
                  type: integer
                  format: int32
                  description: 3D是否可见（仅限于成品素材），0=不可见，1=可见
                  examples:
                  - '1'
                materialId:
                  type: string
                  description: 要编辑的素材ID
                  examples:
                  - '57978944'
            example:
              is3d: 1
              materialId: '57978944'
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
              example:
                msg: 成功
                code: 0
                data: true
                success: true
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/v1/material/updateProductStatus:
    post:
      operationId: apiV1MaterialUpdateProductStatus
      summary: 编辑商品状态接口
      tags:
      - Products
      x-source-documentation: https://dev.3vjia.com/document?apiId=475023500105560130
      x-documentation-category: 产品模块 / 素材管理
      description: 编辑商品上下架状态接口，会影响商品外链
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                materialId:
                  type: string
                  description: 商品关联的素材ID,materialId和productSku至少传1个，传了materialId将忽略productSku
                  examples:
                  - '57978944'
                productSku:
                  type: string
                  description: 商品Sku,materialId和productSku至少传1个，materialId为空时productSku有效
                  examples:
                  - A123456
                productStatus:
                  type: integer
                  format: int32
                  description: 商品是否上架3D（仅限于成品素材），0=下架，1=上架
                  examples:
                  - '1'
            example:
              productStatus: 1
              materialId: '57978944'
              productSku: A123456
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
              example:
                msg: 成功
                code: 0
                data: true
                success: true
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/v1/materialBatchSetting/setIs3d:
    post:
      operationId: apiV1MaterialBatchSettingSetIs3d
      summary: 批量设置素材3D启用状态
      tags:
      - Products
      x-source-documentation: https://dev.3vjia.com/document?apiId=825312689340452911
      x-documentation-category: 产品模块 / 素材管理
      description: 素材设为启用后，可以在3D云设计中使用该素材。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                is3d:
                  type: integer
                  format: int32
                  description: 3D启用状态：0=禁用，1=启用
                materialIds:
                  type: array
                  items: {}
                  description: 素材ID列表
                moduleName:
                  type: string
                  description: 模块名称，当前操作的模块，如全屋定制衣柜模型、全屋定制衣柜贴图等
              required:
              - is3d
              - materialIds
            example:
              moduleName: ''
              is3d: 0
              materialIds: []
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
              example:
                msg: ''
                code: 0
                data: false
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/v1/materialCategory/addMaterialCategory:
    post:
      operationId: apiV1MaterialCategoryAddMaterialCategory
      summary: 添加素材分类接口
      tags:
      - Products
      x-source-documentation: https://dev.3vjia.com/document?apiId=474673567347347500
      x-documentation-category: 产品模块 / 素材分类
      description: 添加素材分类
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                activated:
                  type: integer
                  format: int32
                  description: 启用状态1启用，0未启用
                categoryCode:
                  type: string
                  description: 分类代码
                  examples:
                  - wardrobeFront
                categoryName:
                  type: string
                  description: 分类名称
                  examples:
                  - 前台
                categoryType:
                  type: string
                  description: 分类类型，wardrobeAll=衣柜，cupboardAll=橱柜，systemCabinetAll=系统柜，UniversalAll=通用后台库，UniversalMaterial=通用材质库，bathCabinetAll=浴室柜，bathRoomAll=淋浴房，doorWindowAll=整木，aluminumAll=铝门窗，showerRoomAll=卫浴，brickSystemAll=铺砖，ceilingAll=顶墙，waterElectricAll=水电，brushingAll=涂料，Furniture=成品
                  examples:
                  - wardrobeAll
                parentId:
                  type: string
                  description: 父级ID
                  examples:
                  - '100386075'
                sortCode:
                  type: integer
                  format: int32
                  description: 排序号
                  examples:
                  - '0'
            example:
              categoryCode: wardrobeFront
              categoryName: 前台
              sortCode: 0
              parentId: '100386075'
              categoryType: wardrobeAll
              activated: 0
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
                    properties:
                      categoryCode:
                        type: string
                        description: 分类代码
                      categoryId:
                        type: string
                        description: 分类ID
                      categoryName:
                        type: string
                        description: 分类名称
                      categoryType:
                        type: string
                        description: 分类类型，wardrobeAll=衣柜，cupboardAll=橱柜，systemCabinetAll=系统柜，UniversalAll=通用后台库，UniversalMaterial=通用材质库，bathCabinetAll=浴室柜，bathRoomAll=淋浴房，doorWindowAll=整木，aluminumAll=铝门窗，showerRoomAll=卫浴，brickSystemAll=铺砖，ceilingAll=顶墙，waterElectricAll=水电，brushingAll=涂料，Furniture=成品
                      categoryTypeName:
                        type: string
                        description: 分类类型名称
                      children:
                        type: array
                        items: {}
                        description: 素材分类结果，V2
                      module:
                        type: string
                        description: 分类模块类型
                      parentId:
                        type: string
                        description: 父级ID
                      shopId:
                        type: string
                        description: 三维家门店ID
                      sortCode:
                        type: integer
                        format: int32
                        description: 排序号
              example:
                msg: 成功
                code: 0
                data:
                  module: ''
                  categoryCode: ''
                  categoryName: ''
                  sortCode: 0
                  parentId: ''
                  categoryType: ''
                  children: []
                  categoryTypeName: ''
                  shopId: ''
                  categoryId: ''
                success: true
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/v1/materialCategory/getMaterialCategory:
    post:
      operationId: apiV1MaterialCategoryGetMaterialCategory
      summary: 获取素材分类信息接口
      tags:
      - Products
      x-source-documentation: https://dev.3vjia.com/document?apiId=474672236729569286
      x-documentation-category: 产品模块 / 素材分类
      description: 获取素材分类信息
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                categoryId:
                  type: string
                  description: 分类ID
                  examples:
                  - '100381008'
            example:
              categoryId: '100381008'
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
                    properties:
                      categoryCode:
                        type: string
                        description: 分类代码
                      categoryId:
                        type: string
                        description: 分类ID
                      categoryName:
                        type: string
                        description: 分类名称
                      categoryType:
                        type: string
                        description: 分类类型，wardrobeAll=衣柜，cupboardAll=橱柜，systemCabinetAll=系统柜，UniversalAll=通用后台库，UniversalMaterial=通用材质库，bathCabinetAll=浴室柜，bathRoomAll=淋浴房，doorWindowAll=整木，aluminumAll=铝门窗，showerRoomAll=卫浴，brickSystemAll=铺砖，ceilingAll=顶墙，waterElectricAll=水电，brushingAll=涂料，Furniture=成品
                      categoryTypeName:
                        type: string
                        description: 分类类型名称
                      children:
                        type: array
                        items: {}
                        description: 素材分类结果，V2
                      module:
                        type: string
                        description: 分类模块类型
                      parentId:
                        type: string
                        description: 父级ID
                      shopId:
                        type: string
                        description: 三维家门店ID
                      sortCode:
                        type: integer
                        format: int32
                        description: 排序号
              example:
                msg: ''
                code: 0
                data:
                  module: ''
                  categoryCode: ''
                  categoryName: ''
                  sortCode: 0
                  parentId: ''
                  categoryType: ''
                  children: []
                  categoryTypeName: ''
                  shopId: ''
                  categoryId: ''
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/v1/materialCategory/getShopMaterialCategoryList:
    post:
      operationId: apiV1MaterialCategoryGetShopMaterialCategoryList
      summary: 获取门店素材分类列表接口
      tags:
      - Products
      x-source-documentation: https://dev.3vjia.com/document?apiId=474672016889319482
      x-documentation-category: 产品模块 / 素材分类
      description: 获取门店素材分类列表
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                module:
                  type: string
                  description: 分类模块类型：CategorySort（门店成品模型分类）/ShpoChartlet（门店成品贴图分类）
                  examples:
                  - CategorySort
                pageIndex:
                  type: integer
                  format: int32
                  description: 页码，最小值为1，默认值为1
                  examples:
                  - '1'
                pageSize:
                  type: integer
                  format: int32
                  description: 分页大小，最小值1，最大值500，默认值50
                  examples:
                  - '50'
                shopId:
                  type: string
                  description: 三维家门店ID
                  examples:
                  - '0123456'
            example:
              module: CategorySort
              pageSize: 50
              pageIndex: 1
              shopId: '0123456'
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
                    properties:
                      categoryCode:
                        type: string
                        description: 分类代码
                      categoryId:
                        type: string
                        description: 分类ID
                      categoryName:
                        type: string
                        description: 分类名称
                      children:
                        type: array
                        items: {}
                        description: 门店素材分类结果，V2
                      module:
                        type: string
                        description: 分类模块类型
                      parentId:
                        type: string
                        description: 父级ID
                      shopId:
                        type: string
                        description: 三维家门店ID
                      sortCode:
                        type: integer
                        format: int32
                        description: 排序号
              example:
                msg: ''
                code: 0
                data:
                - module: ''
                  categoryCode: ''
                  categoryName: ''
                  sortCode: 0
                  parentId: ''
                  children: []
                  shopId: ''
                  categoryId: ''
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/v1/materialDict/brandSeries:
    post:
      operationId: apiV1MaterialDictBrandSeries
      summary: 根据品牌id获取系列列表
      tags:
      - Products
      x-source-documentation: https://dev.3vjia.com/document?apiId=842345786061766684
      x-documentation-category: 产品模块 / 素材数据
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                brandId:
                  type: integer
                  format: int64
                  description: 品牌ID
              required:
              - brandId
            example:
              brandId: 0
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
                    properties:
                      key:
                        type: string
                        description: 键
                      value:
                        type: string
                        description: 值
              example:
                msg: ''
                code: 0
                data:
                - value: ''
                  key: ''
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/v1/materialDict/brands:
    post:
      operationId: apiV1MaterialDictBrands
      summary: 获取素材品牌列表
      tags:
      - Products
      x-source-documentation: https://dev.3vjia.com/document?apiId=842343918094925841
      x-documentation-category: 产品模块 / 素材数据
      description: 获取企业素材品牌列表
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
                    properties:
                      brandId:
                        type: integer
                        format: int64
                        description: 品牌ID
                      brandName:
                        type: string
                        description: 品牌名称
                      categoryId:
                        type: string
                        description: 分类ID
              example:
                msg: ''
                code: 0
                data:
                - brandName: ''
                  brandId: 0
                  categoryId: ''
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/v1/materialDict/commonCategories:
    post:
      operationId: apiV1MaterialDictCommonCategories
      summary: 通用分类（部件属性等）
      tags:
      - Products
      x-source-documentation: https://dev.3vjia.com/document?apiId=846785686068678805
      x-documentation-category: 产品模块 / 素材分类
      description: '通用分类，（部件属性等）；先根据categoryCode查询第一级分类，然后再指定parentId来查询下一级的分类；

        其中，每个模块的categoryCode不一样，下面列举了各个模块部件属性的部件categoryCode

        照明部件属性：illuminationParts

        通用部件属性：currencyParts

        衣柜部件属性：wardrobeParts

        橱柜部件属性：cupboardParts

        系统柜部件属性 ：systemCabinetParts

        卫浴部件属性：showerRoomParts

        浴室柜部件属性 ：bathCabinetParts

        淋浴房部件属性：bathRoomParts

        整木部件属性：doorWindowParts

        整木部件类型属性：doorWindowUnitType

        铝门窗部件属性：aluminumParts'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                categoryCode:
                  type: string
                  description: 分类代码
                parentId:
                  type: integer
                  format: int32
                  description: 父分类ID
            example:
              categoryCode: ''
              parentId: 0
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
                    properties:
                      code:
                        type: string
                        description: 分类代码
                      key:
                        type: string
                        description: 分类ID
                      value:
                        type: string
                        description: 分类名称
              example:
                msg: ''
                code: 0
                data:
                - code: ''
                  value: ''
                  key: ''
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/v1/materialDict/customNewMaterialCategories:
    post:
      operationId: apiV1MaterialDictCustomNewMaterialCategories
      summary: 获取企业自定义材质分类接口
      tags:
      - Products
      x-source-documentation: https://dev.3vjia.com/document?apiId=783733865595420737
      x-documentation-category: 产品模块 / 素材数据
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                parentId:
                  type: string
                  description: 父类ID
                  default: '0'
            example:
              parentId: ''
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
                    properties:
                      children:
                        type: array
                        items: {}
                        description: 材质球分类
                      id:
                        type: string
                      isDelete:
                        type: integer
                        format: int32
                      level:
                        type: integer
                        format: int32
                      name:
                        type: string
                      organId:
                        type: string
                      parentId:
                        type: string
                      sortCode:
                        type: integer
                        format: int32
                      type:
                        type: integer
                        format: int32
                      userId:
                        type: string
              example:
                msg: ''
                code: 0
                data:
                - level: 0
                  isDelete: 0
                  type: 0
                  sortCode: 0
                  userId: ''
                  parentId: ''
                  children: []
                  name: ''
                  organId: ''
                  id: ''
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/v1/materialDict/customNewMaterials:
    post:
      operationId: apiV1MaterialDictCustomNewMaterials
      summary: 获取企业自定义材质属性接口
      tags:
      - Products
      x-source-documentation: https://dev.3vjia.com/document?apiId=783735159575957586
      x-documentation-category: 产品模块 / 素材数据
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                categoryId:
                  type: string
                  description: 材质分类ID
              required:
              - categoryId
            example:
              categoryId: ''
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
                    properties:
                      auditDate:
                        type: string
                        format: date-time
                      auditStatus:
                        type: integer
                        format: int32
                      auditUserId:
                        type: string
                      categoryIds:
                        type: array
                        items: {}
                      createDate:
                        type: string
                        format: date-time
                      creator:
                        type: string
                      customCategoryId:
                        type: integer
                        format: int32
                      description:
                        type: string
                      enable3D:
                        type: boolean
                      id:
                        type: string
                      imageUrl:
                        type: string
                      isDelete:
                        type: integer
                        format: int32
                      name:
[...]
