# generated: '2026-09-05'
# method: derived
# source: https://devapi.3vjia.com/document/getNewApiDocument (3vjia Open Platform documentation API)
openapi: 3.1.0
info:
  title: 3vjia Open Platform API
  version: '2026-09-05'
  summary: Home-furnishing 3D cloud design, quotation, order, manufacturing (AIMES/MOS/DMS) and AI operations exposed by the 3vjia (三维家) Open Platform.
  description: |-
    Machine-readable description of the 3vjia (三维家 / AiHouse) Open Platform, DERIVED — not published by the provider in this form.

    Every path, HTTP method, parameter name, type, required flag, description and example in this document was read verbatim from 3vjia's own public documentation API (https://devapi.3vjia.com/document/getNewApiDocument?apiId=..., the JSON service that renders https://dev.3vjia.com/v1/document). Nothing here was invented: no operation, host or field was added that the provider does not document. Operations carry x-source-documentation pointing at the provider page each was read from.

    Authentication is OAuth 2.0 client_credentials against https://graph.3vjia.com/oauth/token (grant_type=client_credentials, client_id=appId, client_secret=appKey), returning an access_token valid for 7200 seconds. The legacy gateway (https://open.3vjia.com) takes the token as ?sysCode=external&access_token=; the current gateway is https://open-gateway.3vjia.com. Every documented operation is POST with Content-Type application/json;charset=utf-8 and returns the envelope {success, code, msg, data}.

    Source of truth remains the provider documentation at https://dev.3vjia.com/ — file corrections at https://github.com/api-evangelist/3vjia-technology.
  contact:
    name: 3vjia Open Platform
    url: https://dev.3vjia.com/
externalDocs:
  description: 3vjia Open Platform documentation (三维家开放平台)
  url: https://dev.3vjia.com/v1/document
x-generated-from: https://devapi.3vjia.com/document/getNewApiDocumentCategoryList + /document/getNewApiDocument (first-party documentation API)
x-generated-on: '2026-09-05'
x-generated-by: API Evangelist enrichment pipeline (local-v3) — mechanical transform of provider documentation records; no operation invented
x-operation-count: 429
x-documented-record-count: 430
x-note: 430 documentation records were harvested; two describe the same POST /api/v1/dms/order/createProduceOrder, so 429 unique operations are emitted.
servers:
- url: https://open-gateway.3vjia.com
  description: 3vjia Open Platform gateway (current)
- url: https://open.3vjia.com
  description: Legacy open gateway — takes ?sysCode=external&access_token=
security:
- oauth2ClientCredentials: []
tags:
- name: Authorization
  description: 登录授权
- name: Accounts
  description: 账号模块
- name: Products
  description: 产品模块
- name: Design Schemes
  description: 方案模块
- name: Quotation
  description: 报价模块
- name: MOS
  description: MOS系统
- name: AIMES
  description: AIMES系统
- name: DMS
  description: DMS系统
- name: 3vjia AI
  description: 三维家AI
- name: Floor Plans
  description: 楼盘户型
- name: 3D Show
  description: 3D秀
- name: Dreamer
  description: 梦想家
- name: Dedicated Services
  description: 专属服务
- name: Common Services
  description: 通用服务
- name: Xuanchi AI
  description: 玄尺AI
- name: Light Design
  description: 轻设计
- name: CAD
  description: CAD模块
- name: Chuangdian
  description: 创点系统
- name: Asset Management
  description: 资产管理
components:
  securitySchemes:
    oauth2ClientCredentials:
      type: oauth2
      description: OAuth 2.0 client credentials. appId/appKey are issued after developer + application approval at https://dev.3vjia.com/manage/my-app/developer. Token TTL 7200s; re-requesting invalidates the previous token.
      flows:
        clientCredentials:
          tokenUrl: https://graph.3vjia.com/oauth/token
          scopes: {}
paths:
  /api/AfterOrderOp/getAfterAaleOrderById:
    post:
      operationId: apiAfterOrderOpGetAfterAaleOrderById
      summary: 通过售后子订单ID获取售后单信息
      tags:
      - AIMES
      x-source-documentation: https://dev.3vjia.com/document?apiId=646398030987284576
      x-documentation-category: AIMES系统 / 订单数据 / 工厂单
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  format: int64
                  description: 售后子单ID
            example:
              id: 0
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
                    properties:
                      addProportion:
                        type: string
                        description: 加收比例
                      aftersaleMainOrderCode:
                        type: string
                        description: 售后主单编码
                      aftersaleMainOrderId:
                        type: integer
                        format: int64
                        description: 售后主单id
                      aftersaleMainOrderName:
                        type: string
                        description: 售后主单名称
                      aftersaleMainStatusCode:
                        type: string
                        description: 售后主单状态编码
                      aftersaleMainStatusName:
                        type: string
                        description: 售后主单状态名称
                      auditCreatorId:
                        type: string
                        description: 审核人
                      auditCreatorName:
                        type: string
                        description: 审核人名称
                      auditRemark:
                        type: string
                        description: 审核备注
                      auditStatusCode:
                        type: string
                        description: 审核订单状态编码
                      auditStatusName:
                        type: string
                        description: 审核订单状态名称
                      auditTime:
                        type: string
                        format: date-time
                        description: 审核时间
                      basicMaterial:
                        type: string
                        description: 主颜色
                      companyCost:
                        type: number
                        format: bigdecimal
                        description: 公司分摊费用
                      createTime:
                        type: string
                        format: date-time
                        description: 创建时间
                      creatorName:
                        type: string
                        description: 创建订单人姓名
                      creatorPhone:
                        type: string
                        description: 创建订单人电话
                      customOrderNo:
                        type: string
                        description: 自定义单号
                      customerAddress:
                        type: string
                        description: 客户地址街道
                      customerId:
                        type: string
                        description: 客户ID
                      customerName:
                        type: string
                        description: 客户姓名
                      customerPhone:
                        type: string
                        description: 客户电话
                      deliveryDate:
                        type: string
                        format: date
                        description: 预交货时间
                      deptId:
                        type: string
                        description: 创建人部门ID
                      designerId:
                        type: string
                        description: 设计师id
                      designerName:
                        type: string
                        description: 设计师名称
                      designerPhone:
                        type: string
                        description: 设计师手机号码
                      determineCause:
                        type: string
                        description: 判断原因说明
                      determineDictKey:
                        type: string
                        description: 判定原因字典key
                      determineDictVal:
                        type: string
                        description: 判定原因字段val
                      doorWindowType:
                        type: integer
                        format: int32
                        description: 整木类型
                      externalContractId:
                        type: string
                        description: 外部合同ID
                      factoryCost:
                        type: number
                        format: bigdecimal
                        description: 工厂分摊费用
                      factoryOrderCode:
                        type: string
                        description: 工厂订单编号
                      factoryOrderId:
                        type: integer
                        format: int64
                        description: 工厂订单id
                      id:
                        type: integer
                        format: int64
                        description: 主键id
                      isOrderMakeup:
                        type: integer
                        format: int32
                        description: 是否原订单补做
                      isProportion:
                        type: integer
                        format: int32
                        description: 是否按比例
                      isSelfFunded:
                        type: integer
                        format: int32
                        description: 是否自费
                      logisticsCost:
                        type: number
                        format: bigdecimal
                        description: 物流分摊费用
                      mainShopOrderCode:
                        type: string
                        description: 主单产生的销售订单编码
                      mainShopOrderId:
                        type: integer
                        format: int64
                        description: 主单产生的销售订单id
                      material:
                        type: string
                        description: 主材质
                      modifierName:
                        type: string
                        description: 更新人用户名
                      moduleCode:
                        type: string
                        description: 模块代码
                      moduleName:
                        type: string
                        description: 模块名称
                      orderCode:
                        type: string
                        description: 售后订单编号
                      orderName:
                        type: string
                        description: 订单名称
                      orderTypeDictKey:
                        type: string
                        description: 售后订单类型字典Key
                      orderTypeDictVal:
                        type: string
                        description: 售后订单类型字典Value
                      organDealerName:
                        type: string
                        description: 企业经销商名称
                      organId:
                        type: string
                        description: 机构ID
                      originSchemeContent:
                        type: string
                        description: 原始方案
                      partCount:
                        type: integer
                        format: int32
                        description: 部件数量
                      priceUrl:
                        type: string
                        description: 价格明细url
                      productionBomXml:
                        type: string
                        description: 生产XMLurl
                      proportion:
                        type: integer
                        format: int32
                        description: 金额比例
                      reasonDescribe:
                        type: string
                        description: 售后原因描述
                      reasonDictKey:
                        type: string
                        description: 售后原因字典Key
                      reasonDictVal:
                        type: string
                        description: 售后原因字典Value
                      receiverAddress:
                        type: string
                        description: 收货人地址街道
                      receiverName:
                        type: string
                        description: 收货人姓名
                      receiverPhone:
                        type: string
                        description: 收货人电话
                      receiverType:
                        type: string
                        description: 收货人类型 customer=业主 shop=门店
                      relatedOrderCode:
                        type: string
                        description: 原工厂单号
                      relatedOrderId:
                        type: integer
                        format: int64
                        description: 原工厂订单ID
                      relatedOrderName:
                        type: string
                        description: 原工厂订单名称
                      relatedOrderTypeDictKey:
                        type: string
                        description: 关联订单类型
                      remark:
                        type: string
                        description: 订单备注
                      responsibilityDictKey:
                        type: string
                        description: 责任方字典key
                      responsibilityDictVal:
                        type: string
                        description: 责任方字典val
                      schemeContent:
                        type: string
                        description: 方案
                      schemeId:
                        type: string
                        description: 方案Id
                      shopCost:
                        type: number
                        format: bigdecimal
                        description: 门店分摊费用
                      shopId:
                        type: string
                        description: 经销商ID
                      shopName:
                        type: string
                        description: 经销商名称
                      shopOrderCode:
                        type: string
                        description: 原销售订单编码
                      shopOrderId:
                        type: integer
                        format: int64
                        description: 源销售订单id
                      statusCode:
                        type: string
                        description: 订单状态编码
                      statusName:
                        type: string
                        description: 订单状态名称
                      submitName:
                        type: string
                        description: 订单提交人用户姓名
                      submitTime:
                        type: string
                        format: date-time
                        description: 订单提交到工厂的时间
                      submitUserId:
                        type: string
                        description: 订单提交人用户ID
                      totalAmount:
                        type: number
                        format: bigdecimal
                        description: 订单出货总价
                      urlParam:
                        type: string
                        description: 外部参数
                    required:
                    - id
              example:
                msg: ''
                code: 0
                data:
                  shopCost: 0
                  auditStatusCode: ''
                  moduleName: ''
                  productionBomXml: ''
                  aftersaleMainStatusName: ''
                  auditCreatorName: ''
                  logisticsCost: 0
                  basicMaterial: ''
                  urlParam: ''
                  receiverPhone: ''
                  addProportion: ''
                  reasonDictKey: ''
                  aftersaleMainOrderId: 0
                  id: 0
                  shopId: ''
                  auditStatusName: ''
                  customerAddress: ''
                  designerId: ''
                  responsibilityDictVal: ''
                  designerPhone: ''
                  mainShopOrderCode: ''
                  deptId: ''
                  orderTypeDictVal: ''
                  determineDictVal: ''
                  isProportion: 0
                  aftersaleMainOrderName: ''
                  customerName: ''
                  submitUserId: ''
                  aftersaleMainStatusCode: ''
                  receiverAddress: ''
                  relatedOrderName: ''
                  totalAmount: 0
                  relatedOrderTypeDictKey: ''
                  determineCause: ''
                  submitTime: ''
                  isOrderMakeup: 0
                  shopOrderId: 0
                  auditTime: ''
                  receiverType: ''
                  organId: ''
                  doorWindowType: 0
                  priceUrl: ''
                  statusCode: ''
                  companyCost: 0
                  externalContractId: ''
                  factoryOrderId: 0
                  mainShopOrderId: 0
                  partCount: 0
                  proportion: 0
                  creatorName: ''
                  auditCreatorId: ''
                  relatedOrderCode: ''
                  shopName: ''
                  remark: ''
                  schemeId: ''
                  creatorPhone: ''
                  relatedOrderId: 0
                  schemeContent: ''
                  customOrderNo: ''
                  aftersaleMainOrderCode: ''
                  customerPhone: ''
                  customerId: ''
                  reasonDictVal: ''
                  statusName: ''
                  organDealerName: ''
                  deliveryDate: ''
                  orderName: ''
                  factoryCost: 0
                  isSelfFunded: 0
                  shopOrderCode: ''
                  moduleCode: ''
                  reasonDescribe: ''
                  determineDictKey: ''
                  responsibilityDictKey: ''
                  receiverName: ''
                  auditRemark: ''
                  orderTypeDictKey: ''
                  designerName: ''
                  submitName: ''
                  material: ''
                  createTime: ''
                  originSchemeContent: ''
                  orderCode: ''
                  modifierName: ''
                  factoryOrderCode: ''
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/V1/building/getProvinceAndCityList:
    post:
      operationId: apiV1BuildingGetProvinceAndCityList
      summary: 获取全国城市名称和编码列表
      tags:
      - Floor Plans
      x-source-documentation: https://dev.3vjia.com/document?apiId=456509490821398562
      x-documentation-category: 楼盘户型
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
                    properties:
                      cityList:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: 城市代码
                            name:
                              type: string
                              description: 省份名称
                        description: 下属城市列表
                      code:
                        type: string
                        description: 省份代码
                      name:
                        type: string
                        description: 省份名称
              example:
                msg: ''
                code: ''
                data:
                - code: ''
                  cityList:
                  - code: ''
                    name: ''
                  name: ''
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/aiDrawImageResult/listByPage:
    post:
      operationId: apiAiDrawImageResultListByPage
      summary: 分页查询AI出图结果
      tags:
      - Light Design
      x-source-documentation: https://dev.3vjia.com/document?apiId=832299125029617719
      x-documentation-category: 轻设计
      description: 分页查询AI出图结果
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                createDateEnd:
                  type: string
                  description: 创建时间结束日期
                createDateStart:
                  type: string
                  description: 创建时间开始日期
                createUser:
                  type: string
                  description: 创建人ID
                drawImageId:
                  type: string
                  description: 绘图任务ID
                ids:
                  type: array
                  items: {}
                  description: "This is List Type  \nID"
                imageResult:
                  type: string
                  description: 图片结果url
                isDelete:
                  type: integer
                  format: int32
                  description: 删除1是0否
                layoutId:
                  type: string
                  description: 户型ID
                layoutSchemeId:
                  type: string
                  description: 方案ID
                orderBy:
                  type: string
                  description: 排序
                pageIndex:
                  type: integer
                  format: int32
                  description: 页码
                pageSize:
                  type: integer
                  format: int32
                  description: 页容量
                roomId:
                  type: string
                  description: 房间ID
                roomName:
                  type: string
                  description: 房间名称
                updateDateEnd:
                  type: string
                  description: 更新时间结束日期
                updateDateStart:
                  type: string
                  description: 更新时间开始日期
                updateUser:
                  type: string
                  description: 更新人ID
                aiModel:
                  type: integer
                  format: int32
                  description: 出图模式0效果图1全景
                layoutName:
                  type: string
                  description: 方案名称
                viewAngleName:
                  type: string
                  description: 视角名称
            example:
              drawImageId: ''
              layoutSchemeId: ''
              isDelete: 0
              orderBy: ''
              pageSize: 0
              updateUser: ''
              layoutId: ''
              roomId: ''
              roomName: ''
              layoutName: ''
              createDateStart: ''
              pageIndex: 0
              updateDateStart: ''
              updateDateEnd: ''
              ids: []
              imageResult: ''
              createUser: ''
              aiModel: 0
              viewAngleName: ''
              createDateEnd: ''
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
                    properties:
                      pageIndex:
                        type: integer
                        format: int32
                      pageSize:
                        type: integer
                        format: int32
                      recordCount:
                        type: integer
                        format: int32
                      result:
                        type: array
                        items:
                          type: object
                          properties:
                            aiModel:
                              type: integer
                              format: int32
                              description: 0效果图1全景图
                            createUser:
                              type: string
                              description: 创建人
                            id:
                              type: string
                              description: 图片ID
                            imageResult:
                              type: string
                              description: 图片url
                            layoutId:
                              type: string
                              description: 户型ID
                            layoutSchemeId:
                              type: string
                              description: 布局方案ID
                            roomId:
                              type: string
                              description: 房间ID
                            roomName:
                              type: string
                              description: 房间名称
                            viewAngleName:
                              type: string
                              description: 视角名称
                            createDate:
                              type: string
                              description: 创建时间
                            layoutName:
                              type: string
                              description: 布局方案名称
                            updateDate:
                              type: string
                              description: 更新时间
                            drawImageId:
                              type: string
                              description: 绘图任务ID
                        description: AI出图结果类
              example:
                msg: ''
                code: 0
                data:
                  recordCount: 0
                  pageSize: 0
                  result:
                  - drawImageId: ''
                    updateDate: ''
                    layoutSchemeId: ''
                    layoutId: ''
                    roomId: ''
                    roomName: ''
                    layoutName: ''
                    imageResult: ''
                    createUser: ''
                    aiModel: 0
                    id: ''
                    viewAngleName: ''
                    createDate: ''
                  pageIndex: 0
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/building/roommodel/v1/predict:
    post:
      operationId: apiBuildingRoommodelV1Predict
      summary: 识别户型
      tags:
      - Dedicated Services
      x-source-documentation: https://dev.3vjia.com/document?apiId=713058818141077606
      x-documentation-category: 专属服务 / C11476529
      description: 识别户型
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                base64String:
                  type: string
                  description: base64加密串
                extendName:
                  type: string
                  description: 图片扩展名称
                imageMd5:
                  type: string
                  description: 图片md5
                scale:
                  type: string
                  description: 比列尺
                type:
                  type: string
                  description: AI生成户型的类型，例如：undoor 不要门
              required:
              - base64String
              - extendName
              - imageMd5
              - scale
            example:
              imageMd5: ''
              extendName: ''
              base64String: ''
              scale: ''
              type: ''
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
                    properties:
                      content:
                        type: string
                        description: xml内容
                      isSuccess:
                        type: boolean
                        description: 成功或失败状态
              example:
                msg: ''
                code: 0
                data:
                  content: ''
                  isSuccess: false
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/building/roommodel/v1/scale/point:
    post:
      operationId: apiBuildingRoommodelV1ScalePoint
      summary: 获取比例尺坐标信息
      tags:
      - Dedicated Services
      x-source-documentation: https://dev.3vjia.com/document?apiId=713058818141077585
      x-documentation-category: 专属服务 / C11476529
      description: 获取比例尺坐标信息
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                base64String:
                  type: string
                  description: base64加密串
              required:
              - base64String
            example:
              base64String: ''
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
                    properties:
                      content:
                        type: string
                        description: json字符串
                      isSuccess:
                        type: boolean
                        description: 成功或失败状态
              example:
                msg: ''
                code: 0
                data:
                  content: ''
                  isSuccess: false
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/calculation/quote_solution/sync_sale_price:
    post:
      operationId: apiCalculationQuotesolutionSyncsaleprice
      summary: 价格信息同步
      tags:
      - Dedicated Services
      x-source-documentation: https://dev.3vjia.com/document?apiId=791618173400137763
      x-documentation-category: 专属服务 / C00005461
      description: 价格信息同步
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                salePrice:
                  type: object
                  properties:
                    isSyncSuccess:
                      type: integer
                      format: int32
                      description: 是否同步完成
                    salePriceId:
                      type: integer
                      format: int32
                      description: 销售方案id
                    endDate:
                      type: string
                      format: date-time
                      description: 有效期结束时间
                    remark:
                      type: string
                      description: 备注
                    salePriceName:
                      type: string
                      description: 销售方案名称
                    saleVersion:
                      type: integer
                      format: int32
                      description: 销售版本
                    startDate:
                      type: string
                      format: date-time
                      description: 有效期起始时间
                    startSyncDateTime:
                      type: string
                      format: date-time
                      description: 开始同步时间
                salePriceDetail:
                  type: array
                  items:
                    type: object
                    properties:
                      isSyncSuccess:
                        type: integer
                        format: int32
                        description: 是否同步完成
                      saleCode:
                        type: string
                        description: 品号
                      saleName:
                        type: string
                        description: 品名
                      salePrice:
                        type: number
                        format: bigdecimal
                        description: 销售单价
                      salePriceDetailId:
                        type: integer
                        format: int32
                        description: 销售方案明细ID
                      salePriceId:
                        type: integer
                        format: int32
                        description: 销售方案id
                  description: 销售方案明细信息
            example:
              salePrice:
                startSyncDateTime: ''
                saleVersion: 0
                endDate: ''
                remark: ''
                salePriceId: 0
                isSyncSuccess: 0
                salePriceName: ''
                startDate: ''
              salePriceDetail:
              - salePrice: 0
                salePriceDetailId: 0
                saleCode: ''
                salePriceId: 0
                isSyncSuccess: 0
                saleName: ''
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
              example:
                msg: ''
                code: 0
                data: false
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/casaprodesign/project/add:
    post:
      operationId: apiCasaprodesignProjectAdd
      summary: 添加项目
      tags:
      - Dedicated Services
      x-source-documentation: https://dev.3vjia.com/document?apiId=769625759609405570
      x-documentation-category: 专属服务 / C12684110
      description: 添加项目
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                address:
                  type: string
                  description: 地址
                externalUserId:
                  type: string
                  description: 外部用户ID
                name:
                  type: string
                  description: 项目名称
                organId:
                  type: string
                  description: 组织ID
                projectId:
                  type: string
                  description: 外部项目ID
                userId:
                  type: integer
                  format: int64
                  description: 用户ID
            example:
              address: ''
              userId: 0
              externalUserId: ''
              name: ''
              organId: ''
              projectId: ''
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
              example:
                msg: ''
                code: 0
                data: 0
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/casaprodesign/project/getByProjectId:
    post:
      operationId: apiCasaprodesignProjectGetByProjectId
      summary: 根据主键查询项目信息
      tags:
      - Dedicated Services
      x-source-documentation: https://dev.3vjia.com/document?apiId=769625759609405589
      x-documentation-category: 专属服务 / C12684110
      description: 根据主键查询项目信息
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
              required:
              - id
            example:
              id: ''
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
                    properties:
                      address:
                        type: string
                        description: 地址
                      createTime:
                        type: string
                        format: date-time
                        description: 创建时间
                      creatorId:
                        type: string
                        description: 创建人标识
                      id:
                        type: integer
                        format: int64
                        description: 唯一主键
                      modifierId:
                        type: string
                        description: 修改人标识
                      modifyTime:
                        type: string
                        format: date-time
                        description: 修改时间
                      name:
                        type: string
                        description: 项目名称
                      organId:
                        type: string
                        description: 组织ID
                      projectId:
                        type: string
                        description: 外部项目ID
                      schemeCount:
                        type: integer
                        format: int32
                        description: 方案数
                      schemeList:
                        type: array
                        items:
                          type: object
                          properties:
                            budget:
                              type: number
                              format: bigdecimal
                              description: 预算
                            createTime:
                              type: string
                              format: date-time
                              description: 创建时间
                            creatorId:
                              type: string
                              description: 创建人标识
                            floor:
                              type: string
                              description: 楼层
                            id:
                              type: integer
                              format: int64
                              description: 唯一主键
                            json:
                              type: string
                              description: 方案JSON数据
                            jsonEstimate:
                              type: string
                              description: 方案报价用量数据
                            modifierId:
                              type: string
                              description: 修改人标识
                            modifyTime:
                              type: string
                              format: date-time
                              description: 修改时间
                            previewImgVec2:
                              type: string
                              description: 2D预览图
                            previewImgVec3:
                              type: string
                              description: 3D预览图
                            projectId:
                              type: integer
                              format: int64
                              description: 项目ID
                            roomList:
                              type: array
                              items:
                                type: object
                                properties:
                                  createTime:
                                    type: string
                                    format: date-time
                                    description: 创建时间
                                  creatorId:
                                    type: string
                                    description: 创建人标识
                                  id:
                                    type: integer
                                    format: int64
                                    description: 唯一主键
                                  img:
                                    type: string
                                    description: 预览图
                                  modifierId:
                                    type: string
                                    description: 修改人标识
                                  modifyTime:
                                    type: string
                                    format: date-time
                                    description: 修改时间
                                  name:
                                    type: string
                                    description: 空间名称
                                  schemeId:
                                    type: integer
                                    format: int64
                                    description: 方案ID
                              description: 方案空间查询结果
                            style:
                              type: string
                              description: 风格套系
                        description: 方案查询结果
                      userId:
                        type: integer
                        format: int64
                        description: 用户ID
              example:
                msg: ''
                code: 0
                data:
                  schemeCount: 0
                  address: ''
                  creatorId: ''
                  modifierId: ''
                  userId: 0
                  modifyTime: ''
                  schemeList:
                  - jsonEstimate: ''
                    creatorId: ''
                    modifierId: ''
                    previewImgVec2: ''
                    previewImgVec3: ''
                    modifyTime: ''
                    createTime: ''
                    json: ''
                    style: ''
                    id: 0
                    floor: ''
                    projectId: 0
                    roomList:
                    - img: ''
                      creatorId: ''
                      modifierId: ''
                      schemeId: 0
                      modifyTime: ''
                      createTime: ''
                      name: ''
                      id: 0
                    budget: 0
                  createTime: ''
                  name: ''
                  organId: ''
                  id: 0
                  projectId: ''
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/casaprodesign/project/listByExternalUserId:
    post:
      operationId: apiCasaprodesignProjectListByExternalUserId
      summary: 根据外部用户id查询项目
      tags:
      - Dedicated Services
      x-source-documentation: https://dev.3vjia.com/document?apiId=769626514634461221
      x-documentation-category: 专属服务 / C12684110
      description: 根据外部用户id查询项目
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                address:
                  type: string
                  description: 地址
                address_lLike:
                  type: string
                  description: 地址左模糊
                address_like:
                  type: string
                  description: 地址全模糊
                address_rLike:
                  type: string
                  description: 地址右模糊
                createTime_ge:
                  type: string
                  format: date-time
                  description: 创建时间开始
                createTime_le:
                  type: string
                  format: date-time
                  description: 创建时间结束
                externalUserId:
                  type: string
                  description: 外部用户ID
                id:
                  type: integer
                  format: int64
                  description: 唯一主键
                id_in:
                  type: array
                  items: {}
                  description: 唯一主键列表
                modifyTime_ge:
                  type: string
                  format: date-time
                  description: 修改时间开始
                modifyTime_le:
                  type: string
                  format: date-time
                  description: 修改时间结束
                name:
                  type: string
                  description: 项目名称
                name_lLike:
                  type: string
                  description: 项目名称左模糊
                name_like:
                  type: string
                  description: 项目名称全模糊
                name_rLike:
                  type: string
                  description: 项目名称右模糊
                organId:
                  type: string
                  description: 组织ID
                organId_in:
                  type: array
                  items: {}
                  description: 组织ID列表
                projectId:
                  type: string
                  description: 外部项目ID
                projectId_in:
                  type: array
                  items: {}
                  description: 外部项目ID列表
                userId:
                  type: integer
                  format: int64
                  description: 用户ID
                userId_in:
                  type: array
                  items: {}
                  description: 用户ID列表
            example:
              userId_in: []
              address_lLike: ''
              createTime_ge: ''
              address: ''
              modifyTime_ge: ''
              name_lLike: ''
              name_like: ''
              name_rLike: ''
              userId: 0
              modifyTime_le: ''
              address_rLike: ''
              projectId_in: []
              externalUserId: ''
              organId_in: []
              name: ''
              createTime_le: ''
              organId: ''
              id: 0
              projectId: ''
              address_like: ''
              id_in: []
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
                    properties:
                      address:
                        type: string
                        description: 地址
                      createTime:
                        type: string
                        format: date-time
                        description: 创建时间
                      creatorId:
                        type: string
                        description: 创建人标识
                      id:
                        type: integer
                        format: int64
                        description: 唯一主键
                      modifierId:
                        type: string
                        description: 修改人标识
                      modifyTime:
                        type: string
                        format: date-time
                        description: 修改时间
                      name:
                        type: string
                        description: 项目名称
                      organId:
                        type: string
                        description: 组织ID
                      projectId:
                        type: string
                        description: 外部项目ID
                      schemeCount:
                        type: integer
                        format: int32
                        description: 方案数
                      schemeList:
                        type: array
                        items:
                          type: object
                          properties:
                            budget:
                              type: number
                              format: bigdecimal
                              description: 预算
                            createTime:
                              type: string
                              format: date-time
                              description: 创建时间
                            creatorId:
                              type: string
                              description: 创建人标识
                            floor:
                              type: string
                              description: 楼层
                            id:
                              type: integer
                              format: int64
                              description: 唯一主键
                            json:
                              type: string
                              description: 方案JSON数据
                            jsonEstimate:
                              type: string
                              description: 方案报价用量数据
                            modifierId:
                              type: string
                              description: 修改人标识
                            modifyTime:
                              type: string
                              format: date-time
                              description: 修改时间
                            previewImgVec2:
                              type: string
                              description: 2D预览图
                            previewImgVec3:
                              type: string
                              description: 3D预览图
                            projectId:
                              type: integer
                              format: int64
                              description: 项目ID
                            roomList:
                              type: array
                              items:
                                type: object
                                properties:
                                  createTime:
                                    type: string
                                    format: date-time
                                    description: 创建时间
                                  creatorId:
                                    type: string
                                    description: 创建人标识
                                  id:
                                    type: integer
                                    format: int64
                                    description: 唯一主键
                                  img:
                                    type: string
                                    description: 预览图
                                  modifierId:
                                    type: string
                                    description: 修改人标识
                                  modifyTime:
                                    type: string
                                    format: date-time
                                    description: 修改时间
                                  name:
                                    type: string
                                    description: 空间名称
                                  schemeId:
                                    type: integer
                                    format: int64
                                    description: 方案ID
                              description: 方案空间查询结果
                            style:
                              type: string
                              description: 风格套系
                        description: 方案查询结果
                      userId:
                        type: integer
                        format: int64
                        description: 用户ID
              example:
                msg: ''
                code: 0
                data:
                - schemeCount: 0
                  address: ''
                  creatorId: ''
                  modifierId: ''
                  userId: 0
                  modifyTime: ''
                  schemeList:
                  - jsonEstimate: ''
                    creatorId: ''
                    modifierId: ''
                    previewImgVec2: ''
                    previewImgVec3: ''
                    modifyTime: ''
                    createTime: ''
                    json: ''
                    style: ''
                    id: 0
                    floor: ''
                    projectId: 0
                    roomList:
                    - img: ''
                      creatorId: ''
                      modifierId: ''
                      schemeId: 0
                      modifyTime: ''
                      createTime: ''
                      name: ''
                      id: 0
                    budget: 0
                  createTime: ''
                  name: ''
                  organId: ''
                  id: 0
                  projectId: ''
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/casaprodesign/project/removeByProjectIds:
    post:
      operationId: apiCasaprodesignProjectRemoveByProjectIds
      summary: 删除项目
      tags:
      - Dedicated Services
      x-source-documentation: https://dev.3vjia.com/document?apiId=769626514634461240
      x-documentation-category: 专属服务 / C12684110
      description: 删除项目
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items: {}
            example:
              ids: []
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
              example:
                msg: ''
                code: 0
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/casaprodesign/project/update:
    post:
      operationId: apiCasaprodesignProjectUpdate
      summary: 修改项目
      tags:
      - Dedicated Services
      x-source-documentation: https://dev.3vjia.com/document?apiId=769626514634461242
      x-documentation-category: 专属服务 / C12684110
      description: 修改项目
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                address:
                  type: string
                  description: 地址
                externalUserId:
                  type: string
                  description: 外部用户ID
                id:
                  type: integer
                  format: int64
                  description: 唯一主键
                name:
                  type: string
                  description: 项目名称
                organId:
                  type: string
                  description: 组织ID
                projectId:
                  type: string
                  description: 外部项目ID
                userId:
                  type: integer
                  format: int64
                  description: 用户ID
            example:
              address: ''
              userId: 0
              externalUserId: ''
              name: ''
              organId: ''
              id: 0
              projectId: ''
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
              example:
                msg: ''
                code: 0
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/casaprodesign/user/getToken:
    post:
      operationId: apiCasaprodesignUserGetToken
      summary: 获取token
      tags:
      - Dedicated Services
      x-source-documentation: https://dev.3vjia.com/document?apiId=765885111592964194
      x-documentation-category: 专属服务 / C12684110
      description: 获取token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                externalUserId:
                  type: string
                  description: 外部用户ID
              required:
              - externalUserId
            example:
              externalUserId: ''
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
              example:
                msg: ''
                code: 0
                data: ''
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/casaprodesign/user/register:
    post:
      operationId: apiCasaprodesignUserRegister
      summary: 注册用户
      tags:
      - Dedicated Services
      x-source-documentation: https://dev.3vjia.com/document?apiId=765885111592964192
      x-documentation-category: 专属服务 / C12684110
      description: 注册用户
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                channelCode:
                  type: string
                  description: 渠道编码
                companyId:
                  type: integer
                  format: int32
                country:
                  type: string
                  description: 国家
                currentPageUrl:
                  type: string
                  description: 当前页面地址
                email:
                  type: string
                  description: 邮箱
                externalUserId:
                  type: string
                  description: 外部用户ID
                gclid:
                  type: string
                hasResend:
                  type: string
                industry:
                  type: string
                  description: 行业
                ivtCode:
                  type: string
                  description: 注册邀请码
                mobile:
                  type: string
                  description: 手机
                nickName:
                  type: string
                  description: 昵称
                oauth2LoginCode:
                  type: string
                  description: oauth2授权登录code
                openId:
                  type: string
                organId:
                  type: string
                  description: 组织ID
                owner:
                  type: string
                  description: 注册用户所有者
                ownerCode:
                  type: string
                password:
                  type: string
                  description: 密码
                prevPageUrl:
                  type: string
                  description: 前一个页面地址
                profession:
                  type: boolean
                  description: 职业
                province:
                  type: string
                  description: 省份
                regionCode:
                  type: string
                  description: 地区编码
                src:
                  type: string
              required:
              - country
              - email
              - externalUserId
              - organId
            example:
              owner: ''
              profession: false
              country: ''
              oauth2LoginCode: ''
              ownerCode: ''
              src: ''
              nickName: ''
              openId: ''
              mobile: ''
              industry: ''
              hasResend: ''
              prevPageUrl: ''
              currentPageUrl: ''
              gclid: ''
              companyId: 0
              password: ''
              regionCode: ''
              province: ''
              externalUserId: ''
              ivtCode: ''
              organId: ''
              email: ''
              channelCode: ''
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
              example:
                msg: ''
                code: 0
                data: false
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/chat/v1/conversation:
    post:
      operationId: apiChatV1Conversation
      summary: 对话
      tags:
      - Dreamer
      x-source-documentation: https://dev.3vjia.com/document?apiId=752849221425709155
      x-documentation-category: 梦想家
      description: 对话
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                botId:
                  type: integer
                  format: int64
                  description: 机器人Id
                botType:
                  type: integer
                  format: int32
                  description: 机器人类型,0:专家,1:画图师:2:报价师,3:导购助理，5:店长助理,6:经营顾问,7:生产xml检查,8:AI云设计Ask,9:AI云设计Agent,10:轻设计维仔,11:户型识别,12:户型搜索
                businessType:
                  type: integer
                  format: int32
                  description: chat来自哪个业务方,0:梦想家,1:3d云设计,99:其他
                chatConversationId:
                  type: integer
                  format: int64
                  description: 对话记录id,不传默认创建一个标题为第一次聊天的提示词简介
                chatQuestionExt:
                  type: string
                  description: 提问扩展信息
                conversationId:
                  type: string
                  description: 对话id，传id可以保持上下文，否则开启新对话
                emptyRoom:
                  type: integer
                  format: int32
                  description: 毛胚图生图 可选参数 是否清除空间杂物，0为否 1为是
                imgCount:
                  type: integer
                  format: int32
                  description: 出图数量
                lightPrompt:
                  type: string
                  description: 家居背景改图plus 可选参数，可增加效果图光照效果,光照语义提示，例如输入 light and shadow
                productImgUrl:
                  type: string
                  description: 换家具的产品图
                prompt:
                  type: string
                  description: 提示词,如果闲了图像生成，自动加上 帮我生成图片，风格，空间等都加到提示词中
                referenceImgUrl:
                  type: string
                  description: 参考图url，旧房改造的期望设计图,家具背景替换背景涂抹图，家具替换的涂抹图，全屋换材质图，线框图生图的风格参考图,换涂料的涂料图片,添加产品的产品图,换砖的瓷砖的图片,换门板的门板图,换台面的台面图
                similar:
                  type: integer
                  format: int32
                  description: 指定风格改图的相似度,0:低,1:中,2:高
                sourceImgUrl:
                  type: string
                  description: 原图url，毛坯全屋设计毛坯房图，旧房全屋改造旧房图，家具背景替换原图，家具替换原场景图，全屋换材质原场景图,线框图生图的线框图，换涂料的场景图，添加产品的场景图,换砖的场景图,换门板的场景图,换台面的场景图
                toolType:
                  type: integer
                  format: int32
                  description: 梦想家业务字段 生图工具类型，具体参考 DreamerToolTypeEnum
                type:
                  type: integer
                  format: int32
                  description: 对话类型,0:文字（通用的gpt chat聊天）;1:文生图，2:毛坯全屋设计; 3:旧房全屋改造，4:家具背景替换,5:房屋换家具,6:全屋换材质,7:图像消除,8:精装房软装添加,9:重绘,10:Gemini改图,11:线框图生图,12:指定风格改图,13:家居背景改图plus,14:换涂料,15:添加产品,16:换砖,17:换门板,18:换台面
              required:
              - type
            example:
              similar: 0
              productImgUrl: ''
              conversationId: ''
              imgCount: 0
              chatConversationId: 0
              sourceImgUrl: ''
              type: 0
              toolType: 0
              referenceImgUrl: ''
              emptyRoom: 0
              lightPrompt: ''
              botType: 0
              chatQuestionExt: ''
              botId: 0
              businessType: 0
              prompt: ''
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
                    properties:
                      chatAnswer:
                        type: string
                        description: 对话回答内容
                      chatConversationId:
                        type: string
                        description: 会话id
                      chatQuestionExt:
                        type: string
                        description: 提问扩展信息
                      conversationId:
                        type: string
                        description: 会话id
                      id:
                        type: integer
                        format: int64
                        description: id
              example:
                msg: ''
                code: 0
                data:
                  conversationId: ''
                  chatConversationId: ''
                  chatAnswer: ''
                  chatQuestionExt: ''
                  id: 0
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/chat/v1/journal/getById:
    post:
      operationId: apiChatV1JournalGetById
      summary: 通过id查询会话详情记录
      tags:
      - Dreamer
      x-source-documentation: https://dev.3vjia.com/document?apiId=752849221425709153
      x-documentation-category: 梦想家
      description: 通过id查询会话详情记录
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  format: int64
                  description: ID
              required:
              - id
            example:
              id: 0
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
                    properties:
                      averageTime:
                        type: integer
                        format: int32
                        description: 平均生产时间
                      chatAnswer:
                        type: string
                        description: 回答
                      chatAnswerUrl:
                        type: string
                        description: 图像的相对路径，多个逗号隔开
                      chatConversationId:
                        type: integer
                        format: int64
                        description: 会话ID
                      chatQuestion:
                        type: string
                        description: 提问
                      chatQuestionExt:
                        type: string
                        description: 提问扩展信息
                      chatQuestionUrl:
                        type: string
                        description: 图像的相对路径，多个逗号隔开
                      conversationId:
                        type: string
                        description: 对话id，传id可以保持上下文，否则开启新对话
                      id:
                        type: integer
                        format: int64
                        description: 主键id
                      queue:
                        type: integer
                        format: int32
                        description: 排队序号
                      referencesContents:
                        type: array
                        items:
                          type: object
                          properties:
                            action:
                              type: string
                              description: 动作（卡片工具执行的脚本）,可以支持json
                            botId:
                              type: integer
                              format: int64
                              description: 当卡片为工具时，对应的机器人id,当跳转到另外agent的时候（对应的机器人id）
                            content:
                              type: string
                              description: 内容,可以支持json
                            dialogType:
                              type: integer
                              format: int32
                              description: 生图工具：1:文生图，2:毛坯全屋设计; 3:旧房全屋改造，4:家具背景替换,5:房屋换家具,6:全屋换材质,7:图像消除,8:精装房软装添加,9:重绘
                            emptyRoom:
                              type: integer
                              format: int32
                              description: 毛胚图生图 可选参数 是否清除空间杂物，0为否 1为是
                            iconUrl:
                              type: string
                              description: 图标
                            imgCount:
                              type: integer
                              format: int32
                              description: 图片数量
                            similar:
                              type: integer
                              format: int32
                              description: 指定风格改图的相似度,0:低,1:中,2:高
                            status:
                              type: integer
                              format: int32
                              description: 生效的状态(轮询组件使用：1、排队中，2、渲染中，3、渲染成功，4、渲染失败;户型搜索卡片：0 正常，1：禁用
                            title:
                              type: string
                              description: 标题
                            toolType:
                              type: integer
                              format: int32
                              description: 梦想家业务字段 生图工具类型
                            type:
                              type: integer
                              format: int32
                              description: 告诉前端需要处理的类型：0:文本,1:按钮,2:链接,3:图片,4:跳转工具,5:生图轮询组件,6:前端直接回调一次回调接口,7:加载上传图片组件,8:户型搜索工具,9:户型图识别工具,10:素材检索工具，11：AI布局卡片,12:灵感广场卡片，100:跳转到另一agent
                            url:
                              type: string
                              description: 回调接口
                        description: 关联结果dto
                      remark:
                        type: string
                        description: 基本描述
                      taskId:
                        type: string
                        description: 任务Id，比如图片生成异步任务id
                      taskStatus:
                        type: integer
                        format: int32
                        description: 任务渲染状态，1、排队中，2、渲染中，3、渲染成功，4、渲染失败
                      type:
                        type: integer
                        format: int32
                        description: 对话类型：0：普通文字chat,1:普通文生图,2:空间填充，3:家具背景替换,4:材质替换
                    required:
                    - id
              example:
                msg: ''
                code: 0
                data:
                  referencesContents:
                  - similar: 0
                    imgCount: 0
                    title: ''
                    type: 0
                    toolType: 0
                    content: ''
                    url: ''
                    dialogType: 0
                    emptyRoom: 0
                    action: ''
                    botId: 0
                    iconUrl: ''
                    status: 0
                  conversationId: ''
                  chatQuestionUrl: ''
                  remark: ''
                  chatConversationId: 0
                  type: 0
                  chatQuestion: ''
                  chatAnswer: ''
                  chatAnswerUrl: ''
                  averageTime: 0
                  chatQuestionExt: ''
                  id: 0
                  queue: 0
                  taskId: ''
                  taskStatus: 0
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/custCustomerOp/page:
    post:
      operationId: apiCustCustomerOpPage
      summary: 客户分页查询（aimes）
      tags:
      - AIMES
      x-source-documentation: https://dev.3vjia.com/document?apiId=768884626109382683
      x-documentation-category: AIMES系统 / 基础信息
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                current:
                  type: integer
                  format: int64
                  description: 当前查询第几页
                endCustomerDataTime:
                  type: string
                  description: 结束留资时间
                liveAreaName:
                  type: string
                  description: 小区名称
                size:
                  type: integer
                  format: int64
                  description: 当前查询页记录数
                startCustomerDataTime:
                  type: string
                  description: 开始留资时间
              required:
              - current
              - size
            example:
              startCustomerDataTime: ''
              liveAreaName: ''
              current: 0
              size: 0
              endCustomerDataTime: ''
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
                    properties:
                      current:
                        type: integer
                        format: int64
                        description: 当前查询第几页
                      records:
                        type: array
                        items:
                          type: object
                          properties:
                            address:
                              type: string
                              description: 详细地址
                            city:
                              type: string
                              description: 城市
                            cityName:
                              type: string
                              description: 城市名称
                            createTime:
                              type: string
                              format: date-time
                              description: 创建时间
                            creatorUserName:
                              type: string
                              description: 修改人名称
                            customerDataTime:
                              type: string
                              format: date
                              description: 客户留资时间
                            deptName:
                              type: string
                              description: 部门名称
                            district:
                              type: string
                              description: 区域
                            districtName:
                              type: string
                              description: 区域名称
                            houseAreaCode:
                              type: string
                              description: 住宅面积编码
                            houseAreaName:
                              type: string
                              description: 住宅面积名称
                            houseTypeCode:
                              type: string
                              description: 住宅类型编码
                            houseTypeName:
                              type: string
                              description: 住宅类型名称
                            id:
                              type: integer
                              format: int64
                              description: 主键id
                            liveAreaId:
                              type: integer
                              format: int64
                              description: 小区id
                            liveAreaName:
                              type: string
                              description: 小区名称
                            modifierUserName:
                              type: string
                              description: 修改人名称
                            name:
                              type: string
                              description: 客户名称
                            orderCou:
                              type: integer
                              format: int32
                              description: 订单数
                            orderStatus:
                              type: integer
                              format: int32
                              description: 下单状态，0：未下单，1：已下单，2：部分下单， 3：已保存
                            orderStatusDesc:
                              type: string
                              description: 下单状态，0：未下单，1：已下单，2：部分下单， 3：已保存
                            otherTel:
                              type: string
                              description: 备用电话号码
                            province:
                              type: string
                              description: 省份
                            provinceName:
                              type: string
                              description: 省份名称
                            relationTimes:
                              type: integer
                              format: int32
                              description: 关联次数
                            remark:
                              type: string
                              description: 备注
                            remarks:
                              type: string
                              description: 备注
                            sex:
                              type: integer
                              format: int32
                              description: 性别
                            sexDesc:
                              type: string
                              description: 性别描述
                            shopName:
                              type: string
                              description: 门店名称
                            sourceCode:
                              type: string
                              description: 客户来源code
                            sourceName:
                              type: string
                              description: 客户来源名称
                            status:
                              type: integer
                              format: int32
                              description: 状态：0：有意向；1：无意向
                            tel:
                              type: string
                              description: 电话号码
                          required:
                          - id
                        description: 客户信息
                      size:
                        type: integer
                        format: int64
                        description: 当前查询页记录数
                      total:
                        type: integer
                        format: int64
                        description: 总数
                    required:
                    - current
                    - size
                    - total
              example:
                msg: ''
                code: 0
                data:
                  records:
                  - houseTypeCode: ''
                    deptName: ''
                    creatorUserName: ''
                    city: ''
                    orderStatusDesc: ''
                    orderStatus: 0
                    shopName: ''
                    orderCou: 0
                    remark: ''
                    sourceCode: ''
                    customerDataTime: ''
                    cityName: ''
                    province: ''
                    sexDesc: ''
                    liveAreaId: 0
                    otherTel: ''
                    tel: ''
                    id: 0
                    houseAreaCode: ''
                    relationTimes: 0
                    address: ''
                    districtName: ''
                    liveAreaName: ''
                    sex: 0
                    houseTypeName: ''
                    modifierUserName: ''
                    houseAreaName: ''
                    createTime: ''
                    district: ''
                    name: ''
                    provinceName: ''
                    sourceName: ''
                    remarks: ''
                    status: 0
                  current: 0
                  total: 0
                  size: 0
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/factoryBatchOp/getBoards:
    post:
      operationId: apiFactoryBatchOpGetBoards
      summary: 全线通--通过批次ID获取批次大板用量
      tags:
      - AIMES
      x-source-documentation: https://dev.3vjia.com/document?apiId=684406247218364448
      x-documentation-category: AIMES系统 / 排产优化
      description: 全线通-》通过批次ID获取批次大板用量
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                factoryBatchCode:
                  type: string
                  description: 批次号
                factoryBatchId:
                  type: integer
                  format: int64
                  description: 批次ID
            example:
              factoryBatchId: 0
              factoryBatchCode: ''
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
                    properties:
                      basicMaterial:
                        type: string
                        description: 材质
                      batchId:
                        type: integer
                        format: int64
                        description: 批次id
                      batchNo:
                        type: string
                        description: 批次号
                      createTime:
                        type: string
                        format: date-time
                        description: 创建时间
                      creatorName:
                        type: string
                        description: 创建人名字
                      deptId:
                        type: string
                        description: 当前人部门ID
                      id:
                        type: integer
                        format: int64
                        description: 主键id
                      length:
                        type: number
                        format: bigdecimal
                        description: 长
                      materCode:
                        type: string
                        description: 物料编码
                      material:
                        type: string
                        description: 颜色
                      modifierName:
                        type: string
                        description: 修改人名字
                      num:
                        type: integer
                        format: int32
                        description: 大板用量(张)
                      organId:
                        type: string
                        description: 当前人组织ID
                      thickness:
                        type: number
                        format: bigdecimal
                        description: 厚
                      usesPercentage:
                        type: number
                        format: bigdecimal
                        description: 利用率
                      width:
                        type: number
                        format: bigdecimal
                        description: 宽
                    required:
                    - createTime
                    - id
              example:
                msg: ''
                code: 0
                data:
                - batchNo: ''
                  thickness: 0
                  num: 0
                  creatorName: ''
                  deptId: ''
                  length: 0
                  batchId: 0
                  basicMaterial: ''
                  usesPercentage: 0
                  materCode: ''
                  material: ''
                  createTime: ''
                  width: 0
                  organId: ''
                  id: 0
                  modifierName: ''
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/factoryBatchOp/getFactoryBatchFileList:
    post:
      operationId: apiFactoryBatchOpGetFactoryBatchFileList
      summary: 全线通--通过批次ID或者批次号批次优化附件列表
      tags:
      - AIMES
      x-source-documentation: https://dev.3vjia.com/document?apiId=683004993405603934
      x-documentation-category: AIMES系统 / 排产优化
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                factoryBatchCode:
                  type: string
                  description: 批次号
                factoryBatchId:
                  type: integer
                  format: int64
                  description: 批次ID
            example:
              factoryBatchId: 0
              factoryBatchCode: ''
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
                    properties:
                      bizId:
                        type: integer
                        format: int64
                        description: 业务ID
                      bizType:
                        type: string
                        description: 业务类型，详见枚举
                      createTime:
                        type: string
                        format: date-time
                        description: 创建时间
                      creator:
                        type: string
                        description: 创建者
                      creatorName:
                        type: string
                        description: 创建者名称
                      fileKey:
                        type: string
                      fileName:
                        type: string
                        description: 文件名称
                      fileSize:
                        type: integer
                        format: int64
                        description: 文件大小
                      fileType:
                        type: string
                        description: 文件类型
                      id:
                        type: integer
                        format: int64
                        description: 主键id
                      modifierName:
                        type: string
                        description: 修改者名称
                      organId:
                        type: string
                        description: 机构ID
                      url:
                        type: string
                        description: 附件路径
                    required:
                    - createTime
                    - id
              example:
                msg: ''
                code: 0
                data:
                - creator: ''
                  fileName: ''
                  bizType: ''
                  creatorName: ''
                  fileKey: ''
                  url: ''
                  createTime: ''
                  fileSize: 0
                  bizId: 0
                  organId: ''
                  id: 0
                  modifierName: ''
                  fileType: ''
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/factoryOrderOp/batchRedistributionOp:
    post:
      operationId: apiFactoryOrderOpBatchRedistributionOp
      summary: 重新指派（接单员、审单员、报价员）
      tags:
      - AIMES
      x-source-documentation: https://dev.3vjia.com/document?apiId=778188431338651703
      x-documentation-category: AIMES系统 / 订单管理
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                distributionType:
                  type: string
                  description: 分配规则类型 (receiving_order:接单分配,split_order:拆单分配,quote_order:报价员分配
                factoryOrderCodes:
                  type: array
                  items: {}
                  description: 订单号集合
                factoryOrderIds:
                  type: array
                  items: {}
                  description: 工厂订单IDS
                operationRemark:
                  type: string
                  description: 操作备注信息
                userId:
                  type: string
                  description: 用户ID
                userName:
                  type: string
                  description: 用户姓名
              required:
              - distributionType
              - userName
            example:
              distributionType: ''
              factoryOrderCodes: []
              userName: ''
              userId: ''
              factoryOrderIds: []
              operationRemark: ''
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
              example:
                msg: ''
                code: 0
                data: false
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/factoryOrderOp/batchReturnCompletedFactoryOrderToShop:
    post:
      operationId: apiFactoryOrderOpBatchReturnCompletedFactoryOrderToShop
      summary: 已完成工厂订单批量退回门店
      tags:
      - Dedicated Services
      x-source-documentation: https://dev.3vjia.com/document?apiId=878213521912012905
      x-documentation-category: 专属服务 / C13044572
      description: 支持已完成的工厂订单执行批量退回到门店的操作，指定退回到门店，不提供选择退回到工厂的功能。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                factoryOrderIds:
                  type: array
                  items: {}
                  description: 工厂订单ID列表
                returnReason:
                  type: string
                  description: 退回原因
              required:
              - factoryOrderIds
              - returnReason
            example:
              factoryOrderIds: []
              returnReason: ''
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
                    properties:
                      returned:
                        type: integer
                        format: int32
                        description: 本次实际退回数量
                      skipped:
                        type: integer
                        format: int32
                        description: 已退回、按幂等规则跳过的数量
                      total:
                        type: integer
                        format: int32
                        description: 请求中去重后的工厂订单总数
              example:
                msg: ''
                code: 0
                data:
                  skipped: 0
                  total: 0
                  returned: 0
                success: false
        '401':
[...]
