openapi: 3.2.0
info:
  title: 3vjia Open Platform AIMES API
  version: '2026-09-05'
  summary: Home-furnishing 3D cloud design, quotation, order, manufacturing (AIMES/MOS/DMS) and AI operations exposed by the 3vjia (三维家) Open Platform.
  description: Machine-readable description of the 3vjia (三维家 / AiHouse) Open Platform, DERIVED — not published by the provider in this form.
  contact:
    name: 3vjia Open Platform
    url: https://dev.3vjia.com/
servers:
- url: https://open-gateway.3vjia.com
  description: 3vjia Open Platform gateway (current)
- url: https://open.3vjia.com
  description: Legacy open gateway — takes ?sysCode=external&access_token=
security:
- oauth2ClientCredentials: []
tags:
- name: AIMES
  description: AIMES系统
paths:
  /api/AfterOrderOp/getAfterAaleOrderById:
    post:
      operationId: apiAfterOrderOpGetAfterAaleOrderById
      summary: 通过售后子订单ID获取售后单信息
      tags:
      - AIMES
      x-source-documentation: https://dev.3vjia.com/document?apiId=646398030987284576
      x-documentation-category: AIMES系统 / 订单数据 / 工厂单
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  format: int64
                  description: 售后子单ID
            example:
              id: 0
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
                    properties:
                      addProportion:
                        type: string
                        description: 加收比例
                      aftersaleMainOrderCode:
                        type: string
                        description: 售后主单编码
                      aftersaleMainOrderId:
                        type: integer
                        format: int64
                        description: 售后主单id
                      aftersaleMainOrderName:
                        type: string
                        description: 售后主单名称
                      aftersaleMainStatusCode:
                        type: string
                        description: 售后主单状态编码
                      aftersaleMainStatusName:
                        type: string
                        description: 售后主单状态名称
                      auditCreatorId:
                        type: string
                        description: 审核人
                      auditCreatorName:
                        type: string
                        description: 审核人名称
                      auditRemark:
                        type: string
                        description: 审核备注
                      auditStatusCode:
                        type: string
                        description: 审核订单状态编码
                      auditStatusName:
                        type: string
                        description: 审核订单状态名称
                      auditTime:
                        type: string
                        format: date-time
                        description: 审核时间
                      basicMaterial:
                        type: string
                        description: 主颜色
                      companyCost:
                        type: number
                        format: bigdecimal
                        description: 公司分摊费用
                      createTime:
                        type: string
                        format: date-time
                        description: 创建时间
                      creatorName:
                        type: string
                        description: 创建订单人姓名
                      creatorPhone:
                        type: string
                        description: 创建订单人电话
                      customOrderNo:
                        type: string
                        description: 自定义单号
                      customerAddress:
                        type: string
                        description: 客户地址街道
                      customerId:
                        type: string
                        description: 客户ID
                      customerName:
                        type: string
                        description: 客户姓名
                      customerPhone:
                        type: string
                        description: 客户电话
                      deliveryDate:
                        type: string
                        format: date
                        description: 预交货时间
                      deptId:
                        type: string
                        description: 创建人部门ID
                      designerId:
                        type: string
                        description: 设计师id
                      designerName:
                        type: string
                        description: 设计师名称
                      designerPhone:
                        type: string
                        description: 设计师手机号码
                      determineCause:
                        type: string
                        description: 判断原因说明
                      determineDictKey:
                        type: string
                        description: 判定原因字典key
                      determineDictVal:
                        type: string
                        description: 判定原因字段val
                      doorWindowType:
                        type: integer
                        format: int32
                        description: 整木类型
                      externalContractId:
                        type: string
                        description: 外部合同ID
                      factoryCost:
                        type: number
                        format: bigdecimal
                        description: 工厂分摊费用
                      factoryOrderCode:
                        type: string
                        description: 工厂订单编号
                      factoryOrderId:
                        type: integer
                        format: int64
                        description: 工厂订单id
                      id:
                        type: integer
                        format: int64
                        description: 主键id
                      isOrderMakeup:
                        type: integer
                        format: int32
                        description: 是否原订单补做
                      isProportion:
                        type: integer
                        format: int32
                        description: 是否按比例
                      isSelfFunded:
                        type: integer
                        format: int32
                        description: 是否自费
                      logisticsCost:
                        type: number
                        format: bigdecimal
                        description: 物流分摊费用
                      mainShopOrderCode:
                        type: string
                        description: 主单产生的销售订单编码
                      mainShopOrderId:
                        type: integer
                        format: int64
                        description: 主单产生的销售订单id
                      material:
                        type: string
                        description: 主材质
                      modifierName:
                        type: string
                        description: 更新人用户名
                      moduleCode:
                        type: string
                        description: 模块代码
                      moduleName:
                        type: string
                        description: 模块名称
                      orderCode:
                        type: string
                        description: 售后订单编号
                      orderName:
                        type: string
                        description: 订单名称
                      orderTypeDictKey:
                        type: string
                        description: 售后订单类型字典Key
                      orderTypeDictVal:
                        type: string
                        description: 售后订单类型字典Value
                      organDealerName:
                        type: string
                        description: 企业经销商名称
                      organId:
                        type: string
                        description: 机构ID
                      originSchemeContent:
                        type: string
                        description: 原始方案
                      partCount:
                        type: integer
                        format: int32
                        description: 部件数量
                      priceUrl:
                        type: string
                        description: 价格明细url
                      productionBomXml:
                        type: string
                        description: 生产XMLurl
                      proportion:
                        type: integer
                        format: int32
                        description: 金额比例
                      reasonDescribe:
                        type: string
                        description: 售后原因描述
                      reasonDictKey:
                        type: string
                        description: 售后原因字典Key
                      reasonDictVal:
                        type: string
                        description: 售后原因字典Value
                      receiverAddress:
                        type: string
                        description: 收货人地址街道
                      receiverName:
                        type: string
                        description: 收货人姓名
                      receiverPhone:
                        type: string
                        description: 收货人电话
                      receiverType:
                        type: string
                        description: 收货人类型 customer=业主 shop=门店
                      relatedOrderCode:
                        type: string
                        description: 原工厂单号
                      relatedOrderId:
                        type: integer
                        format: int64
                        description: 原工厂订单ID
                      relatedOrderName:
                        type: string
                        description: 原工厂订单名称
                      relatedOrderTypeDictKey:
                        type: string
                        description: 关联订单类型
                      remark:
                        type: string
                        description: 订单备注
                      responsibilityDictKey:
                        type: string
                        description: 责任方字典key
                      responsibilityDictVal:
                        type: string
                        description: 责任方字典val
                      schemeContent:
                        type: string
                        description: 方案
                      schemeId:
                        type: string
                        description: 方案Id
                      shopCost:
                        type: number
                        format: bigdecimal
                        description: 门店分摊费用
                      shopId:
                        type: string
                        description: 经销商ID
                      shopName:
                        type: string
                        description: 经销商名称
                      shopOrderCode:
                        type: string
                        description: 原销售订单编码
                      shopOrderId:
                        type: integer
                        format: int64
                        description: 源销售订单id
                      statusCode:
                        type: string
                        description: 订单状态编码
                      statusName:
                        type: string
                        description: 订单状态名称
                      submitName:
                        type: string
                        description: 订单提交人用户姓名
                      submitTime:
                        type: string
                        format: date-time
                        description: 订单提交到工厂的时间
                      submitUserId:
                        type: string
                        description: 订单提交人用户ID
                      totalAmount:
                        type: number
                        format: bigdecimal
                        description: 订单出货总价
                      urlParam:
                        type: string
                        description: 外部参数
                    required:
                    - id
              example:
                msg: ''
                code: 0
                data:
                  shopCost: 0
                  auditStatusCode: ''
                  moduleName: ''
                  productionBomXml: ''
                  aftersaleMainStatusName: ''
                  auditCreatorName: ''
                  logisticsCost: 0
                  basicMaterial: ''
                  urlParam: ''
                  receiverPhone: ''
                  addProportion: ''
                  reasonDictKey: ''
                  aftersaleMainOrderId: 0
                  id: 0
                  shopId: ''
                  auditStatusName: ''
                  customerAddress: ''
                  designerId: ''
                  responsibilityDictVal: ''
                  designerPhone: ''
                  mainShopOrderCode: ''
                  deptId: ''
                  orderTypeDictVal: ''
                  determineDictVal: ''
                  isProportion: 0
                  aftersaleMainOrderName: ''
                  customerName: ''
                  submitUserId: ''
                  aftersaleMainStatusCode: ''
                  receiverAddress: ''
                  relatedOrderName: ''
                  totalAmount: 0
                  relatedOrderTypeDictKey: ''
                  determineCause: ''
                  submitTime: ''
                  isOrderMakeup: 0
                  shopOrderId: 0
                  auditTime: ''
                  receiverType: ''
                  organId: ''
                  doorWindowType: 0
                  priceUrl: ''
                  statusCode: ''
                  companyCost: 0
                  externalContractId: ''
                  factoryOrderId: 0
                  mainShopOrderId: 0
                  partCount: 0
                  proportion: 0
                  creatorName: ''
                  auditCreatorId: ''
                  relatedOrderCode: ''
                  shopName: ''
                  remark: ''
                  schemeId: ''
                  creatorPhone: ''
                  relatedOrderId: 0
                  schemeContent: ''
                  customOrderNo: ''
                  aftersaleMainOrderCode: ''
                  customerPhone: ''
                  customerId: ''
                  reasonDictVal: ''
                  statusName: ''
                  organDealerName: ''
                  deliveryDate: ''
                  orderName: ''
                  factoryCost: 0
                  isSelfFunded: 0
                  shopOrderCode: ''
                  moduleCode: ''
                  reasonDescribe: ''
                  determineDictKey: ''
                  responsibilityDictKey: ''
                  receiverName: ''
                  auditRemark: ''
                  orderTypeDictKey: ''
                  designerName: ''
                  submitName: ''
                  material: ''
                  createTime: ''
                  originSchemeContent: ''
                  orderCode: ''
                  modifierName: ''
                  factoryOrderCode: ''
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/custCustomerOp/page:
    post:
      operationId: apiCustCustomerOpPage
      summary: 客户分页查询（aimes）
      tags:
      - AIMES
      x-source-documentation: https://dev.3vjia.com/document?apiId=768884626109382683
      x-documentation-category: AIMES系统 / 基础信息
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                current:
                  type: integer
                  format: int64
                  description: 当前查询第几页
                endCustomerDataTime:
                  type: string
                  description: 结束留资时间
                liveAreaName:
                  type: string
                  description: 小区名称
                size:
                  type: integer
                  format: int64
                  description: 当前查询页记录数
                startCustomerDataTime:
                  type: string
                  description: 开始留资时间
              required:
              - current
              - size
            example:
              startCustomerDataTime: ''
              liveAreaName: ''
              current: 0
              size: 0
              endCustomerDataTime: ''
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
                    properties:
                      current:
                        type: integer
                        format: int64
                        description: 当前查询第几页
                      records:
                        type: array
                        items:
                          type: object
                          properties:
                            address:
                              type: string
                              description: 详细地址
                            city:
                              type: string
                              description: 城市
                            cityName:
                              type: string
                              description: 城市名称
                            createTime:
                              type: string
                              format: date-time
                              description: 创建时间
                            creatorUserName:
                              type: string
                              description: 修改人名称
                            customerDataTime:
                              type: string
                              format: date
                              description: 客户留资时间
                            deptName:
                              type: string
                              description: 部门名称
                            district:
                              type: string
                              description: 区域
                            districtName:
                              type: string
                              description: 区域名称
                            houseAreaCode:
                              type: string
                              description: 住宅面积编码
                            houseAreaName:
                              type: string
                              description: 住宅面积名称
                            houseTypeCode:
                              type: string
                              description: 住宅类型编码
                            houseTypeName:
                              type: string
                              description: 住宅类型名称
                            id:
                              type: integer
                              format: int64
                              description: 主键id
                            liveAreaId:
                              type: integer
                              format: int64
                              description: 小区id
                            liveAreaName:
                              type: string
                              description: 小区名称
                            modifierUserName:
                              type: string
                              description: 修改人名称
                            name:
                              type: string
                              description: 客户名称
                            orderCou:
                              type: integer
                              format: int32
                              description: 订单数
                            orderStatus:
                              type: integer
                              format: int32
                              description: 下单状态，0：未下单，1：已下单，2：部分下单， 3：已保存
                            orderStatusDesc:
                              type: string
                              description: 下单状态，0：未下单，1：已下单，2：部分下单， 3：已保存
                            otherTel:
                              type: string
                              description: 备用电话号码
                            province:
                              type: string
                              description: 省份
                            provinceName:
                              type: string
                              description: 省份名称
                            relationTimes:
                              type: integer
                              format: int32
                              description: 关联次数
                            remark:
                              type: string
                              description: 备注
                            remarks:
                              type: string
                              description: 备注
                            sex:
                              type: integer
                              format: int32
                              description: 性别
                            sexDesc:
                              type: string
                              description: 性别描述
                            shopName:
                              type: string
                              description: 门店名称
                            sourceCode:
                              type: string
                              description: 客户来源code
                            sourceName:
                              type: string
                              description: 客户来源名称
                            status:
                              type: integer
                              format: int32
                              description: 状态：0：有意向；1：无意向
                            tel:
                              type: string
                              description: 电话号码
                          required:
                          - id
                        description: 客户信息
                      size:
                        type: integer
                        format: int64
                        description: 当前查询页记录数
                      total:
                        type: integer
                        format: int64
                        description: 总数
                    required:
                    - current
                    - size
                    - total
              example:
                msg: ''
                code: 0
                data:
                  records:
                  - houseTypeCode: ''
                    deptName: ''
                    creatorUserName: ''
                    city: ''
                    orderStatusDesc: ''
                    orderStatus: 0
                    shopName: ''
                    orderCou: 0
                    remark: ''
                    sourceCode: ''
                    customerDataTime: ''
                    cityName: ''
                    province: ''
                    sexDesc: ''
                    liveAreaId: 0
                    otherTel: ''
                    tel: ''
                    id: 0
                    houseAreaCode: ''
                    relationTimes: 0
                    address: ''
                    districtName: ''
                    liveAreaName: ''
                    sex: 0
                    houseTypeName: ''
                    modifierUserName: ''
                    houseAreaName: ''
                    createTime: ''
                    district: ''
                    name: ''
                    provinceName: ''
                    sourceName: ''
                    remarks: ''
                    status: 0
                  current: 0
                  total: 0
                  size: 0
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/factoryBatchOp/getBoards:
    post:
      operationId: apiFactoryBatchOpGetBoards
      summary: 全线通--通过批次ID获取批次大板用量
      tags:
      - AIMES
      x-source-documentation: https://dev.3vjia.com/document?apiId=684406247218364448
      x-documentation-category: AIMES系统 / 排产优化
      description: 全线通-》通过批次ID获取批次大板用量
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                factoryBatchCode:
                  type: string
                  description: 批次号
                factoryBatchId:
                  type: integer
                  format: int64
                  description: 批次ID
            example:
              factoryBatchId: 0
              factoryBatchCode: ''
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
                    properties:
                      basicMaterial:
                        type: string
                        description: 材质
                      batchId:
                        type: integer
                        format: int64
                        description: 批次id
                      batchNo:
                        type: string
                        description: 批次号
                      createTime:
                        type: string
                        format: date-time
                        description: 创建时间
                      creatorName:
                        type: string
                        description: 创建人名字
                      deptId:
                        type: string
                        description: 当前人部门ID
                      id:
                        type: integer
                        format: int64
                        description: 主键id
                      length:
                        type: number
                        format: bigdecimal
                        description: 长
                      materCode:
                        type: string
                        description: 物料编码
                      material:
                        type: string
                        description: 颜色
                      modifierName:
                        type: string
                        description: 修改人名字
                      num:
                        type: integer
                        format: int32
                        description: 大板用量(张)
                      organId:
                        type: string
                        description: 当前人组织ID
                      thickness:
                        type: number
                        format: bigdecimal
                        description: 厚
                      usesPercentage:
                        type: number
                        format: bigdecimal
                        description: 利用率
                      width:
                        type: number
                        format: bigdecimal
                        description: 宽
                    required:
                    - createTime
                    - id
              example:
                msg: ''
                code: 0
                data:
                - batchNo: ''
                  thickness: 0
                  num: 0
                  creatorName: ''
                  deptId: ''
                  length: 0
                  batchId: 0
                  basicMaterial: ''
                  usesPercentage: 0
                  materCode: ''
                  material: ''
                  createTime: ''
                  width: 0
                  organId: ''
                  id: 0
                  modifierName: ''
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/factoryBatchOp/getFactoryBatchFileList:
    post:
      operationId: apiFactoryBatchOpGetFactoryBatchFileList
      summary: 全线通--通过批次ID或者批次号批次优化附件列表
      tags:
      - AIMES
      x-source-documentation: https://dev.3vjia.com/document?apiId=683004993405603934
      x-documentation-category: AIMES系统 / 排产优化
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                factoryBatchCode:
                  type: string
                  description: 批次号
                factoryBatchId:
                  type: integer
                  format: int64
                  description: 批次ID
            example:
              factoryBatchId: 0
              factoryBatchCode: ''
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
                    properties:
                      bizId:
                        type: integer
                        format: int64
                        description: 业务ID
                      bizType:
                        type: string
                        description: 业务类型，详见枚举
                      createTime:
                        type: string
                        format: date-time
                        description: 创建时间
                      creator:
                        type: string
                        description: 创建者
                      creatorName:
                        type: string
                        description: 创建者名称
                      fileKey:
                        type: string
                      fileName:
                        type: string
                        description: 文件名称
                      fileSize:
                        type: integer
                        format: int64
                        description: 文件大小
                      fileType:
                        type: string
                        description: 文件类型
                      id:
                        type: integer
                        format: int64
                        description: 主键id
                      modifierName:
                        type: string
                        description: 修改者名称
                      organId:
                        type: string
                        description: 机构ID
                      url:
                        type: string
                        description: 附件路径
                    required:
                    - createTime
                    - id
              example:
                msg: ''
                code: 0
                data:
                - creator: ''
                  fileName: ''
                  bizType: ''
                  creatorName: ''
                  fileKey: ''
                  url: ''
                  createTime: ''
                  fileSize: 0
                  bizId: 0
                  organId: ''
                  id: 0
                  modifierName: ''
                  fileType: ''
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/factoryOrderOp/batchRedistributionOp:
    post:
      operationId: apiFactoryOrderOpBatchRedistributionOp
      summary: 重新指派（接单员、审单员、报价员）
      tags:
      - AIMES
      x-source-documentation: https://dev.3vjia.com/document?apiId=778188431338651703
      x-documentation-category: AIMES系统 / 订单管理
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                distributionType:
                  type: string
                  description: 分配规则类型 (receiving_order:接单分配,split_order:拆单分配,quote_order:报价员分配
                factoryOrderCodes:
                  type: array
                  items: {}
                  description: 订单号集合
                factoryOrderIds:
                  type: array
                  items: {}
                  description: 工厂订单IDS
                operationRemark:
                  type: string
                  description: 操作备注信息
                userId:
                  type: string
                  description: 用户ID
                userName:
                  type: string
                  description: 用户姓名
              required:
              - distributionType
              - userName
            example:
              distributionType: ''
              factoryOrderCodes: []
              userName: ''
              userId: ''
              factoryOrderIds: []
              operationRemark: ''
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
              example:
                msg: ''
                code: 0
                data: false
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/factoryOrderOp/batchReturnFactoryOrderByShopOrder:
    post:
      operationId: apiFactoryOrderOpBatchReturnFactoryOrderByShopOrder
      summary: 按销售单批量退回关联工厂订单
      tags:
      - AIMES
      x-source-documentation: https://dev.3vjia.com/document?apiId=853221090548400190
      x-documentation-category: AIMES系统 / 订单管理
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                goBackFlowNodeId:
                  type: integer
                  format: int64
                  description: 退回到工厂时的目标流程节点ID
                goBackReason:
                  type: string
                  description: 退回原因
                shopOrderId:
                  type: integer
                  format: int64
                  description: 销售单ID
                type:
                  type: integer
                  format: int32
                  description: 退回终端：5-门店，6-工厂；默认门店
              required:
              - shopOrderId
            example:
              goBackReason: ''
              goBackFlowNodeId: 0
              type: 0
              shopOrderId: 0
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
              example:
                msg: ''
                code: 0
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/factoryOrderOp/batchSplitOrderConfirm:
    post:
      operationId: apiFactoryOrderOpBatchSplitOrderConfirm
      summary: 批量拆单确认
      tags:
      - AIMES
      x-source-documentation: https://dev.3vjia.com/document?apiId=791363623061704705
      x-documentation-category: AIMES系统 / 订单管理
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                platformOrderCodes:
                  type: array
                  items: {}
                  description: 工厂单号集合，和工厂单ID二选一
                platformOrderIds:
                  type: array
                  items: {}
                  description: 工厂单ID集合，工厂单号二选一。
            example:
              platformOrderIds: []
              platformOrderCodes: []
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
              example:
                msg: ''
                code: 0
                data: false
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/factoryOrderOp/batchUpFactoryPayStatus:
    post:
      operationId: apiFactoryOrderOpBatchUpFactoryPayStatus
      summary: 修改付款状态(外部企业状态和备注)
      tags:
      - AIMES
      x-source-documentation: https://dev.3vjia.com/document?apiId=798917268808548481
      x-documentation-category: AIMES系统 / 订单管理
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                factoryOrderCodes:
                  type: array
                  items: {}
                  description: 订单编号集合或者订单ID集合 必填
                orderIds:
                  type: array
                  items: {}
                  description: 订单编号集合或者订单ID集合 必填
                payStatus:
                  type: integer
                  format: int32
                  description: 支付状态（0=待付款; 1=已结清; 2=部分付款）
                receivingRemarks:
                  type: string
                  description: 企业解析备注
                receivingStatus:
                  type: string
                  description: 企业解析状态（1=已解析; 2=解析失败）
              required:
              - payStatus
            example:
              factoryOrderCodes: []
              receivingStatus: ''
              receivingRemarks: ''
              orderIds: []
              payStatus: 0
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
              example:
                msg: ''
                code: 0
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/factoryOrderOp/batchUpdateCustomOrderNo:
    post:
      operationId: apiFactoryOrderOpBatchUpdateCustomOrderNo
      summary: 批量修改自定义单号(通用)
      tags:
      - AIMES
      x-source-documentation: https://dev.3vjia.com/document?apiId=781484908794232925
      x-documentation-category: AIMES系统 / 订单管理
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                customOrderNo:
                  type: string
                  description: 自定义单号
                platformOrderCode:
                  type: string
                  description: 订单号工厂单号，和工厂单ID二选一。
                platformOrderId:
                  type: integer
                  format: int64
                  description: 工厂单ID，和工厂单号二选一。
            example:
            - customOrderNo: ''
              platformOrderCode: ''
              platformOrderId: 0
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
              example:
                msg: ''
                code: 0
                data: false
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/factoryOrderOp/getFactoryOrderBySchemeId:
    post:
      operationId: apiFactoryOrderOpGetFactoryOrderBySchemeId
      summary: 根据方案ID获取工厂单列表
      tags:
      - AIMES
      x-source-documentation: https://dev.3vjia.com/document?apiId=642008607898091577
      x-documentation-category: AIMES系统 / 订单数据 / 工厂单
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                schemeId:
                  type: string
                  description: 方案ID
            example:
              schemeId: ''
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
                    properties:
                      acceptTime:
                        type: string
                        format: date-time
                        description: 接单时间
                      acceptUserId:
                        type: string
                        description: 接单人用户ID
                      acceptUserRealName:
                        type: string
                        description: 接单人
                      addAmount:
                        type: number
                        format: bigdecimal
                        description: 附加费用金额
                      amountConfirm:
                        type: number
                        format: bigdecimal
                        description: 已确认金额
                      amountNotConfirm:
                        type: number
                        format: bigdecimal
                        description: 待确认金额
                      amountWaitPayment:
                        type: number
                        format: bigdecimal
                        description: 未付金额
                      appointedBomUserId:
                        type: string
                        description: 指定的拆单人用户ID
                      appointedBomUserRealName:
                        type: string
                        description: 指定的拆单人姓名
                      assignBomTime:
                        type: string
                        format: date-time
                        description: 分配拆单人时间
                      assignBomUserId:
                        type: string
                        description: 分配拆单人用户ID
                      assignBomUserRealName:
                        type: string
                        description: 分配拆单人姓名
                      autoSplitRemark:
                        type: string
                        description: 自动拆单备注
                      autoSplitStatus:
                        type: integer
                        format: int32
                        description: 自动拆单状态，0-非自动拆单，1-自动拆单中，2-自动拆单结束
                      autoSplitStatusDesc:
                        type: string
                        description: 自动拆单状态
                      autoSplitTaskStatus:
                        type: integer
                        format: int32
                        description: 自动拆单任务状态
                      autoSplitTaskStatusDesc:
                        type: string
                        description: 自动拆单任务状态
                      basicMaterial:
                        type: string
                        description: 主颜色
                      batchId:
                        type: integer
                        format: int64
                        description: 批次Id
                      batchNo:
                        type: string
                        description: 批次号
                      bomTime:
                        type: string
                        format: date-time
                        description: 拆单时间
                      bomUserId:
                        type: string
                        description: 拆单人用户ID
                      bomUserRealName:
                        type: string
                        description: 拆单人
                      branchStoreId:
                        type: string
                        description: 分店ID
                      calculateDeliveryDate:
                        type: string
                        format: date
                        description: 交货期推算日期
                      category:
                        type: string
                        description: 订单类别
                      chargebackStatus:
                        type: integer
                        format: int32
                        description: 退单状态：0-正常；1-接单回退；2-拆单回退
                      color1:
                        type: string
                        description: 颜色1
                      color1Area:
                        type: number
                        format: bigdecimal
                        description: 颜色1面积
                      color2:
                        type: string
                        description: 颜色2
                      color2Area:
                        type: number
                        format: bigdecimal
                        description: 颜色2面积
                      color3:
                        type: string
                        description: 颜色3
                      color3Area:
                        type: number
                        format: bigdecimal
                        description: 颜色3面积
                      color4:
                        type: string
                        description: 颜色4
                      color4Area:
                        type: number
                        format: bigdecimal
                        description: 颜色4面积
                      color5:
                        type: string
                        description: 颜色5
                      color5Area:
                        type: number
                        format: bigdecimal
                        description: 颜色5面积
                      contractNo:
                        type: string
                        description: 合同编号
                      createBatchProgress:
                        type: string
                        description: 是否全部生成批次:0-未生成；1-部分生成;2-已全部生成
                      createOrderUserName:
                        type: string
                      createTime:
                        type: string
                        format: date-time
                        description: 创建时间
                      creatorId:
                        type: string
                        description: 创建人id
                      creatorUserName:
                        type: string
                        description: 创建人用户名
                      customMaterial:
                        type: string
                        description: 改色颜色
                      customOrderItemNo:
                        type: string
                        description: 外部销售订单行号
                      customOrderNo:
                        type: string
                        description: 自定义单号
                      customParameters:
                        type: string
                        description: 自定义参数
                      customSaleOrderNo:
                        type: string
                        description: 外部销售订单号
                      customerAddress:
                        type: string
                        description: 业主地址街道
                      customerArea:
                        type: string
                        description: 业主地址区
                      customerAreaCode:
                        type: string
                        description: 业主地址区行政编号
                      customerCity:
                        type: string
                        description: 业主地址市
                      customerCityCode:
                        type: string
                        description: 业主地址市行政编号
                      customerGender:
                        type: integer
                        format: int32
                        description: 业主性别 （0-未填；1-女；2-男）
                      customerId:
                        type: string
                        description: 业主ID
                      customerName:
                        type: string
                        description: 业主名称
                      customerPhone:
                        type: string
                        description: 业主电话
                      customerPostcode:
                        type: string
                        description: 业主地址邮政编号
                      customerProvince:
                        type: string
                        description: 业主地址省
                      customerProvinceCode:
                        type: string
                        description: 业主地址省行政编号
                      deliveryContact:
                        type: string
                        description: 发货人联系方式
                      deliveryDate:
                        type: string
                        format: date
                        description: 预交货时间
                      deliveryPeriod:
                        type: integer
                        format: int32
                        description: 交货周期
                      deliveryPerson:
                        type: string
                        description: 发货人
                      deliveryQuantity:
                        type: integer
                        format: int32
                        description: 发货件数
                      deliveryStatus:
                        type: integer
                        format: int32
                        description: 发货状态，1-未发货,2-部分发货,3-已发货
                      deliveryTime:
                        type: string
                        format: date-time
                        description: 发货时间
                      deptId:
                        type: string
                        description: 创建人部门ID
                      designerName:
                        type: string
                        description: 设计师
                      designerPhone:
                        type: string
                        description: 设计师电话
                      discountBeforePrice:
                        type: number
                        format: bigdecimal
                        description: 折前金额
                      discountCoefficient:
                        type: number
                        format: bigdecimal
                        description: 折扣系数
                      doorWindowType:
                        type: integer
                        format: int32
                        description: 整木类型，1-板式 2-实木
                      expectPositionCode:
                        type: string
                        description: 预分配库位
                      expectPositionId:
                        type: integer
                        format: int64
                        description: 预分配库位id
                      externalContractCode:
                        type: string
                        description: 外部合同号
                      externalProjectId:
                        type: string
                        description: 外部项目ID
                      factoryAuditOperator:
                        type: string
                        description: 工厂审核人
                      factoryAuditStatus:
                        type: integer
                        format: int32
                        description: 生产审核状态
                      factoryAuditStatusDesc:
                        type: string
                        description: 生产审核状态
                      factoryAuditTime:
                        type: string
                        format: date-time
                        description: 工厂审核时间
                      factoryBaseId:
                        type: integer
                        format: int64
                        description: '''工厂基地id'
                      factoryBaseName:
                        type: string
                        description: '''工厂基地名称'
                      factoryId:
                        type: string
                        description: 下发的工厂ID
                      factoryOrderSchemeFilesResultList:
                        type: array
                        items:
                          type: object
                          properties:
                            bizFileType:
                              type: string
                              description: 附件类型
                            createTime:
                              type: string
                              format: date-time
                              description: 创建时间
                            creatorUserName:
                              type: string
                              description: 创建人用户名
                            factoryOrderSchemeId:
                              type: integer
                              format: int64
                              description: 下单方案ID
                            fileId:
                              type: string
                              description: 文件ID，文件存储的主键ID，可用于删除维护等
                            fileKey:
                              type: string
                              description: 方案文件分类key, cad_xml,quote_xml,cover_image...
                            fileName:
                              type: string
                              description: 文件名称
                            filePath:
                              type: string
                              description: 文件存储路径
                            fileType:
                              type: string
                              description: 文件类型后缀 zip,txt,xml...
                            id:
                              type: integer
                              format: int64
                              description: 主键id
                            modifierUserName:
                              type: string
                              description: 更新人用户名
                            organId:
                              type: string
                              description: 机构ID
                            remark:
                              type: string
                              description: 备注
                            schemeId:
                              type: string
                              description: 3D方案号
                          required:
                          - createTime
                          - id
                        description: 工厂订单单方案文件信息
                      factoryOrderSchemeId:
                        type: integer
                        format: int64
                        description: 工厂订单方案id
                      financingAuditTime:
                        type: string
                        format: date-time
                        description: 财务审核时间
                      financingAuditUserId:
                        type: string
                        description: 财务审核人用户ID
                      financingAuditUserRealName:
                        type: string
                        description: 财务审核人
                      flowCode:
                        type: string
                        description: 订单流程Code
                      flowIconName:
                        type: string
                        description: 流程图标名称
                      flowId:
                        type: integer
                        format: int64
                        description: 订单流程ID
                      flowNodeCode:
                        type: string
                        description: 流程节点Code
                      flowNodeId:
                        type: integer
                        format: int64
                        description: 流程节点ID
                      flowNodeStatusName:
                        type: string
                        description: 流程节点状态名称
                      flowNodeTodoName:
                        type: string
                        description: 流程节点待办名称
                      fullSet1:
                        type: integer
                        format: int32
                        description: 齐套1:0-显示“-”，1-齐套1完成
                      fullSet2:
                        type: integer
                        format: int32
                        description: 齐套2:0-显示“-”，1-齐套2完成
                      globallyUniqueId:
                        type: string
                        description: 全局唯一id
                      id:
                        type: integer
                        format: int64
                        description: 主键id
                      installPosition:
                        type: string
                        description: 安装位置
                      invalidOperateTime:
                        type: string
                        format: date-time
                        description: 作废操作时间
                      invalidOperateUserId:
                        type: string
                        description: 作废操作人ID
                      invalidOperateUserRealName:
                        type: string
                        description: 作废操作人名字
                      isAgainSubmit:
                        type: integer
                        format: int32
                        description: 是否重新提交:0-否，1-是
                      isBomStatus:
                        type: integer
                        format: int32
                        description: 3D拆单状态(0:拆单中，1已拆单)
                      isCanChange:
                        type: integer
                        format: int32
                        description: 是否可以改单，0-否，1-是
                      isCanGoBack:
                        type: integer
                        format: int32
                        description: 是否可退回：0-不可退回 1-可退回
                      isChangeOrder:
                        type: integer
                        format: int32
                        description: 是否改单
                      isCustomColor:
                        type: integer
                        format: int32
                        description: 是否改色
                      isDesignDrawing:
                        type: integer
                        format: int32
                        description: 是否设计出图进行分配:1-是;0-否
                      isDownLoad:
                        type: boolean
                        description: 3D审核列表是否有下载附件
                      isEngineeringOrder:
                        type: integer
                        format: int32
                        description: 是否工程单（0否，1是）
                      isFactoryAuditBack:
                        type: integer
                        format: int32
                        description: 工厂审核是否退回 0=否 1=是，默认1
                      isFactoryOrderAll:
                        type: integer
                        format: int32
                        description: 工厂单齐套，0否，1是
                      isFactoryQuote:
                        type: integer
                        format: int32
                        description: 工厂是否报价，0-否，1-是，用来判断节点是否在报价之后
                      isHandOperater:
                        type: integer
                        format: int32
                        description: 是否手动操作改变生产/入库/发货状态;0-否;1-是
                      isHandOperaterDelivery:
                        type: integer
                        format: int32
                        description: 是否手动操作改变发货;0-否;1-是
                      isHandOperaterWarehouse:
                        type: integer
                        format: int32
                        description: 是否手动操作改变入库;0-否;1-是
                      isHavedPack:
                        type: boolean
                        description: 是否已包装
                      isOutsourcing:
                        type: integer
                        format: int32
                        description: 是否委外（0：否，1：是）
                      isSaleOrderAll:
                        type: integer
                        format: int32
                        description: 销售单齐套  0否，1是
                      isSplitCollaborate:
                        type: integer
                        format: int32
                        description: 是否拆单协作（0：否，1：是）
                      isSuspend:
                        type: integer
                        format: int32
                        description: 是否暂停，0-否，1-是
                      isTableBoard:
                        type: integer
                        format: int32
                        description: 是否有台面板（0：否，1：是）
                      isTempOrder:
                        type: integer
                        format: int32
                        description: 是否临时单(0:否,1:是)
                      isUrgent:
                        type: integer
                        format: int32
                        description: 是否加急
                      isValid:
                        type: integer
                        format: int32
                        description: 是否作废：0=否, 1=是
                      logisticsAddress:
                        type: string
                        description: 物流信息地址
                      material:
                        type: string
                        description: 主材
                      modifierUserName:
                        type: string
                        description: 更新人用户名
                      moduleCode:
                        type: string
                        description: 模块代码 cupboard 橱柜,wardrobe 衣柜,systemCabinet 系统柜,furnitureType 成品,ceilingAll 顶墙,doorWindow 门窗,bathRoom 淋浴房,aluminum 铝门窗
                      moduleName:
                        type: string
                        description: 模块名称 橱柜,衣柜,系统柜,成品,顶墙,门窗,淋浴房,铝门窗
                      natureOfOrder:
                        type: string
                        description: 订单性质
                      nextFlowNodeCode:
                        type: string
                        description: 下一个流程节点Code
                      nextFlowNodeId:
                        type: integer
                        format: int64
                        description: 下一个流程节点ID
                      orderCategoryDictKey:
                        type: string
                        description: 订单品类字典Key
                      orderCategoryDictVal:
                        type: string
                        description: 订单品类字典Value
                      orderCode:
                        type: string
                        description: 订单编号
                      orderName:
                        type: string
                        description: 订单名称
                      orderRebateAmount:
                        type: number
                        format: bigdecimal
                        description: 分摊返利金额
                      orderSource:
                        type: string
                        description: 订单来源(默认mes,金牌：jinp)
                      orderSuit:
                        type: integer
                        format: int32
                        description: 订单套数（默认1，最大999）
                      orderTypeCode:
                        type: string
                        description: 订单类型
                      orderTypeDictKey:
                        type: string
                        description: 订单类型字典Key
                      orderTypeDictVal:
                        type: string
                        description: 订单类型字典Value
                      orderTypeName:
                        type: string
                        description: 订单类型名称
                      organDealerAreaCode:
                        type: string
                        description: 企业经销商归属区域编码
                      organDealerAreaName:
                        type: string
                        description: 企业经销商归属区域名称
                      organDealerCode:
                        type: string
                        description: 企业经销商编号
                      organDealerId:
                        type: integer
                        format: int64
                        description: 企业经销商Id
                      organDealerName:
                        type: string
                        description: 企业经销商名称
                      organId:
                        type: string
                        description: 机构ID
                      originalAmount:
                        type: number
                        format: bigdecimal
                        description: 产品原价格（JSON赋值）不可修改
                      outsourcingButtonStatus:
                        type: integer
                        format: int32
                        description: 外购板件是否MPM扫描包装按钮状态，0-不显示,1-可编辑,2-不可编辑
                      outsourcingPartMpmPacking:
                        type: integer
                        format: int32
                        description: 外购板件是否MPM扫描包装，0-否，1-是'
                      packageAuditStatus:
                        type: integer
                        format: int32
                        description: 分包审核状态，0-待审核，1-已审核
                      payStatus:
                        type: integer
                        format: int32
                        description: 支付状态（0=待付款; 1=未结清; 2=已结清）
                      payTime:
                        type: string
                        format: date-time
                        description: 订单支付时间
                      payWay:
                        type: string
                        description: 支付方式code
                      payWayName:
                        type: string
                        description: 支付方式名称
                      payableAmount:
                        type: number
                        format: bigdecimal
                        description: 订单报价后应付金额（支付价）
                      placeTypeDictKey:
                        type: string
                        description: 下单类型字典Key
                      placeTypeDictVal:
                        type: string
                        description: 下单类型字典Value
                      planDeliveryDate:
                        type: string
                        format: date
                        description: 计划工厂交货日期，财务审核后基于规则计算得出
                      preDistributionQuoterTime:
                        type: string
                        format: date
                        description: 预报价员分配时间
                      preQuoterName:
                        type: string
                        description: 预报价员名称
                      preQuoterUserId:
                        type: string
                        description: 预报价员ID
                      prevFlowNodeId:
                        type: integer
                        format: int64
                        description: 前一个流程节点ID，主要用于回退
                      priceAuditAmounts:
                        type: number
                        format: bigdecimal
                        description: 价格审核总金额
                      priceAuditOperator:
                        type: string
                        description: 价格审核人
                      priceAuditStatus:
                        type: integer
                        format: int32
                        description: 价格审核状态
                      priceAuditStatusDesc:
                        type: string
                        description: 价格审核状态
                      priceAuditTime:
                        type: string
                        format: date-time
                        description: 价格审核时间
                      pricingMethod:
                        type: string
                        description: 取价方式
                      productQty:
                        type: integer
                        format: int32
                      productTotalPrice:
                        type: number
                        format: bigdecimal
                        description: 产品总价
                      productionAmount:
                        type: number
                        format: bigdecimal
                        description: 产品金额
                      productionDataCreateStatus:
                        type: integer
                        format: int32
                        description: 创建生产订单状态 0-未生成;1-生成中;2-生成成功;3-生成失败
                      productionLine:
                        type: string
                        description: 生产线
                      productionSize:
                        type: string
                        description: 尺寸
                      productionSystem:
                        type: string
                        description: 订单生产的生产系统：oms=oms自带合批排产, aps=使用aps系统排产生产
                      productionTime:
                        type: string
                        format: date-time
                        description: 生产时间
                      projectId:
                        type: string
                        description: 项目id
                      projectName:
                        type: string
                        description: 项目名称
                      quoteJsonUrl:
                        type: string
                        description: 报价jsonURL
                      quoteTime:
                        type: string
                        format: date-time
                        description: 报价时间
                      rebateBillSettlementAmount:
                        type: number
                        format: bigdecimal
                        description: 返利结算金额
                      rebatePrice:
                        type: number
                        format: bigdecimal
                        description: 返利金额
                      rebatesSettlementAmount:
                        type: number
                        format: bigdecimal
                        description: 返点结算金额
                      receiverAddress:
                        type: string
                        description: 收货人地址街道
                      receiverArea:
                        type: string
                        description: 收货人地址区
                      receiverAreaCode:
                        type: string
                        description: 收货人地址区行政编号
                      receiverCity:
                        type: string
                        description: 收货人地址市
                      receiverCityCode:
                        type: string
                        description: 收货人地址市行政编号
                      receiverGender:
                        type: integer
                        format: int32
                        description: 收货人性别 （0-未填；1-女；2-男）
                      receiverName:
                        type: string
                        description: 收货人姓名
                      receiverPhone:
                        type: string
                        description: 收货人电话
                      receiverPostcode:
                        type: string
                        description: 收货人地址邮编
                      receiverProvince:
                        type: string
                        description: 收货人地址省
                      receiverProvinceCode:
                        type: string
                        description: 收货人地址省行政编号
                      receiverType:
                        type: string
                        description: 收货人类型 customer=业主 shop=门店
                      receivingRemarks:
                        type: string
                        description: 企业解析备注
                      receivingStatus:
                        type: string
                        description: 企业解析状态
                      relateFactoryOrderCode:
                        type: string
                        description: 关联工厂单编号
                      relateFactoryOrderId:
                        type: integer
                        format: int64
                        description: 关联工厂单ID
                      remarks:
                        type: string
                        description: 3D下单备注
                      roomName:
                        type: string
                        description: 空间名称
                      saleOrderCode:
                        type: string
                        description: 售后子订单编号
                      saleOrderId:
                        type: integer
                        format: int64
                        description: 售后子订单ID
                      salesName:
                        type: string
                        description: 销售
                      salesPrice:
                        type: number
                        format: bigdecimal
                        description: 销售价
                      salesQuoteJsonUrl:
                        type: string
                        description: 销售价报价json
                      schemeId:
                        type: string
                        description: 3D方案号
                      schemeName:
                        type: string
                        description: 方案名称
                      schemePreviewImage:
                        type: string
                        description: 方案预览图
                      schemeRemark:
                        type: string
                        description: 方案备注
                      schemeVersion:
                        type: string
                        description: 方案版本号
                      settlementAmount:
                        type: number
                        format: bigdecimal
                        description: 结算金额
                      shipmentType:
                        type: string
                        description: 出货类型
                      shopAuditOperator:
                        type: string
                        description: 门店审核人
                      shopAuditStatus:
                        type: integer
                        format: int32
                        description: 门店审核状态
                      shopAuditStatusDesc:
                        type: string
                        description: 门店审核状态
                      shopAuditTime:
                        type: string
                        format: date-time
                        description: 门店审核时间
                      shopCode:
                        type: string
                        description: 门店编码
                      shopDeptId:
                        type: string
                        description: 经销商所在部门id
                      shopId:
                        type: string
                        description: 经销商ID
                      shopName:
                        type: string
                        description: 经销商名称
                      shopOrderCode:
                        type: string
                        description: 门店订单Code
                      shopOrderId:
                        type: integer
                        format: int64
                        description: 门店订单ID
                      shopOrderName:
                        type: string
                        description: 销售订单名称
                      shopOrderRemark:
                        type: string
                        description: 门店订单备注
                      shopOrderSubmitTime:
                        type: string
                        format: date-time
                        description: 店铺订单提交时间
                      splitNum:
                        type: integer
                        format: int32
                        description: 拆单次数
                      splitOrderImage:
                        type: string
                        description: 拆单主图
                      splitStatus:
                        type: integer
                        format: int32
                        description: 拆单状态：-1-退回;0-未拆单；1-拆单中；2-已拆单
                      splitXmlUrl:
                        type: string
                        description: 拆单方案xml路径
                      submitUserId:
                        type: string
                        description: 店铺订单提交人用户ID
                      submitUserName:
                        type: string
                        description: 店铺订单提交人账号
                      submitUserPhone:
                        type: string
                        description: 店铺订单提交人手机号码
                      submitUserRealName:
                        type: string
                        description: 店铺订单提交人用户姓名
                      suspendTime:
                        type: string
                        format: date-time
                        description: 订单暂停时间
                      suspendUserId:
                        type: string
                        description: 订单暂停人用户ID
                      suspendUserRealName:
                        type: string
                        description: 订单暂停人姓名
                      systemEnvironment:
                        type: string
                      taxCategory:
                        type: string
                        description: 税种
                      totalArea:
                        type: number
                        format: bigdecimal
                        description: 展开面积（平米）
                      totalPrice:
                        type: number
                        format: bigdecimal
                        description: 订单总价（原价）
                      tradePrice:
                        type: number
                        format: bigdecimal
                        description: 交易单价
                      unitCategoryName:
                        type: string
                        description: 商品品类名称
                      urlParam:
                        type: string
                        description: 外部参数
                      validReason:
                        type: string
                        description: 作废原因
                      warehousingTime:
                        type: string
                        format: date-time
                        description: 入库时间
                      workOrderNo:
                        type: string
                        description: 外部工单号
                    required:
                    - createTime
                    - id
              example:
                msg: ''
                code: 0
                data:
                - customerPostcode: ''
                  financingAuditUserRealName: ''
                  productionDataCreateStatus: 0
                  customMaterial: ''
                  salesPrice: 0
                  color5: ''
                  basicMaterial: ''
                  color3: ''
                  color4: ''
                  color1: ''
                  color2: ''
                  color2Area: 0
                  rebateBillSettlementAmount: 0
                  receiverPhone: ''
                  isFactoryOrderAll: 0
                  isOutsourcing: 0
                  customerAreaCode: ''
                  isEngineeringOrder: 0
                  rebatesSettlementAmount: 0
                  deliveryContact: ''
                  customerProvinceCode: ''
                  externalContractCode: ''
                  placeTypeDictKey: ''
                  isFactoryQuote: 0
                  orderRebateAmount: 0
                  customerAddress: ''
                  financingAuditUserId: ''
                  designerPhone: ''
                  relateFactoryOrderId: 0
                  deptId: ''
                  orderTypeDictVal: ''
                  customerArea: ''
                  customerName: ''
                  isDownLoad: false
                  splitStatus: 0
                  warehousingTime: ''
                  unitCategoryName: ''
                  flowNodeTodoName: ''
                  assignBomTime: ''
                  invalidOperateTime: ''
                  deliveryStatus: 0
                  schemePreviewImage: ''
                  priceAuditOperator: ''
                  chargebackStatus: 0
                  payWayName: ''
                  deliveryTime: ''
                  relateFactoryOrderCode: ''
                  priceAuditAmounts: 0
                  factoryAuditStatus: 0
                  saleOrderId: 0
                  acceptUserRealName: ''
                  bomUserId: ''
                  payableAmount: 0
                  customOrderNo: ''
                  shipmentType: ''
                  autoSplitTaskStatusDesc: ''
                  splitXmlUrl: ''
                  isHavedPack: false
                  autoSplitStatusDesc: ''
                  customerId: ''
                  receivingRemarks: ''
                  factoryBaseId: 0
                  workOrderNo: ''
                  isSaleOrderAll: 0
                  orderName: ''
                  shopOrderCode: ''
                  autoSplitRemark: ''
                  moduleCode: ''
                  priceAuditTime: ''
                  fullSet2: 0
                  fullSet1: 0
                  orderTypeName: ''
                  organDealerCode: ''
                  salesQuoteJsonUrl: ''
                  validReason: ''
                  createTime: ''
                  customParameters: ''
                  organDealerAreaName: ''
                  totalArea: 0
                  isHandOperaterDelivery: 0
                  productionSize: ''
                  isCanGoBack: 0
                  isBomStatus: 0
                  payTime: ''
                  isHandOperater: 0
                  suspendUserId: ''
                  receiverProvince: ''
                  autoSplitStatus: 0
                  preDistributionQuoterTime: ''
                  customOrderItemNo: ''
                  systemEnvironment: ''
                  productionLine: ''
                  shopId: ''
                  isCustomColor: 0
                  isDesignDrawing: 0
                  isTableBoard: 0
                  batchNo: ''
                  flowNodeId: 0
                  shopAuditStatus: 0
                  color5Area: 0
                  addAmount: 0
                  schemeName: ''
                  flowNodeStatusName: ''
                  isAgainSubmit: 0
                  receiverAddress: ''
                  factoryAuditTime: ''
                  salesName: ''
                  projectName: ''
                  projectId: ''
                  tradePrice: 0
                  doorWindowType: 0
                  isSuspend: 0
                  preQuoterName: ''
                  receiverGender: 0
                  appointedBomUserRealName: ''
                  isHandOperaterWarehouse: 0
                  createBatchProgress: ''
                  shopOrderName: ''
                  orderCategoryDictVal: ''
                  flowCode: ''
                  natureOfOrder: ''
                  deliveryQuantity: 0
                  flowId: 0
                  color1Area: 0
                  packageAuditStatus: 0
                  shopAuditOperator: ''
                  outsourcingPartMpmPacking: 0
                  suspendTime: ''
                  orderTypeDictKey: ''
                  schemeVersion: ''
                  quoteJsonUrl: ''
                  quoteTime: ''
                  material: ''
                  originalAmount: 0
                  productionAmount: 0
                  orderCode: ''
                  invalidOperateUserId: ''
                  receiverProvinceCode: ''
                  schemeRemark: ''
                  pricingMethod: ''
                  isFactoryAuditBack: 0
                  moduleName: ''
                  receiverCity: ''
                  urlParam: ''
                  orderCategoryDictKey: ''
                  receiverAreaCode: ''
                  amountConfirm: 0
                  assignBomUserId: ''
                  bomTime: ''
                  isTempOrder: 0
                  id: 0
                  autoSplitTaskStatus: 0
                  shopDeptId: ''
                  deliveryPerson: ''
                  factoryId: ''
                  splitNum: 0
                  isSplitCollaborate: 0
                  acceptTime: ''
                  receiverPostcode: ''
                  organDealerId: 0
                  color4Area: 0
                  factoryBaseName: ''
                  flowIconName: ''
                  shopOrderId: 0
                  receiverType: ''
                  externalProjectId: ''
                  organId: ''
                  nextFlowNodeId: 0
                  productQty: 0
                  isUrgent: 0
                  factoryAuditStatusDesc: ''
                  totalPrice: 0
                  contractNo: ''
                  priceAuditStatusDesc: ''
                  customerPhone: ''
                  customerCityCode: ''
                  amountNotConfirm: 0
                  invalidOperateUserRealName: ''
                  deliveryDate: ''
                  globallyUniqueId: ''
                  saleOrderCode: ''
                  shopCode: ''
                  customerGender: 0
                  isValid: 0
                  preQuoterUserId: ''
                  discountCoefficient: 0
                  splitOrderImage: ''
                  installPosition: ''
                  modifierUserName: ''
                  assignBomUserRealName: ''
                  settlementAmount: 0
                  isChangeOrder: 0
                  orderTypeCode: ''
                  color3Area: 0
                  productTotalPrice: 0
                  payWay: ''
                  branchStoreId: ''
                  submitUserPhone: ''
                  shopAuditStatusDesc: ''
                  createOrderUserName: ''
                  factoryAuditOperator: ''
                  deliveryPeriod: 0
                  productionSystem: ''
                  bomUserRealName: ''
                  customerProvince: ''
                  planDeliveryDate: ''
                  roomName: ''
                  submitUserId: ''
                  taxCategory: ''
                  shopAuditTime: ''
                  suspendUserRealName: ''
                  discountBeforePrice: 0
                  receivingStatus: ''
                  isCanChange: 0
                  factoryOrderSchemeFilesResultList:
                  - bizFileType: ''
                    fileName: ''
                    creatorUserName: ''
                    filePath: ''
                    factoryOrderSchemeId: 0
                    fileKey: ''
                    remark: ''
                    schemeId: ''
                    modifierUserName: ''
                    createTime: ''
                    organId: ''
                    id: 0
                    fileType: ''
                    fileId: ''
                  financingAuditTime: ''
                  logisticsAddress: ''
                  creatorUserName: ''
                  creatorId: ''
                  receiverCityCode: ''
                  shopName: ''
                  schemeId: ''
                  customerCity: ''
                  expectPositionId: 0
                  batchId: 0
                  expectPositionCode: ''
                  submitUserName: ''
                  orderSuit: 0
                  outsourcingButtonStatus: 0
                  organDealerName: ''
                  placeTypeDictVal: ''
                  priceAuditStatus: 0
                  shopOrderRemark: ''
                  organDealerAreaCode: ''
                  orderSource: ''
                  acceptUserId: ''
                  customSaleOrderNo: ''
                  amountWaitPayment: 0
                  calculateDeliveryDate: ''
                  receiverName: ''
                  factoryOrderSchemeId: 0
                  receiverArea: ''
                  submitUserRealName: ''
                  designerName: ''
                  flowNodeCode: ''
                  rebatePrice: 0
                  shopOrderSubmitTime: ''
                  category: ''
                  prevFlowNodeId: 0
                  nextFlowNodeCode: ''
                  payStatus: 0
                  productionTime: ''
                  appointedBomUserId: ''
                  remarks: ''
                success: false
        '401':
          description: access_token 缺失或已过期 / missing or expired access_token
  /api/factoryOrderOp/getFactoryOrderListNew:
    post:
      operationId: apiFactoryOrderOpGetFactoryOrderListNew
      summary: 获取销售单ID工厂订单列表（新）
      tags:
      - AIMES
      x-source-documentation: https://dev.3vjia.com/document?apiId=878283231269658737
      x-documentation-category: AIMES系统 / 订单数据 / 工厂单
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                orderID:
                  type: integer
                  format: int64
                  description: 销售订单ID
            example:
              orderID: 0
      responses:
        '200':
          description: 成功 / OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 请求是否成功 / whether the call succeeded
                  code:
                    type: integer
                    description: 结果码 / result code (0 = success)
                  msg:
                    type: string
                    description: 提示信息 / message
                  data:
                    type: object
                    properties:
                      acceptTime:
                        type: string
                        format: date-time
                        description: 接单时间
                      acceptUserId:
                        type: string
                        description: 接单人用户ID
                      acceptUserRealName:
                        type: string
                        description: 接单人
                      addAmount:
                        type: number
                        format: bigdecimal
                        description: 附加费用金额
                      amountConfirm:
                        type: number
                        format: bigdecimal
                        description: 已确认金额
                      amountNotConfirm:
                        type: number
                        format: bigdecimal
                        description: 待确认金额
                      amountWaitPayment:
                        type: number
                        format: bigdecimal
                        description: 未付金额
                      appointedBomUserId:
                        type: string
                        description: 指定的拆单人用户ID
                      appointedBomUserRealName:
                        type: string
                        description: 指定的拆单人姓名
                      areaUsage:
                        type: number
                        format: bigdecimal
                        description: 面积用量
                      assignBomTime:
                        type: string
                        format: date-time
                        description: 分配拆单人时间
                      assignBomUserId:
                        type: string
                        description: 分配拆单人用户ID
                      assignBomUserRealName:
                        type: string
                        description: 分配拆单人姓名
                      autoSplitRemark:
                        type: string
                        description: 自动拆单备注
                      autoSplitStatus:
                        type: integer
                        format: int32
                        description: 自动拆单状态，0-非自动拆单，1-自动拆单中，2-自动拆单结束
                      autoSplitStatusDesc:
                        type: string
                        description: 自动拆单状态
                      autoSplitTaskStatus:
                        type: integer
                        format: int32
                        description: 自动拆单任务状态
                      autoSplitTaskStatusDesc:
                        type: string
                        description: 自动拆单任务状态
                      basicMaterial:
                        type: string
                        description: 主颜色
                      batchId:
                        type: integer
                        format: int64
                        description: 批次Id
                      batchNo:
                        type: string
                        description: 批次号
                      bomDetectionResult:
                        type: string
                        description: 拆单检测结果url地址
                      bomTime:
                        type: string
                        format: date-time
                        description: 拆单时间
                      bomUserId:
                        type: string
                        description: 拆单人用户ID
                      bomUserRealName:
                        type: string
                        description: 拆单人
                      branchStoreId:
                        type: string
                        description: 分店ID
                      cabinetNo:
                        type: string
                        description: 樘号
                      calculateDeliveryDate:
                        type: string
                        format: date
                        description: 交货期推算日期
                      category:
                        type: string
                        description: 订单类别
                      chargebackName:
                        type: string
                        description: 退回人
                      chargebackReason:
                        type: string
                        description: 退回原因
                      chargebackStatus:
                        type: integer
                        format: int32
                        description: 退单状态：0-正常；1-接单回退；2-拆单回退
                      chargebackStatusDesc:
                        type: string
                        description: 退回状态描述
                      chargebackTime:
                        type: string
                        format: date-time
                        description: 退回时间
                      color1:
                        type: string
                        description: 颜色1
                      color1Area:
                        type: number
                        format: bigdecimal
                        description: 颜色1面积
                      color2:
                        type: string
                        description: 颜色2
                      color2Area:
                        type: number
                        format: bigdecimal
                        description: 颜色2面积
                      color3:
                        type: string
                        description: 颜色3
                      color3Area:
                        type: number
                        format: bigdecimal
                        description: 颜色3面积
                      color4:
                        type: string
                        description: 颜色4
                      color4Area:
                        type: number
                        format: bigdecimal
                        description: 颜色4面积
                      color5:
                        type: string
                        description: 颜色5
                      color5Area:
                        type: number
                        format: bigdecimal
                        description: 颜色5面积
                      contractNo:
                        type: string
                        description: 合同编号
                      createBatchProgress:
                        type: string
                        description: 是否全部生成批次:0-未生成；1-部分生成;2-已全部生成
                      createOrderUserName:
                        type: string
                      createTime:
                        type: string
                        format: date-time
                        description: 创建时间
                      creatorId:
                        type: string
                        description: 创建人id
                      creatorUserName:
                        type: string
                        description: 创建人用户名
                      customMaterial:
                        type: string
                        description: 改色颜色
                      customOrderItemNo:
[...]
